<el-dialog title="推荐" v-model="recommendFormDialog" @open="beforeRecommend" >
<el-form ref="recommendForm"  :model="recommendForm" size="small" label-width="140px">
    <el-row>
      <el-col :span="20">
        <el-form-item prop="title" >
            <el-input
              placeholder="请输入主题"
              v-model="recommendForm.title">
            </el-input>
           
        </el-form-item>
      </el-col>
      
    </el-row>

    <el-row>
      <el-col :span="20">
        <el-form-item prop="content" >
            <el-input

              type="textarea"
              :rows="3"
              placeholder="请输入内容"
              v-model="recommendForm.content">
            </el-input>
           
        </el-form-item>
      </el-col>
      
    </el-row>

</el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="closeDialog('recommend')">暂不推荐</el-button>
        <el-button type="primary" v-show="!recommendFormSubmitStatus" @click="recommendFormSubmit(page.recommendUrl, 'recommend')" >推荐</el-button>
        <el-button type="primary" v-show="recommendFormSubmitStatus" :loading="true" >提交中</el-button>
    </div>
</el-dialog>