<el-row>
   <el-col :span="24">
      <el-tabs  type="border-card">
        <el-tab-pane label="跟踪记录">
          <el-table :data="tableData" empty-text="请点击客户显示跟踪信息" border style="width: 100%" @row-dblclick="viewtraceContents">
            <el-table-column prop="user" label="操作员工" header-align="center">
            </el-table-column>

            <!-- <el-table-column prop="type" label="客户类型(当前)" header-align="center">
            </el-table-column> -->

           <!--  <el-table-column prop="name" label="客户姓名" header-align="center">
            </el-table-column> -->
            
          <el-table-column label="内容" header-align="center">
            <template scope="scope">
              {{scope.row.content | handleString}}
            </template>
          </el-table-column>

            <el-table-column prop="created_at" label="跟踪时间" width="180" align="center">
            </el-table-column>

            <el-table-column prop="track_text" label="跟踪类型" header-align="center">
            </el-table-column>

          <el-table-column prop="step" label="跟踪步骤" header-align="center">
          </el-table-column>

          </el-table>
        </el-tab-pane>
        <el-tab-pane label="购买纪录">
          <el-table :data="tableDataOne" empty-text="请点击客户显示其客户资料" border style="width: 100%">
          <el-table-column label="产品金额" prop="product_money" header-align="center">
          </el-table-column>

          <el-table-column label="产品名称" prop="product_name" header-align="center">
          </el-table-column>

          <el-table-column label="产品周期" prop="product_t" header-align="center">
          </el-table-column>

          <el-table-column label="购买时间" prop="buy_time" header-align="center">
          </el-table-column>
          
          </el-table>
        </el-tab-pane>
      <el-tab-pane label="投诉记录">
        <el-table :data="tableDataTwo"  empty-text="请点击客户显示跟踪信息" border style="width: 100%"  @row-dblclick="viewComplainContents">
            <el-table-column prop="user" label="操作员工" header-align="center">
            </el-table-column>
            
            <el-table-column label="投诉内容" header-align="center">
              <template scope="scope">
                {{scope.row.content | handleString}}
              </template>
            </el-table-column>

            <el-table-column prop="created_at" label="投诉时间" width="180" align="center">
            </el-table-column>

            <el-table-column prop="type_text" label="投诉类型" align="center">
            </el-table-column>
        </el-table>
      </el-tab-pane>
      </el-tabs>
   </el-col>
  </el-row>