<extend name="Common:base" />
<block name="head">
  <style>
  .check-select {
    width: 100px;
  }
  </style>
  
</block>
<block name="body">
    <div id="app" class="container">
        <div class="wrapp" v-show="show" style="display: none">
            <el-row>
                <el-col :span="24">
                    <el-form :inline="true"  ref="searchForm" :model="searchForm">
                      <el-form-item style="display: none;" prop="id">
                        <el-input  v-model="searchForm.id"></el-input>
                      </el-form-item>
                      
                      <el-form-item prop="name" >
                        <el-input placeholder="请输入查询姓名" size="small" v-model="searchForm.name"></el-input>
                      </el-form-item>

                      <el-form-item prop="risk_state">
                        <el-select v-model="searchForm.risk_state" size="small" placeholder="审查专员状态" class="check-select" clearable>
                          <el-option 
                            v-for="checkItem in checkOptions" 
                            :label="checkItem.label"
                            :value="checkItem.value"></el-option>
                        </el-select>
                      </el-form-item>

                      <el-form-item prop="callback_state">
                        <el-select v-model="searchForm.callback_state" size="small" placeholder="回访专员状态" class="check-select" clearable>
                          <el-option 
                            v-for="checkItem in checkOptions" 
                            :label="checkItem.label"
                            :value="checkItem.value"></el-option>
                        </el-select>
                      </el-form-item>

                      <el-form-item prop="status">
                        <el-select v-model="searchForm.status" size="small" placeholder="材料专员状态" class="check-select" clearable>
                          <el-option 
                            v-for="statusItem in statusOptions" 
                            :label="statusItem.label"
                            :value="statusItem.value"></el-option>
                        </el-select>
                      </el-form-item>

                      

                      <el-form-item>
                        <el-tooltip content="选择左边条件后点击查询" placement="right">
                          <el-button type="primary" icon="search" size="small" @click="search" >查询</el-button> 
                        </el-tooltip>
                        
                        <el-tooltip content="录入高级查询条件"  style="margin-left:10px;">
                          <el-button  @click="openDialog('advancedQuery')" size="small" type="primary">{:L('ADVANCED_QUERY')}</el-button>
                        </el-tooltip>
                        

                        <el-tooltip content="清空搜索框及查询条件并刷新表格数据" placement="right" style="margin-left:10px;">
                          <el-button  @click="searchReset" size="small" >重置</el-button>
                        </el-tooltip>

                        <el-tooltip content="点击刷新当前页面" placement="right" style="margin-left:10px;">
                          <el-button @click="refresh" size="small" type="danger" >刷新</el-button>
                        </el-tooltip>

                      </el-form-item>
                    </el-form>
                </el-col>   
            </el-row>
            <!-- datatables  -->
            <el-row>
                <el-col :span="24">
                    <el-table 
                    :data="dataList" 
                    border    
                    highlight-current-row
                    v-loading="dataLoad"
                    element-loading-text="{:L('DATA_LOGIN')}"
                    @selection-change="handleSelectionChange"
                    @row-click="trackLog">

<!--                         <el-table-column type="selection"  align="center" width="50">
                        </el-table-column> -->

                        <el-table-column label="序号"  align="center" width="65" :formatter="handleIndex"  >
                        </el-table-column>
                        <el-table-column label="类型" align="center" width="80">
                          <template scope="scope">
                              <span v-if="scope.row.type==0" type="primary">购买</span>
                              <span v-else-if="scope.row.type==1" type="primary">升级</span>
                              <span v-else type="primary">续费</span>
                          </template>
                        </el-table-column>
                        <el-table-column   label="客户姓名" width="120" prop="cb_name" header-align="center">
                        </el-table-column>

                        <el-table-column prop="db_realname"  label="跟踪员工" header-align="center" width="180">
                           
                        </el-table-column>

                        <el-table-column label="商品名称"  prop="product_name" header-align="center" width="180">
                        </el-table-column>

                        <el-table-column label="商品价格" width="100"  prop="product_money" header-align="center">
                        </el-table-column>

                        <el-table-column label="风控审核" width="100" align="center" prop="risk_state">
                          <template scope="scope">
                              <el-tag v-if="scope.row.risk_state==-1">未通过</el-tag>
                              <el-tag v-else-if="scope.row.risk_state==1">通过</el-tag>
                              <el-tag v-else="scope.row.risk_state==0">待审核</el-tag>
                          </template>
                        </el-table-column>

                        <el-table-column label="审查专员" width="100" prop="risk_name" header-align="center">
                        </el-table-column>

                        <el-table-column label="回访审核" width="100" align="center" prop="callback_state">
                          <template scope="scope">
                              <el-tag v-if="scope.row.callback_state==-1">未通过</el-tag>
                              <el-tag v-else-if="scope.row.callback_state==1">通过</el-tag>
                              <el-tag v-else="scope.row.callback_state==0">待审核</el-tag>
                          </template>
                        </el-table-column>

                        <el-table-column label="回访专员" width="100" prop="callback_name" header-align="center">
                        </el-table-column>

                        <el-table-column label="购买时间" width="120" prop="buy_time" align="center">
                        </el-table-column>
                        
                        <el-table-column prop="datastaff_name" width="100" label="材料专员"></el-table-column>
                        
                        <el-table-column label="开单"  align="center">
                          <template scope="scope">
                              <span v-if="scope.row.status==0" type="primary">未开单</span>
                              <span v-else type="primary">已开单</span>
                          </template>
                        </el-table-column>

                        <el-table-column label="操作" align="center">
                            <template scope="scope">
                                <el-button size="small" type="info" @click="checkCustomer(scope.row.cus_id)">查看客户</el-button>
<!--                                 <el-button type="danger" size="small" @click="handleDelete(scope.$index, scope.row)">删除</el-button> -->
                            </template>
                        </el-table-column>
                        
                        
                    </el-table>
                </el-col>
            </el-row>
            <!-- / datatables  -->
            

            <!-- toolbar -->
            <el-row type="type"  justify="space-between" align="middle"  class="row-bg">
              <el-col :span="12" :offset="12">
                  <div class="grid-content bg-purple-light pull-right">
                    <!-- page -->
                    <include file="Common:_pagination" />
                    <!-- / page -->
                  </div>
              </el-col>
            </el-row>
            <!-- / toolbar -->
            <div style="margin:5px -10px 5px;">
                <include file="_downList" />
            </div>
        </div>

        <div v-show="show" style="display: none">
          <!-- 购买信息 -->
          <include file="_customerInfo" />

          <include file="_advancedQuery" />


          <!-- 跟踪内容 -->
          <include file="Customer::_traceContent" />

          <!-- 投诉内容 -->
          <include file="Customer::_complainContent" />


        </div>


    </div>
</block>
<block name="scripts">
<script>

    
  page.getCustomerInfoUrl = "{:U('CommonFindDetail/getCustomerInfo')}"

  window.defaultOption.setDatas({

    multipleSelection: [],

    searchType:'人员类型',
    checkStatus:'审核状态',
    checkOptions:[
      {
        label:"未审核",
        value:'0'
      },
      {
        label:"审核通过",
        value:"1"
      },
      {
        label:"审核不通过",
        value:"-1"
      }
    ],
    statusOptions:[
      {
        label:"未开单",
        value:"0"
      },
      {
        label:"已开单",
        value:"1"
      }
    ],

    departments:[],
    groups:[],
    users:[],

    risks_users:{:json_encode($risks_users)},
    callbacks_users:{:json_encode($callbacks_users)},
    datastaff_users:{:json_encode($datastaff_users)},


    tableDataOne:[{
      'user':'',
      'expense':'',
      'pdt_id':'',
      'identity':'',
      'address':'',
      'time':''
    }],

    tableData:[{
      'name':'',
      'created_at':'',
      'type':'',
      'track_type':'',
      'content':'',
      'user':'',
      'step':''
    }],
    tableDataTwo: [{
      'name':'',
      'created_at':'',
      'type':'',
      'track_type':'',
      'content':'',
      'user':''     
    }],
  }).setForm('search', {
    name:"",
    // id:"0",
    sortFiled:"id",
    sortWay:"asc",// desc
    // queryType:"",
    checkState:"",
    risk_state:'',
    callback_state:'',
    status:'',

    department_id:"",
    group_id:"",
    user_id:"",
    risk_id:"",
    callback_id:"",
    datastaff_id:""
    
  }).setForm('info',{
    name:"",
    id_card:"",
    address:"",
    contacts:[]
  },true).setForm('traceContent',{
    content:'',
  },true).setForm('complainContent',{
    content:'',
  },true).setForm('advancedQuery',{
    // department_id:"",
    // group_id:"",
    // user_id:"",
    // risk_id:"",
    // callback_id:"",
    // datastaff_id:""
  },true).setMethod('viewtraceContents',function(row,event){
    this.traceContentFormDialog = true;
    this.traceContentForm.content = row.content;;
  }).setMethod('handleSelectionChange',function(val){
    this.multipleSelection = val;
  }).setMethod('viewComplainContents',function(row,event){
    this.complainContentFormDialog = true;
    this.complainContentForm.content = row.content;
  }).setMethod('trackLog',function(row,event,column){
    this.$http.post("{:U('CommonFindDetail/trackInfo')}",row).then(function(response){
      this.tableData = response.body;
    },function(response){
      this.$message.error("查询出错啦");
    });

    this.$http.post("{:U('CommonFindDetail/findDealInfo')}",{user_id:row.cus_id}).then(function(response){
      this.tableDataOne = response.body;
    },function(response){
      this.$message.error("查询出错啦");
    });

    row.condition = 'service';
    row.name = row.cb_name;
    //delete row.cb_name;
    this.$http.post("{:U('CommonFindDetail/complainInfo')}",{id:row.cus_id}).then(function(response){
      this.tableDataTwo = response.body;
    },function(response){
      this.$message.error("查询出错啦");
    });
  }).setMethod('checkCustomer',function(id){
    this.$http.get(page.getCustomerInfoUrl, {params:{id:id}}).then(function(response){
      this.initObject(this.infoForm, response.body);
      this.openDialog('info');
    }, function(response){
      this.$message.error("出错了");
    });
  }).setMethod('searchReset',function(){
    this.$refs.searchForm.resetFields();
    this.$refs.advancedQueryForm.resetFields();
    delete this.searchForm.sort_field;
    delete this.searchForm.sort_order;
    
    this.dataLoad = true;
    this.loadDatalist();


  }).setMethod('search', function(){
    this.dataLoad = true;
    this.loadDatalist();
  }).setVueHook('mounted', function(){
     this.$http.get("{:U('Department/getList')}", {params:{type:0}}).then(function(response){
        this.departments = response.body.list;
     })
  }).setMethod('departChange', function(v){
      if (v.length == 0 ) {
        this.groups = [];
        this.users = [];
        this.searchForm.group_id = "";
        this.searchForm.user_id = "";
        return ;
      }

      this.$http.get("{:U('Group/getList')}", {params:{department_id:v}}).then(function(response){
        this.groups = response.body.list;
      },function(response){
        this.$message.error("出错了");
      })
  }).setMethod('groupChange', function(v){
    this.users = [];
    if (v.length==0) {
        this.searchForm.user_id = "";
      return ;
    }

    this.$http.get("{:U('getUsers')}", {params:{group_id:v}}).then(function(response){
      // console.log(response.body.list);
       this.users = response.body;
    })


  }).setMethod('advancedQueryReset', function(){
    
    this.searchReset();
  }).setMethod('advanceSearch', function(){

      this.dataLoad = true;
      // var obj = Oassign({},  this.advancedQueryForm);
      // console.log(obj);
      // this.searchForm = Oassign(obj, this.searchForm);
      // console.log(this.searchForm);
      this.loadDatalist();
      this.closeDialog('advancedQuery');
  });
</script>   
</block>
