<el-dialog title="添加小组" v-model="dialogAddEmployee">
<!-- <el-form :model="form"> -->
<el-form >
  <el-row>
    <el-col :span="12">
      <el-form-item label="登录账号" :label-width="formLabelWidth">
        <el-input  auto-complete="off"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item label="员工姓名" :label-width="formLabelWidth">
        <el-input  auto-complete="off"></el-input>
        
      </el-form-item>
    </el-col>
  </el-row>
   <el-row>
    <el-col :span="12">
      <el-form-item label="头像" :label-width="formLabelWidth">
        <el-upload
         action="//jsonplaceholder.typicode.com/posts/"
         show-upload-list="false">
        <el-button size="small" type="primary">点击上传</el-button>
        <!-- <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div> -->
      </el-upload>
      </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="员工类型" :label-width="formLabelWidth">
          <el-select  placeholder="请选择">
            <el-option label="测试数据" value="区域一"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="所属组织" :label-width="formLabelWidth">
          <el-select  placeholder="请选择">
            <el-option label="测试数据" value="区域一"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="性别" :label-width="formLabelWidth">
          <el-radio class="radio"  label="男">男</el-radio>
          <el-radio class="radio"  label="女">女</el-radio>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row>
      <el-col :span="12">
        <el-form-item label="固话" :label-width="formLabelWidth">
          <el-input auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="手机" :label-width="formLabelWidth">
          <el-input auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row>
      <el-col :span="12">
        <el-form-item label="QQ号" :label-width="formLabelWidth">
          <el-input auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="QQ昵称" :label-width="formLabelWidth">
          <el-input auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="微信号" :label-width="formLabelWidth">
          <el-input auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="微信昵称" :label-width="formLabelWidth">
          <el-input auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="省份" :label-width="formLabelWidth">
          <el-select placeholder="请选择">
            <el-option label="测试数据" value="测试数据"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="城市" :label-width="formLabelWidth">
          <el-select placeholder="请选择">
            <el-option label="测试数据" value="测试数据"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="区县" :label-width="formLabelWidth">
          <el-select placeholder="请选择">
            <el-option label="测试数据" value="测试数据"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="街道" :label-width="formLabelWidth">
          <el-select placeholder="请选择">
            <el-option label="测试数据" value="测试数据"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-form-item label="住址" :label-width="formLabelWidth">
      <el-input
      type="textarea"
      :autosize="{ minRows: 2, maxRows: 4}"
      placeholder="请输入内容">
    </el-input>
    </el-form-item>
    
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogAddEmployee = false">取 消</el-button>
    <el-button type="primary" @click="dialogAddEmployee = false">确 定</el-button>
  </div>
</el-dialog>