<el-dialog title="添加员工" v-model="addFormDialog">
<!-- <el-form :model="form"> -->
<el-form ref="addForm" :rules="addRules" :model="addForm" :label-width="dialogLabelWidth">
<el-tabs  type="card" >
    <el-tab-pane label="账号" name="first">
       <el-row>
      <el-col :span="12">
        <el-form-item label="登录账号" prop="account">
          <el-input v-model="addForm.account"  auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="addForm.password" auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="员工姓名" prop="realname">
          <el-input v-model="addForm.realname" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="员工职能">
          <el-select v-model="addForm.role_id">
            <el-option v-for="role in roleList" :label="role.name" :value="role.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
<!--     <el-row>
  <el-col :span="12">
      <el-form-item label="所属部门"  @change="departmentChange" placeholder="请选择">
      <el-select v-model="addForm.department_id">
        <el-option v-for="department in departmentsList" :label="department.name" :value="department.id"></el-option>
      </el-select>
    </el-form-item>
  </el-col>
</el-row> -->
    <el-row>
      <el-col :span="12">
        <el-form-item label="所属部门">
          <el-select v-model="addForm.department_id" @change="departmentChange" placeholder="请选择">
             <el-option v-for="department in departments" :label="department.name"  :value="department.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="所属团队小组">
          <el-select v-model="addForm.group_id"    placeholder="请选择">
            <el-option v-for="group in groups" :label="group.name"  :value="group.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="员工编号">
          <el-input v-model="addForm.identifier" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    </el-tab-pane>
    <el-tab-pane label="其它信息" name="second">
      <el-row>
    <el-col :span="12">

      <el-form-item label="头像">
      <img v-show='addUploadImg' :src="addUpload" alt="" style="max-width: 200px; max-height: 200px;">
        <el-upload
         action="{:U('Upload/index2')}" 
         accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
         :on-success="addFormUploadSuccess" 
         :on-error="addFormUploadError" 
         :data="pathInfo"
         :headers="xuploadheader"
         :multiple="false"
         :show-upload-list="false">
        <el-button size="small" type="primary">点击上传</el-button>
      </el-upload>
      </el-form-item>
      </el-col>
     <!--  <el-col :span="12">
        <el-form-item label="员工类型">
          <el-select  placeholder="请选择">
            <el-option label="测试数据" value="区域一"></el-option>
          </el-select>
        </el-form-item>
      </el-col> -->
    </el-row>
    <el-row>
      <!-- <el-col :span="12">
        <el-form-item label="所属团队">
          <el-select  v-model='addForm.group_id' placeholder="请选择">
            <el-option  v-for="group in groupList" :label="group.name" :value="group.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col> -->
      <el-col :span="12">
        <el-form-item label="性别">
          <el-radio class="radio" v-model="addForm.sex" label="1">男</el-radio>
          <el-radio class="radio" v-model="addForm.sex" label="2">女</el-radio>
        </el-form-item>
      </el-col>
        <el-col :span="12">
        <el-form-item label="婚否">
          <el-radio class="radio" v-model="addForm.marriage" label="1">是</el-radio>
          <el-radio class="radio" v-model="addForm.marriage" label="2">否</el-radio>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item prop="birth_date" label="出生年月">
            <el-date-picker  v-model="addForm.birth_date" placeholder="请选择日期"  >
            </el-date-picker>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="graduation_date" label="毕业时间">
            <el-date-picker  v-model="addForm.graduation_date" placeholder="请选择日期"   >
            </el-date-picker>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
          <el-form-item prop="entry_date" label="入职日期">
            <el-date-picker  v-model="addForm.entry_date" placeholder="请选择日期"  >
            </el-date-picker>
          </el-form-item>
      </el-col>
      <el-col :span="12">
          <el-form-item prop="completion_date" label="转正日期">
            <el-date-picker  v-model="addForm.completion_date" placeholder="请选择日期"  >
            </el-date-picker>
          </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="省份">
          <el-select v-model="addForm.area_province" @change="provinceChange" placeholder="请选择">
             <el-option v-for="province in provinces" :label="province.name"  :value="province.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="城市">
          <el-select v-model="addForm.area_city" @change="cityChange"   placeholder="请选择">
            <el-option v-for="city in cities" :label="city.name"  :value="city.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="区县">
          <el-select v-model="addForm.area_district" placeholder="请选择">
            <el-option v-for="dis in districts" :label="dis.name"  :value="dis.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
          <el-form-item label="入职来源">
          <el-select v-model="addForm.entry_sources">
            <el-option v-for="sources in sourcesList" :label="sources.name" :value="sources.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
     <!--  <el-col :span="12">
        <el-form-item label="街道">
          <el-select placeholder="请选择">
            <el-option label="测试数据" value="测试数据"></el-option>
          </el-select>
        </el-form-item>
      </el-col> -->
    </el-row>
     <el-row>
      <el-col :span="12">
        <el-form-item label="民族">
          <el-input v-model="addForm.nation" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="毕业院校">
          <el-input v-model="addForm.university" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
       <el-row>
       <el-col :span="12">
        <el-form-item label="血型">
          <el-input v-model="addForm.blood_type" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="所学专业">
          <el-input v-model="addForm.major" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="身高">
          <el-input v-model="addForm.height" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="体重">
          <el-input v-model="addForm.weight" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
 
       <el-row>
       <el-col :span="12">
        <el-form-item label="固话座机">
          <el-input v-model="addForm.phone" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="手机" prop="mphone">
          <el-input v-model="addForm.mphone"  auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row>
      <el-col :span="12">
        <el-form-item label="QQ号" prop="qq">
          <el-input v-model="addForm.qq" auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="QQ昵称">
          <el-input v-model="addForm.qq_nickname" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="微信号">
          <el-input v-model="addForm.weixin" auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="微信昵称">
          <el-input v-model="addForm.weixin_nikname" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
         <el-col :span="12">
        <el-form-item label="身份证号">
          <el-input v-model="addForm.id_card" auto-complet="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
         <el-form-item label="入职经办人" prop="entry_manager">
          <el-input v-model="addForm.entry_manager" auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    
    <el-form-item label="住址">
      <el-input
      v-model="addForm.address"
      type="textarea"
      :autosize="{ minRows: 2, maxRows: 4}"
      placeholder="请输入内容">
    </el-input>
    </el-form-item>
    </el-tab-pane>
    <el-tab-pane label="身份证照" name="third" class="third">
      <el-row>
        <el-col :span="24">
           <el-form-item label="手持身份证照">
                <el-upload
                 class="card_img"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="cardImg" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.card_img' :src="'__ROOT__' + addForm.card_img" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
           <el-form-item label="身份证正面照">
                <el-upload
                 class="card_front"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="cardFront" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.card_front' :src="'__ROOT__' + addForm.card_front" alt="" style="max-width: 400px; max-height:234px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
           <el-form-item label="身份证反面照">
                <el-upload
                 class="card_back"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="cardBack" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.card_back' :src="'__ROOT__' + addForm.card_back" alt="" style="max-width: 400px; max-height:234px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
           <el-form-item label="户口本首页">
                <el-upload
                 class="household_home_page"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="householdHomePage" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.household_home_page' :src="'__ROOT__' + addForm.household_home_page" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
           <el-form-item label="户主页">
                <el-upload
                 class="household_housemaster"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="householdHousemaster" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.household_housemaster' :src="'__ROOT__' + addForm.household_housemaster" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
           <el-form-item label="本人页">
                <el-upload
                 class="household_personal"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="householdPersonal" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.household_personal' :src="'__ROOT__' + addForm.household_personal" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
           <el-form-item label="学历证">
                <el-upload
                 class="education_certificate"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="educationCertificate" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.education_certificate' :src="'__ROOT__' + addForm.education_certificate" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

        <el-row>
        <el-col :span="24">
           <el-form-item label="学位证">
                <el-upload
                 class="degree_diploma"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="degreeDiploma" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.degree_diploma' :src="'__ROOT__' + addForm.degree_diploma" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="24">
           <el-form-item label="相关从业资格证">
                <el-upload
                 class="practitioner_certificate"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="practitionerCertificate" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.practitioner_certificate' :src="'__ROOT__' + addForm.practitioner_certificate" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

        <el-row>
        <el-col :span="24">
           <el-form-item label="离职证明">
                <el-upload
                 class="leaving_certificate"
                 action="{:U('Upload/index2')}" 
                 accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                 :on-success="leavingCertificate" 
                 :data="pathInfo"
                 :headers="xuploadheader"
                 :multiple="false"
                 :show-upload-list="false"
                 :before-upload="beforeAvatarUpload">
                 <img v-if='addForm.leaving_certificate' :src="'__ROOT__' + addForm.leaving_certificate" alt="" style="max-width: 400px; max-height:300px;">
                 <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
        </el-col>
      </el-row>

    </el-tab-pane>
    <el-tab-pane label="家庭主要成员" name="four" class="four">
         <el-row>
        <el-col :span="12">
          <el-form-item label="亲属姓名">
            <el-input v-model="addForm.family_member" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
          <el-col :span="12">
          <el-form-item label="与自己的关系">
            <el-input v-model="addForm.family_relation" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="任职单位">
            <el-input v-model="addForm.family_job_unit" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
         <el-col :span="12">
          <el-form-item label="职务">
            <el-input v-model="addForm.family_position" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="联系电话" prop="family_phone">
            <el-input v-model="addForm.family_phone" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
     </el-tab-pane>
    <el-tab-pane label="工作简历" name="five" class="five">
      <el-row>
        <el-col :span="12">
        <el-form-item prop="graduation_date" label="任职时间">
            <el-date-picker  v-model="addForm.resume_entry_date" placeholder="请选择日期"  >
            </el-date-picker>
          </el-form-item>
      </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="企业名称">
            <el-input v-model="addForm.resume_enterprise_name" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
          <el-col :span="12">
          <el-form-item label="任职职务">
            <el-input v-model="addForm.resume_position" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
        <el-row>
          <el-col :span="12">
          <el-form-item label="直属上司姓名">
            <el-input v-model="addForm.resume_leader" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="直属上司联系电话" prop="resume_leader_phone">
            <el-input v-model="addForm.resume_leader_phone" auto-complet="off"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="离职原因">
      <el-input
      v-model="addForm.resume_leaving_reasons"
      type="textarea"
      :autosize="{ minRows: 2, maxRows: 4}"
      placeholder="请输入内容">
    </el-input>
    </el-form-item>
     </el-tab-pane>
  </el-tabs>
 
   
    
  </el-form>
  <div slot="footer" class="dialog-footer">
   <include file="Common:_add" />
  </div>
</el-dialog>
