<el-dialog title="编辑员工" v-model="editFormDialog" @open='beforeEdit'>
<!-- <el-form :model="form"> -->
<el-form ref="editForm" :rules="editRules" :model="editForm" :label-width="dialogLabelWidth">
    

    <el-tabs  type="card" >
      <el-tab-pane label="基本信息" name="first">
        <el-row>
          <el-col :span="12">
            <el-form-item label="登录账号" prop="account">
              <el-input v-model="editForm.account"  :disabled="true" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="员工姓名" prop="realname">
              <el-input v-model="editForm.realname" auto-complete="off"></el-input>
              
            </el-form-item>
          </el-col>
        </el-row>
      <!--   <el-row>
          <el-col :span="12">
          <el-form-item label="部门">
            <el-select v-model="editForm.department_id" placeholder="请选择">
              <el-option v-for="department in departmentsList" :label="department.name"  :value="department.id"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row> -->
           <el-row>
          <el-col :span="12">
            <el-form-item label="所属部门">
              <el-select ref="editselect" v-model="editForm.department_id" @change="departmentChange" placeholder="请选择" >
                 <el-option v-for="department in departments" :label="department.name"  :value="department.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="所属团队小组">
              <el-select v-model="editForm.group_id"    placeholder="请选择">
                <el-option v-for="group in groups" :label="group.name"  :value="group.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
            <el-col :span="12">
            <el-form-item label="员工编号">
              <el-input v-model="editForm.identifier" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
           <el-col :span="12">
            <el-form-item label="员工职能">
              <el-select v-model="editForm.role_id" placeholder="请选择">
                <el-option v-for="role in rolesList" :label="role.name"  :value="role.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="头像">
            <img v-show='editUploadImg' :src="editUpload" alt="" style="max-width: 200px; max-height: 200px;">
              <el-upload
               action="{:U('Upload/index2')}" 
               accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
               :on-success="editFormUploadSuccess" 
               :on-error="editFormUploadError" 
               :data="pathInfo"
               :headers="xuploadheader"
               :multiple="false"
               :show-upload-list="false">
              <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="性别">
              <el-radio class="radio" v-model="editForm.sex" label="1">男</el-radio>
              <el-radio class="radio" v-model="editForm.sex" label="2">女</el-radio>
            </el-form-item>
          </el-col>
           <el-col :span="12">
            <el-form-item label="婚否">
              <el-radio class="radio" v-model="editForm.marriage" label="1">未婚</el-radio>
              <el-radio class="radio" v-model="editForm.marriage" label="2">已婚</el-radio>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
        
            <el-col :span="12">
              <el-form-item prop="birth_date" label="出生年月">
                  <el-date-picker  v-model="editForm.birth_date" placeholder="请选择日期"   >
                  </el-date-picker>
                </el-form-item>
            </el-col>
             <el-col :span="12">
              <el-form-item prop="graduation_date" label="毕业时间">
                  <el-date-picker  v-model="editForm.graduation_date" placeholder="请选择日期"  >
                  </el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
            <el-row>
            <el-col :span="12">
              <el-form-item prop="entry_date" label="入职日期">
                  <el-date-picker  v-model="editForm.entry_date" placeholder="请选择日期"  >
                  </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item prop="completion_date" label="转正日期">
                  <el-date-picker  v-model="editForm.completion_date" placeholder="请选择日期"  >
                  </el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="省份">
              <el-select ref="editselect" v-model="editForm.area_province" @change="provinceChange" placeholder="请选择" >
                 <el-option v-for="province in provinces" :label="province.name"  :value="province.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="城市">
              <el-select v-model="editForm.area_city" @change="cityChange"   placeholder="请选择">
                <el-option v-for="city in cities" :label="city.name"  :value="city.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="区县">
              <el-select v-model="editForm.area_district" placeholder="请选择">
                <el-option v-for="dis in districts" :label="dis.name"  :value="dis.id"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="入职来源">
              <el-select v-model="editForm.entry_sources">
                <el-option v-for="sources in sourcesList" :label="sources.name" :value="sources.name"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="民族">
              <el-input v-model="editForm.nation" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="毕业院校">
              <el-input v-model="editForm.university" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
           <el-col :span="12">
              <el-form-item label="血型">
                <el-input v-model="editForm.blood_type" auto-complete="off"></el-input>
              </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="所学专业">
              <el-input v-model="editForm.major" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="身高" prop="height">
              <el-input v-model="editForm.height" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="体重">
              <el-input v-model="editForm.weight" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
           <el-col :span="12">
              <el-form-item label="固话">
                <el-input v-model="editForm.phone" auto-complete="off"></el-input>
              </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="手机" prop="mphone">
              <el-input v-model="editForm.mphone"  auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="12">
            <el-form-item label="QQ号" prop="qq">
              <el-input v-model="editForm.qq" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="QQ昵称">
              <el-input v-model="editForm.qq_nickname" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="微信号">
              <el-input v-model="editForm.weixin" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="微信昵称">
              <el-input v-model="editForm.weixin_nikname" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
             <el-col :span="12">
            <el-form-item label="身份证号">
              <el-input v-model="editForm.id_card" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="入职经办人" prop="entry_manager">
              <el-input v-model="editForm.entry_manager" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="住址">
          <el-input
          v-model="editForm.address"
          type="textarea"
          :autosize="{ minRows: 2, maxRows: 4}"
          placeholder="请输入内容">
        </el-input>
        </el-form-item>
      </el-tab-pane>
      <el-tab-pane label="身份证照" name="second">
        <el-row>
          <el-col :span="24">
             <el-form-item label="手持身份证照">
                  <el-upload
                   class="card_img"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editCardImg" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.card_img' :src="'__ROOT__' + editForm.card_img" alt="" style="max-width: 400px; max-height:300px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="24">
             <el-form-item label="身份证正面照">
                  <el-upload
                   class="card_front"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editCardFront" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.card_front' :src="'__ROOT__' + editForm.card_front" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="24">
             <el-form-item label="身份证反面照">
                  <el-upload
                   class="card_back"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editCardBack" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.card_back' :src="'__ROOT__' + editForm.card_back" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
             <el-form-item label="户口本首页">
                  <el-upload
                   class="household_home_page"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editHouseholdHomePage" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.household_home_page' :src="'__ROOT__' + editForm.household_home_page" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
             <el-form-item label="户主页">
                  <el-upload
                   class="household_housemaster"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editHouseholdHousemaster" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.household_housemaster' :src="'__ROOT__' + editForm.household_housemaster" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>
               <el-row>
          <el-col :span="24">
             <el-form-item label="本人页">
                  <el-upload
                   class="household_personal"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editHouseholdPersonal" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.household_personal' :src="'__ROOT__' + editForm.household_personal" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
             <el-form-item label="学历证">
                  <el-upload
                   class="education_certificate"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editEducationCertificate" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.education_certificate' :src="'__ROOT__' + editForm.education_certificate" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>
         <el-row>
          <el-col :span="24">
             <el-form-item label="学位证">
                  <el-upload
                   class="degree_diploma"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editDegreeDiploma" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.degree_diploma' :src="'__ROOT__' + editForm.degree_diploma" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
             <el-form-item label="相关从业资格证">
                  <el-upload
                   class="practitioner_certificate"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editPractitionerCertificate" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.practitioner_certificate' :src="'__ROOT__' + editForm.practitioner_certificate" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="24">
             <el-form-item label="离职证明">
                  <el-upload
                   class="leaving_certificate"
                   action="{:U('Upload/index2')}" 
                   accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp"
                   :on-success="editLeavingCertificate" 
                   :data="pathInfo"
                   :headers="xuploadheader"
                   :multiple="false"
                   :show-upload-list="false"
                   :before-upload="beforeAvatarUpload">
                   <img v-if='editForm.leaving_certificate' :src="'__ROOT__' + editForm.leaving_certificate" alt="" style="max-width: 400px; max-height:234px;">
                   <i  v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="家庭主要成员" name="third">
      <el-row>
          <el-col :span="12">
            <el-form-item label="亲属姓名">
              <el-input v-model="editForm.family_member" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="与自己的关系">
              <el-input v-model="editForm.family_relation" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      <el-row>
          <el-col :span="12">
            <el-form-item label="任职单位">
              <el-input v-model="editForm.family_job_unit" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
            <el-col :span="12">
            <el-form-item label="职务">
              <el-input v-model="editForm.family_position" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="联系电话" prop="family_phone">
              <el-input v-model="editForm.family_phone" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-tab-pane>
       <el-tab-pane label="工作简历" name="four">
       <el-row>
            <el-col :span="12">
              <el-form-item prop="birth_date" label="任职时间">
                  <el-date-picker  v-model="editForm.resume_entry_date" placeholder="请选择日期"  >
                  </el-date-picker>
                </el-form-item>
            </el-col>
       </el-row>
       <el-row>
          <el-col :span="12">
            <el-form-item label="企业名称">
              <el-input v-model="editForm.resume_enterprise_name" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
            <el-col :span="12">
            <el-form-item label="任职职务">
              <el-input v-model="editForm.resume_position" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="直属上司姓名">
              <el-input v-model="editForm.resume_leader" auto-complete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="直属上司联系电话" prop="resume_leader_phone">
              <el-input v-model="editForm.resume_leader_phone" auto-complet="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="离职原因">
          <el-input
          v-model="editForm.resume_leaving_reasons"
          type="textarea"
          :autosize="{ minRows: 2, maxRows: 4}"
          placeholder="请输入内容">
        </el-input>
        </el-form-item>
      </el-tab-pane>
    </el-tabs>


  
    
  </el-form>
  <div slot="footer" class="dialog-footer">
   <include file="Common:_edit" />
  </div>
</el-dialog>