<extend name="Common:base" />
<block name="head">

</block>
<block name="body">
	<div id="app" class="container">
		<div class="wrapp" v-show="show" style="display: none">
			<!-- seach form -->
			<el-row>
				<el-col :span="24">
					<el-form :inline="true"  ref="searchForm" :model="searchForm">
					  <el-form-item prop="name">
					   <el-input  placeholder="请输入员工名字" >
					   </el-input>
					  </el-form-item>
					  <el-form-item> 
					    <el-button type="primary" icon="search">查询</el-button> 
					    <el-button  >清空</el-button>
			        <!-- 	<el-button  @click="advancedSearch=true">高级查询</el-button>  -->
					  </el-form-item>
					</el-form>
				</el-col>
			</el-row>
			<!-- / search form -->

			<!-- datatables  -->
			<el-row>
				<el-col :span="24">
					<el-table 
					  :data="dataList" 
				      v-loading="dataLoad" 
				      element-loading-text="{:L('DATA_LOGIN')}"
					 border stripe height  >
					    <el-table-column type="selection"  width="50" >
					    </el-table-column>
					    <el-table-column  label="序号"  width="70" :formatter="handleIndex" >
					    </el-table-column>
 					    <el-table-column prop="userInfo.head" inline-template label="头像"  width="140">
							<div>
								<img :src="row.userInfo.head" alt="" width="100" height="100">
							</div>
					    </el-table-column>
					   <!-- <el-table-column prop="id"  label="员工ID" width="100">
					    </el-table-column> -->
					    <el-table-column prop="account" label="登录账号" width="100">
					    </el-table-column>
						<!-- <el-table-column prop="realname" label="员工姓名" width="100">
					    </el-table-column>
					    <el-table-column prop="status" label="是否有效" width="100">
					    </el-table-column>
					    <el-table-column prop="faccount" label="演示账号" width="150">
					    </el-table-column>
					    <el-table-column prop="department" label="所属组织" width="100">
					    </el-table-column>
					    <el-table-column prop="employeetype" label="员工类型" width="100">
					    </el-table-column>
					    <el-table-column prop="ishow" label="是否公示" width="100">
					    </el-table-column>
					    <el-table-column prop="telphone" label="固话" width="100">
					    </el-table-column>
					    <el-table-column prop="mobilephone" label="手机" width="100">
					    </el-table-column>
					    <el-table-column prop="qq" label="QQ号" width="100">
					    </el-table-column>
					    <el-table-column prop="qqname" label="QQ昵称" width="180">
					    </el-table-column>
					    <el-table-column prop="qqq" label="业务Q群" width="190">
					    </el-table-column>
					    <el-table-column prop="qqqq" label="业务业务Q群名" width="190">
					    </el-table-column>
					    <el-table-column prop="area" label="地区" width="150">
					    </el-table-column>
					    <el-table-column prop="sex"  label="性别" width="50">
					    </el-table-column>
					    <el-table-column prop="lastlogin" label="最后登录时间" width="150">
					    </el-table-column>
					    <el-table-column prop="weixin"  label="微信号" width="150">
					    </el-table-column>
					    <el-table-column prop="weixinname"  label="微信昵称" width="150">
					    </el-table-column> -->
					    
					    

					    <el-table-column inline-template :context="_self"  fixed="right"  label="操作" width="200">
					      <span>
					        <!-- <el-button @click="handleClick($index, row)" type="text" size="small">查看</el-button> -->
					        <el-button @click="handleEdit($index, row)"  size="small">编辑</el-button>
					        <el-button @click="handleSetRoles($index, row)" type="info" size="small">角色</el-button>
					        <el-button @click="handleDelete($index, row)"  type="danger" size="small">删除</el-button>
					      </span>
					    </el-table-column>

				    </el-table>
				</el-col>
			</el-row>
			<!-- / datatables  -->
			
			<!-- toolbar -->
				<el-row type="type"  justify="space-between" align="middle"  class="row-bg">
				  <el-col :span="12">
				  <div class="grid-content bg-purple">
				  	<el-button-group>
					    <el-button type="primary" size="small" @click="openDialog('add')">添加员工</el-button>
					    <el-button type="primary" size="small">修改一般信息</el-button>
					    <el-button type="primary" size="small">修改核心信息</el-button>

						<el-button type="primary" size="small" >修改身份信息</el-button>
						<el-button type="primary" size="small">修改账号密码</el-button>
						<el-button type="primary" size="small" >确认身份</el-button>
						<el-button type="primary" size="small">微调权限</el-button>
						<el-button type="primary" size="small">终止员工</el-button>
						<el-button type="primary" size="small">开演示号</el-button>

				    </el-button-group>
				    
				  </div>
				  </el-col>
				  <el-col :span="12">
				  <div class="grid-content bg-purple-light pull-right">
				    <!-- page -->
				    <include file="Common:_pagination" />
				    <!-- / page -->
				    
				  </div></el-col>
				</el-row>
			<!-- / toolbar -->
		</div>
		
		<div class="dialogWrapper" v-show="show" style="display: none">
			<!-- 高级查询 -->
			<include file="_searchx" />
			<!-- / 高级查询 -->

			<!-- 添加 -->
			<include file="_add" />
			<!-- / 添加 -->

			<!-- 角色 -->
			<include file="_role" />
			<!-- / 角色 -->

			<!-- 修改身份信息 -->
			<include file="_editIDx" />
			<!-- / 修改身份信息 -->

			<!-- 确认身份 -->
			<include file="_editConfirmx" />
			<!-- / 确认身份 -->
		</div>

	</div>
</block>
<block name="scripts">
	<script>
		page.getUserRolesUrl="{:U('getUserRoles')}";
		page.setUserRolesUrl="{:U('setUserRoles')}";
		window.defaultOption.setDatas({
			roleList:{:json_encode($roleList)},
			pathInfo:{folder:'users'},
			addUpload:"",
			addUploadImg:false,
			xuploadheader:{"X-Requested-With":"XMLHttpRequest"},
			groupList:{:json_encode($groupList)},
			provinces:[],
			cities:[],
			districts:[],
		}).setForm('add',{
			account:"",
			password:"123456",
			head:"",
			group_id:"",
			sex:0,
			phone:"",
			mphone:"",
			area_province:"",
			area_city:"",
			area_district:"",
		}).setForm('setRoles',{
			user_id:0,
			role_ids:[]
		},true).setMethod('handleSetRoles', function(index, row){
			var vmThis = this;
			vmThis[FormName.getForm('setRoles')].user_id = row.id;
			this.$http.get(page.getUserRolesUrl, {params:{user_id: row.id}}).then(function(response){
				vmThis[FormName.getForm('setRoles')].role_ids = [];
				response.body.forEach(function(currentValue){
					vmThis[FormName.getForm('setRoles')].role_ids.push(currentValue.role_id);
				});
				vmThis.openDialog('setRoles');
			})
		}).setMethod('addFormUploadSuccess', function(response, file, fileList){
			this.addUpload = '__ROOT__'+ response.path;
			this.addUploadImg = true;
			this.addForm.head = response.path
		}).setMethod('addFormUploadError', function(err, response, file){
			this.$message.error('上传出错：' + response.info);
		}).setVueHook('mounted', function(){
	    var vmThis = this;
	    this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:1} }).then(function(response){
	      var provinces = [];
	      response.body.forEach(function(currentValue,index){
	        provinces.push({id: currentValue.id, name: currentValue.name});
	      })
	      vmThis.$set(vmThis, 'provinces', provinces);
	    });
	  }).setMethod('provinceChange', function(v){
	    var vmThis = this;
	    this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:v} }).then(function(response){
	      var cities = [];
	       response.body.forEach(function(currentValue,index){
	        cities.push({id: currentValue.id, name: currentValue.name});
	       })
	       vmThis.$set(vmThis, 'cities', cities);
	    })
	  }).setMethod('cityChange', function(v){
	    var vmThis = this;
	    this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:v} }).then(function(response){
	      var cities = [];
	       response.body.forEach(function(currentValue,index){
	        cities.push({id: currentValue.id, name: currentValue.name});
	       })
	       vmThis.$set(vmThis, 'districts', cities);
	    })
	  });
	</script>
	<script>


		// window.vmMethods.set("handleClick", function(index, row){
		// 	this.dialogEditID = true;
		// })

		// window.vmMethods.set("handleCurrentChange", function(page){
			
		// })
		
	</script>
</block>