<extend name="Common:base" />
<block name="head">

  <link href="__PUBLIC__/UM/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">

</block>
<block name="body">
  <div id="app" class="container">
    <div class="wrapp" v-show="show" style="display:none">
      <el-row>
        <el-col :span="12">
          <el-form :inline="true" ref="searchForm" :model="searchForm">
            <el-form-item prop="name">
             <el-input placeholder="请输入标题关键字" v-model="searchForm.name"></el-input>
            </el-form-item>
            <el-form-item>
             <el-button type="primary" icon="search" @click="loadDatalist">查询</el-button>
             <el-tooltip content="清空搜索框并刷新表格数据" placement="right">
              <el-button  @click="searchReset" style="margin-left:10px;">重置</el-button>
             </el-tooltip>
            </el-form-item>
          </el-form>
        </el-col>

      </el-row>
      <el-row>
        <el-col :span="24">
          <el-table 
          :data="dataList" 
          v-loading="dataLoad"  
          border  stripe 
          element-loading-text="{:L('DATA_LOGIN')}" 
          empty-text="没有数据"
          @row-click="showDetail"
          >
            <!-- <el-table-column type="selection" align="center" width="50"></el-table-column> -->
            <el-table-column label="序号"  :formatter="handleIndex" width="65"></el-table-column>
            <el-table-column label="类型" prop="type_text" align="center" width="150">
            </el-table-column>
            <el-table-column label="标题" prop="title"></el-table-column>
            <el-table-column label="内容(点击查看详细)" prop="content" >
              <template scope="scope">
                {{ scope.row.content | delHtmlTag | handleString(10) }}
              </template>
            </el-table-column>
            <el-table-column label="发布人" prop="creator"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <el-row type="flex"  justify="space-between" align="middle"  class="row-bg">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple-light pull-right">
            <!-- page -->
            <include file="Common:_pagination" />
            <!-- / page -->
              </div>
            </el-col>
      </el-row>
    </div>

    <div class="dialogWrapper" v-show="show" style="display: none;">

    
      <!-- 编辑 -->
      <include file="CounselArticle::_detail" />
      <!-- / 编辑 -->

    </div>

  </div>

<!--  -->

</block>
<block name="scripts">
<script type="text/javascript" src="__PUBLIC__/UM/third-party/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/UM/third-party/template.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/UM/umeditor.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/UM/mini.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/UM/lang/zh-cn/zh-cn.js"></script>
<script>


  window.defaultOption.setDatas({
    detailContent:"",
    detailFormDialog:false,
  }).setForm('search',{
    name:'',
  }).setForm('add',{
    type:'',
    title:'',
    content:'',
  }).setForm('edit',{
    id:"",
    type:'',
    title:'',
    content:''
  }).setMethod('showDetail', function(row){
    // console.log(column);
    this.detailContent = row.content;
    this.openDialog('detail');
    
  })
</script>
</block>