<el-dialog title="重设员工" v-model="resetUserFormDialog" @open="beforeReset">
<!-- <el-form :model="form"> -->
<el-form ref="resetUserForm"  :model="resetUserForm"  :label-width="dialogLabelWidth">
  <el-row>

    <el-col :span="12">
      <el-form-item label="小组" prop="type">
        <el-select  v-model="resetUserForm.group_id" @change="resetSaleman">
          <el-option  v-for='group in groups' :label="group.name"  :value="group.id" >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="备选员工" prop="type">
        <el-select  v-model="resetUserForm.salesman_id" >
          <el-option  v-for='item in getGroupUser' :label="item.realname"  :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-col>
  </el-row>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="closeDialog('resetUser')">取 消</el-button>
    <el-button type="primary" v-show="!editFormSubmitStatus" @click="editFormSubmit(page.resetUserFormUrl, 'resetUser')" >确 定</el-button>
    <el-button type="primary" v-show="editFormSubmitStatus" :loading="true" >修改中</el-button>
  </div>
</el-dialog>