<el-dialog title="分配客户" v-model="assignFormDialog" @open="beforeAssign">
  <el-form  ref="assignForm" :label-width="dialogLabelWidth" :model="assignForm">
    <el-row>
      <el-col :span="10">
        <el-form-item label="指定客服" prop="type">
          <el-select v-model="assignForm.type" placeholder="请选择客服人员">
            <el-option v-for="(type,key) in memberList" :label="type"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>

  <div slot="footer" class="dialog-footer">
   <el-button type="danger" @click="closeDialog('assign')">取 消</el-button>
   <el-button type="primary" v-show="!assignFormSubmitStatus" @click="assign" >分配</el-button>
   <el-button type="primary" v-show="assignFormSubmitStatus" :loading="true" >分配中</el-button>
  </div>

</el-dialog>