<extend name="Common:base" />
<block name="head">
	<style>
    .el-table__body tr.current-row>td{
      background: rgba(157, 195, 232, 0.7);
    }
		.el-card__body {
		    padding: 15px;
		}
    .el-card__header {
    	padding: 0;
	    border-bottom: 1px solid #D3DCE6;
	    box-sizing: border-box;
    }
		.el-alert {
		  border-radius: 0;
		  width: 101%;
		}
		.el-alert__title {
		    font-size: 16px;
		    line-height: 18px;
		}
		.el-date-editor.el-input{
			width: 100%;
			max-width: 300px;
		}
	</style>
</block>
<block name="body">
<div id="app" class="container">
  <div class="wrapp" id="appx" v-show="show" style="display:none;">
    <el-row>
      <el-col :span="24">
        <el-form :inline="true" ref="searchForm" :model="searchForm" label-width="100px">
          <el-form-item label="选择时间范围" prop="start">  
				    <el-date-picker v-model="searchForm.dist" type="daterange" style="width:230px;" placeholder="选择日期范围" :picker-options="pickerOptions" @change="DateChange" :clearable="false">
				    </el-date-picker>
          </el-form-item>

				  <el-form-item label="排名类型" label-width="70px">
				    <el-radio-group v-model="searchForm.type">
				      <el-radio :label="order_num">开单客户数</el-radio>
				      <el-radio :label="create_num">录入客户数</el-radio>
				    </el-radio-group>
				  </el-form-item>

	        <el-form-item prop="field" v-show="false">
	          <input type="hidden" size="small" v-model="searchForm.field"/>
	        </el-form-item>

	        <el-form-item label-width="5px">
	          <el-button type="info" size="small" icon="search"  @click="loadDatalist">查询</el-button> 
	          <el-tooltip content="清空搜索框并刷新表格数据" placement="bottom-start" style="margin-left:10px;">
	            <el-button  size="small" @click="searchReset2">重置</el-button>
	          </el-tooltip>
	          <el-tooltip content="点击刷新当前页面" placement="right" style="margin-left:10px;">
	            <el-button  size="small" type="danger" @click="refresh">刷新</el-button>
	          </el-tooltip>
	        </el-form-item>

        </el-form>
      </el-col>
    </el-row>
    <el-row :gutter="20" type="flex">
      <el-col :span="8">
				<el-card class="box-card" style="border: 1px solid #ff4949;">
				  <div slot="header">
				    <el-alert :closable="false" title="部门/单位排名" type="error"></el-alert>
				  </div>
				  <div class="text item">
				    <el-table :data="tableDataDep" highlight-current-row empty-text="暂无数据,请录入客户！" :show-header="false">
				      <el-table-column prop="name" label="名称"></el-table-column>
				      <el-table-column label="序号"  align="center" type="index" width="65"></el-table-column>
				    </el-table>
				  </div>
				</el-card>
      </el-col>
      <el-col :span="8" >
				<el-card class="box-card" style="border: 1px solid #50bfff;">
				  <div slot="header">
				    <el-alert :closable="false" title="团队/小组排名" type="info"></el-alert>
				  </div>
				  <div class="text item">
				    <el-table :data="tableDataGroup" highlight-current-row empty-text="暂无数据,请录入客户！" :show-header="false">
				      <el-table-column prop="name" label="名称"></el-table-column>
				      <el-table-column label="序号"  align="center" type="index" width="65"></el-table-column>
				    </el-table>
				  </div>
				</el-card>
      </el-col>
      <el-col :span="8" >
				<el-card class="box-card" style="border: 1px solid #f7ba2a;">
				  <div slot="header">
				    <el-alert :closable="false" title="个人排名" type="warning"></el-alert>
				  </div>
				  <div class="text item">
				    <el-table :data="tableDataUser" highlight-current-row empty-text="暂无数据,请录入客户！" :show-header="false">
				      <el-table-column prop="name" label="名称"></el-table-column>
				      <el-table-column label="序号"  align="center" type="index" width="65"></el-table-column>
				    </el-table>
				  </div>
				</el-card>
      </el-col>
    </el-row>
    <el-row type="flex" justify="space-between" align="middle" class="row-bg" v-show="false">
      <el-col :span="12" :offset="12">
	      <div class="grid-content bg-purple-light pull-right">

	        <!-- page -->
	        <include file="Common:_pagination" />
	        <!-- / page -->
	        
	      </div>
      </el-col>
    </el-row>

  </div>
</div>
</block>
<block name="scripts">
<script src="__PUBLIC__/js/calculate.js"></script>
<script>
  window.defaultOption.setDatas({
  	order_num:'order_num',
  	create_num:'create_num',
    tableDataDep: [],
    tableDataGroup: [],
    tableDataUser: [],
    pickerOptions: {
      shortcuts: [{
        text: '上一周',
        onClick(picker) {
          var start = showLastWeekFirstDay();
          var end = showLastWeekLastDay();
          picker.$emit('pick', [start, end]);
        }
      }, {
        text: '上个月',
        onClick(picker) {
          var start = showLastMonthFirstDay();
          var end = showLastMonthLastDay();
          picker.$emit('pick', [start, end]);
        }
      }, {
        text: '本周',
        onClick(picker) {
          var start = showWeekFirstDay();
          var end = showWeekLastDay();
          picker.$emit('pick', [start, end]);
        }
      }, {
        text: '本月',
        onClick(picker) {
          var start = showMonthFirstDay();
          var end = showMonthLastDay();
          picker.$emit('pick', [start, end]);
        }
      }],
      disabledDate(time) {
        return time.getTime() > Date.now() - 8.64e7;
      }
    },
  }).setForm('search',{
  	dist:[showLastWeekFirstDay(), showLastWeekLastDay()],
    start:showLastWeekFirstDay(),
    end:showLastWeekLastDay(),
    type:'order_num',
  }).setMethod('searchReset2',function(){
  	window.location.href="{:U('index')}";
  }).setMethod('DateChange',function(v){
  	var dateArr = v.split(" - ");
  	this.searchForm.start = dateArr[0];
  	this.searchForm.end = dateArr[1];
  }).setMethod('loadDatalist',function(){

		var vmThis = this;
		var params = {p:this.currentPage};
		for (var x in this.searchForm ){
			if (this.searchForm[x]!="") {
				params[x] = this.searchForm[x];
			}
		}
		vmThis.$set(vmThis, 'dataLoad', true);
		this.$http.get(page.listUrl, {params:params}).then(function(response){
			 vmThis.tableDataDep = response.body.dep;
			 vmThis.tableDataGroup = response.body.group;
			 vmThis.tableDataUser = response.body.user;
		}, function(response) {
			vmThis.$message({
			  message: '获取数据失败：'+ response.body.info,
			  type: 'error'
			});
		}).finally(function(){
			vmThis.$set(vmThis, 'dataLoad', false);
		})
  });
</script>
</block>