<extend name="Common:base" />
<block name="head">
  <style>
    .el-table__body tr.current-row>td{
      background: rgba(157, 195, 232, 0.7);
    }
  </style>
</block>
<block name="body">
    <div id="app" class="container">
        <div class="wrapp" v-show="show" style="display: none">
            <!-- seach form -->

            <!-- 
                客户姓名，
                联系方式，

                开单状态，
                开单账号，

                购买类型，
                销售员工，
                成交的时间区间
             -->
            <el-row>
                <el-col :span="13">
                    <el-form :inline="true"  ref="searchForm" :model="searchForm">

                      <el-form-item prop="name" style="width:170px">
                        <el-input v-model="searchForm.name" size="small" placeholder="客户姓名"></el-input>
                      </el-form-item>
                      <el-form-item prop="contact" style="width:170px">
                        <el-input v-model="searchForm.contact" size="small" placeholder="手机|qq|微信号"></el-input>
                      </el-form-item>


                    <!-- 开单状态， -->
                      <el-form-item prop="status" style="width:170px">
                        <el-select v-model="searchForm.status" size="small"  >
                            <el-option label="未开单" value="0"></el-option>
                            <el-option label="已开单" value="1"></el-option>
                        </el-select>
                      </el-form-item>


                    <el-form-item prop="semaster_id" style="width: 170px">
                      <el-select v-model="searchForm.semaster_id" size="small" placeholder="客服主管">
                        <el-option v-for="semaster in seMaster" :label="semaster.realname" :value="semaster.id"></el-option>
                      </el-select>
                    </el-form-item>


                    <!-- 开单账号 -->
                      <el-form-item prop="account" style="width:170px">
                        <el-input v-model="searchForm.account" size="small" placeholder="开单账号"></el-input>
                      </el-form-item>
                    <!-- 购买类型 -->
                      <el-form-item prop="type" style="width:170px">
                          <el-select v-model="searchForm.type" placeholder="购买类型" size="small">
                              <el-option label="购买" value="0"></el-option>
                              <el-option label="升级" value="2"></el-option>
                              <el-option label="续费" value="1"></el-option>
                          </el-select>
                      </el-form-item>

                      <!-- 销售员工 -->
                      <el-form-item style="width:170px" prop="department_id">
                        <el-select 
                        clearable
                        size="small" 
                        placeholder="销售部门"
                        v-model="searchForm.department_id" 
                        @change="departChange">
                          <el-option v-for="depart in departments" :value="depart.id" :label="depart.name"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item style="width:170px" prop="group_id">
                        <el-select 
                        clearable
                        size="small" 
                        placeholder="销售团队"
                        v-model="searchForm.group_id" 
                        @change="groupChange">
                          <el-option v-for="group in groups" :value="group.id" :label="group.name"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item style="width:170px" prop="user_id">
                        <el-select 
                        clearable
                        size="small" 
                        placeholder="销售员工"
                        v-model="searchForm.user_id" >
                          <el-option v-for="user in users" :value="user.id" :label="user.name"></el-option>
                        </el-select>
                      </el-form-item>
                      <!-- / 销售员工 -->

                      <el-form-item style="width:170px" prop="range">
                        <el-date-picker
                          size="small"
                          v-model="searchForm.range"
                          type="daterange"
                          placeholder="选择成交时间范围"
                          :picker-options="pickerOptions"
                          @change="rangeChange">
                        </el-date-picker>
                      </el-form-item>


                      <el-form-item>
                        <el-button type="primary" icon="search" @click="dataReload" size="small">查询</el-button> 
                        <el-tooltip content="清空搜索框并刷新表格数据" placement="right">
                         <el-button  @click="searchReset" size="small">重置</el-button>
                        </el-tooltip>
                        <el-tooltip content="点击刷新当前页面" placement="right">
                          <el-button @click="refresh" size="small" type="danger" >刷新</el-button>
                        </el-tooltip>
                      </el-form-item>
                    </el-form>
                </el-col>
                <el-col :span="12">
                </el-col>   
            </el-row>
            <!-- / search form -->

            <!-- datatables  -->
            <el-row>
                <el-col :span="24">
                    <el-table 
                    :data="dataList" 
                    border    
                    highlight-current-row
                    v-loading="dataLoad"
                    element-loading-text="{:L('DATA_LOGIN')}"
                    @current-change="handleCurrentChange"
                    >

                       <!--  <el-table-column type="selection"  align="center" width="50" >
                        </el-table-column> -->
                        <el-table-column label="序号"  align="center" width="65" :formatter="handleIndex"  >
                        </el-table-column>
                         
                        <el-table-column label="客户姓名" prop="cus_name" width="100">
                        </el-table-column>

                        <el-table-column label="类型"  >
                          <template scope="scope">
                              <span v-if="scope.row.type==0" type="primary">购买</span>
                              <span v-else-if="scope.row.type==1" type="primary">升级</span>
                              <span v-else type="primary">续费</span>
                            </template>
                        </el-table-column>
                        <el-table-column   label="操作员工" header-align="center" width="180">
                        <template scope="scope">
                            {{scope.row.department_name}} {{scope.row.realname}}
                        </template>
                        </el-table-column>
                        
                        <el-table-column prop="semaster" label="客服主管" header-align="left" width="100"></el-table-column>
                        <el-table-column prop="semaster_time" label="分配给主管时间" header-align="center" width="140"></el-table-column>
                        <el-table-column prop="disstaff_time" label="分配材料专员时间" header-align="center"  width="180"></el-table-column>
                        <el-table-column prop="order_time" label="开单时间" header-align="left" width="130"></el-table-column>
                        <el-table-column prop="buy_time" label="客户成交时间" header-align="left" width="130"></el-table-column>
                        <el-table-column prop="mphone" label="销售人员手机" header-align="left" width="100"></el-table-column>

                        <el-table-column label="购买版本" header-align="center" prop="product_name" width="200" >
                        </el-table-column>
                        
                        <!-- <el-table-column label="付款金额" header-align="center" prop="pay_in" width="200" >
                        </el-table-column> -->
                        <el-table-column label="付款方式" header-align="center" prop="buy_info" width="200" >
                        </el-table-column>

                        <el-table-column label="操作" width="240" header-align="center" >
                            <template scope="scope">
                                <el-button size="small" type="info" @click="checkCustomer(scope.row.cus_id)">查看客户</el-button>
                                <el-button v-show="scope.row.buttons.length==3" size="small" type="primary" @click="openOneStep(scope.row)">开单</el-button>
                                <el-button size="small" type="info" v-show="scope.row.status == 1" @click="orderInfo(scope.row)">订单详情</el-button>
                            </template>
                        </el-table-column>

                    </el-table>
                </el-col>
            </el-row>
            <!-- / datatables  -->
            

            <!-- toolbar -->
            <el-row type="type"  justify="space-between" align="middle"  class="row-bg">
              <el-col :span="12">
              <div class="grid-content bg-purple">
                <span class="wrapper">
                <el-tooltip content="编辑客户资料" placement="bottom-start" >
                  <el-button  @click="openDialog('uploadr')" size="small" type="primary">聊天记录</el-button>
                  </el-tooltip>
                    
                </span>
              </div>
              </el-col>
              <el-col :span="12">
                  <div class="grid-content bg-purple-light pull-right">
                    <!-- page -->
                    <include file="Common:_pagination" />
                    <!-- / page -->
                  </div>
              </el-col>
            </el-row>
            <!-- / toolbar -->

        </div>

        <div v-show="show" style="display: none">
            
        <include file="_order" />
        <include file="_oneStep" />
        <include file="_distribute" />
        <include file="_account" />
        <include file="_orderInfo" />

        <include file="_info" />
         <!-- 上传聊天记录 -->
        <include file="TalkRecords::_updown" />
        <!-- / 上传聊天记录 -->
        </div>


    </div>
</block>
<block name="scripts">
<script>

    page.addOrderUrl = "{:U('addOrder')}";
    page.getBuyDetailUrl = "{:U('getBuyDetail')}";
    page.setDistributeUrl = "{:U('setDistribute')}";
    page.setAccountUrl = "{:U('setAccount')}";
    page.getOrderInfoUrl = "{:U('getOrderInfo')}";
    page.getCustomerInfoUrl = "{:U('CommonFindDetail/getCustomerInfo')}"
    page.setOneStepUrl = "{:U('setOneStep')}";

    window.defaultOption.setDatas({
        userBigFile:false,
        bigprogress:0,
        uploadrFormDialog:false,
        talkRecords: [],
        bphone:[],
        orderRule:{
            sale_money:[
                { required: true, message:"请输入正确的金额", pattern:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/ }
            ],
            receivable:[
                { required: true, message:"请输入正确的金额", pattern:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/ }
            ],
            paid_in:[
                { required: true, message:"请输入正确的金额", pattern:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/ }
            ],
        },
        seMaster:{:json_encode($seMaster)},

        OrderInfoDialog:false,
        orderInfoDetail:{
            product_name:"",
            sale_money:"",
            receivable:"",
            paid_in:"",
            customer_name:"",
            phone:"",
            user_name:"",
            sale_name:"",
            creater:"",
            created_at:"",
        },
        onestepse:false,
        rules:{
            account_id:[
                { required: true, message: '请输入', trigger: 'blur', type: 'string' },
            ],
            semaster_id:[
                { required: true, message: '请选择', trigger: 'blur', type: 'string' },
            ]
            
        },
        departments:[],
        groups:[],
        users:[],
        pickerOptions: {
          disabledDate:function(time) {
            return time.getTime() > Date.now();
          }
        },
        accountDisabled:false
    }).setForm('add', {
       
    }).setForm('edit', {
        
    }).setForm('search', {
        name:"",
        contact:"",
        account:"",
        type:"",
        status:"0", //0
        department_id:"",
        group_id:"",
        user_id:"",
        range:"",
        semaster_id:"",
        datastaff_id:"{$uid}"
    }).setForm('order',{
        buy_id:null,
        product_id:null,
        sale_money:"0.00", //销售金额
        receivable:"0.00", //应收金额
        paid_in:"0.00", //实收金额
        cus_id: 0, //客户id
        user_id: 0, //锁定人员
        salesman_id: 0, //跟踪人员
        customer_name: "", //客户姓名
        phone: "", //客户手机
        name:"", //商品名称
        user_name:"",//锁定人员
        sale_name:"" //跟踪人员
    }, true).setForm('distribute',{
        semaster_id:null,
        cus_id:null,
        buy_id:null
    },true).setForm('account',{
        // `open_id` INT(10) UNSIGNED NOT NULL COMMENT '账号开设人员id',
     account_id:"",
     pdt_id:"",
     mark:"",
     cus_id:"",
     buy_id:"",
     user_id:'',
    },true).setForm('info',{
        name:"",
        id_card:"",
        address:"",
        contacts:[],
        money_text:"",
        year_text:"",
        profession_text:"",
        remark:"什么都没有"
    },true).setForm('oneStep',{
         account_id:"",
         semaster_id:null,
        'order':{
            buy_id:null,
            product_id:null,
            sale_money:"0.00", //销售金额
            receivable:"0.00", //应收金额
            paid_in:"0.00", //实收金额
            cus_id: 0, //客户id
            user_id: 0, //锁定人员
            salesman_id: 0, //跟踪人员
            customer_name: "", //客户姓名
            phone: "", //客户手机
            name:"", //商品名称
            user_name:"",//锁定人员
            sale_name:"" //跟踪人员
        },
        'account':{
             account_id:null,
             pdt_id:"",
             mark:"",
             cus_id:"",
             buy_id:"",
             user_id:'',
         },
         'distribute':{
            semaster_id:null,
            cus_id:null,
            buy_id:null
         },
         
    },true).setForm('uploadr',{
    cus_id:""
  }).setMethod('handleSelectionChange', function(val){
        this.multipleSelection = val;
    }).setMethod('setOrders', function(row){
        this.orderForm.name   = row.product_name;
        this.orderForm.sale_money = row.product_money;

        // this.orderForm.receivable = row.product_money;
        // this.orderForm.paid_in = row.product_money;

        this.orderForm.cus_id = row.cus_id;
        this.orderForm.salesman_id = row.user_id;
        this.orderForm.buy_id = row.id;
        this.orderForm.product_id = row.product_id;

        //通过ajax获取 
        // 客户姓名
        // 客户手机
        // 锁定人员
        // 跟踪人员

        var param = {cus_id:row.cus_id};
        this.$http.get(page.getBuyDetailUrl, {params: param}).then(function(response){
            var body = response.body;
            this.orderForm.customer_name = body.name;
            this.orderForm.user_id = body.user.user_id;
            this.orderForm.user_name = body.user.name +' '+ body.user.realname;
            this.orderForm.sale_name = body.sale.name +' '+ body.sale.realname;
            this.bphone = body.phones;
        }, function(response){
            this.$message.error("出错了");
        });


        this.openDialog('order');
    }).setMethod('setDistrute', function(row){
        this.distributeForm.cus_id = row.cus_id;
        this.distributeForm.buy_id     = row.id
        this.openDialog('distribute');
    }).setMethod('setAccount', function(row){
        this.accountForm.cus_id = row.cus_id;
        this.accountForm.user_id = row.user_id;
        this.accountForm.pdt_id = row.product_id;
        this.accountForm.buy_id = row.id
        this.openDialog('account');
    }).setMethod('checkCustomer',function(id){
        this.$http.get(page.getCustomerInfoUrl, {params:{id:id}}).then(function(response){
            this.initObject(this.infoForm, response.body);
            this.openDialog('info');
        }, function(response){
            this.$message.error("出错了");
        });
    }).setMethod('orderInfo',function(row){
       this.orderInfoDetail.product_name = row.product_name;
       var buy_id = row.id;  
       this.$http.get(page.getOrderInfoUrl, {params:{buy_id:buy_id}}).then(function(response){
          this.initObject(this.orderInfoDetail, response.body);
          this.orderInfoDetail.product_name = row.product_name;
          // console.log(this.orderInfoDetail);
          this.OrderInfoDialog = true;
       }, function(response){
          this.$message.error("出错了");
       });
    }).setMethod('openOneStep', function(row){

        // this.$refs['oneStepForm'].resetFields();
        // console.log(this.$refs['oneStepForm'])

        this.onestepse = false;
        this.oneStepForm.account_id= "";
        this.oneStepForm.semaster_id= "";

        // this.oneStepForm.account.account_id = this.oneStepForm.account_id;
        // this.oneStepForm.distribute.semaster_id = this.oneStepForm.semaster_id;

        this.setOneStepOrder(row);
        this.setOneStepDis(row);
        this.setOneStepAccount(row);

        this.openDialog('oneStep');
    }).setMethod('setOneStepOrder',function(row){
        this.oneStepForm.order.name   = row.product_name;
        this.oneStepForm.order.sale_money = row.product_money;
        this.oneStepForm.order.cus_id = row.cus_id;
        this.oneStepForm.order.salesman_id = row.user_id;
        this.oneStepForm.order.buy_id = row.id;
        this.oneStepForm.order.product_id = row.product_id;
        this.oneStepForm.order.phone = "";

        //
        this.oneStepForm.order.receivable = row.product_money;
        this.oneStepForm.order.paid_in = '0.00';

        //重置 以避免出错 
        this.oneStepForm.order.customer_name = "";
        this.oneStepForm.order.user_id = "";
        this.oneStepForm.order.user_name = "";
        this.oneStepForm.order.sale_name = "";
        this.bphone = [];

        var param = {cus_id:row.cus_id};
        this.$http.get(page.getBuyDetailUrl, {params: param}).then(function(response){
            var body = response.body;
            this.oneStepForm.order.customer_name = body.name;
            this.oneStepForm.order.user_id = body.user.user_id;
            this.oneStepForm.order.user_name = body.user.name +' '+ body.user.realname;
            this.oneStepForm.order.sale_name = body.sale.name +' '+ body.sale.realname;
            // this.oneStepForm.order.salesman_id = body.sale.user_id ;
            this.bphone = body.phones;
        }, function(response){
            this.$message.error("出错了");
        });
    }).setMethod('setOneStepDis', function(row){
        this.oneStepForm.distribute.cus_id = row.cus_id;
        this.oneStepForm.distribute.buy_id     = row.id;
        this.oneStepForm.distribute.semaster_id  = "";
        //获取已分配的
        this.$http.get('{:U("getDisId")}', {params: row.cus_id}).then(function(response){
            this.oneStepForm.distribute.semaster_id = response.body.id;
            this.onestepse=true;
        }, function(response){
            // this.$message.error("出错了");
        });
    }).setMethod('setOneStepAccount', function(row){
        // console.log(row);
        this.accountDisabled = false;
        this.oneStepForm.account.cus_id = row.cus_id;
        this.oneStepForm.account.user_id = row.user_id;
        this.oneStepForm.account.pdt_id = row.product_id;
        this.oneStepForm.account.buy_id = row.id
        this.oneStepForm.account.account_id = null;
        this.oneStepForm.account.mark = null;
        //获取已有的账号
        this.$http.get('{:U("getAccount")}', {params: row.cus_id}).then(function(response){
            this.oneStepForm.account.account_id = response.body.account_id;
            this.accountDisabled = true;
        }, function(response){
            // this.$message.error("出错了");
        });
    }).setMethod('oneStepup', function(){
        this.oneStepForm.account.account_id = this.oneStepForm.account_id;
        this.oneStepForm.distribute.semaster_id = this.oneStepForm.semaster_id;

        this.oneStepFormSubmit(page.setOneStepUrl, 'oneStep');



    }).setMethod('departChange', function(v){
    this.searchForm.group_id = "";
    this.searchForm.user_id = "";
    this.setGroups(v);

  }).setMethod('groupChange', function(v){
    this.searchForm.user_id = "";
    this.setUsers(v);

  }).setMethod('setGroups', function(v){
    var vmThis = this;
    if ( v == "") {
      this.groups = [];
      return;
    }
    this.$http.get('{:U("getGroups")}', {params:{id:v}}).then(function(response){
      vmThis.groups = response.body;
    });
  }).setMethod('setUsers', function(v){
    var vmThis = this;
    if (v == "") {
      this.users = [];
      return;
    }
    this.$http.get('{:U("getUsers")}', {params:{id:v}}).then(function(response){
      vmThis.users = response.body;
    });
  }).setMethod('rangeChange', function(v){
    console.log(v);
    // this.searchForm.range = v;
  }).setVueHook('mounted', function(){
    var vmThis = this;
    //省份、城市
    this.$http.get('{:U("getDepartms")}').then(function(response){
      vmThis.$set(vmThis, 'departments', response.body);
    });
  }).setMethod('beforeUploadR', function(){
      if (!this.currentRow) {
        this.closeDialog('uploadr');
        this.$message.error('请先选择一位客户');
        return false;
      } else {
        var  row = this.currentRow;
        this.uploadrForm.cus_id = row.cus_id;

        //加载聊天记录
        this.loadRecords(row.cus_id);

      }
  }).setMethod('loadRecords', function(id){
     this.$http.get("{:U('talkRecords/getList')}", {params:{id:id,all:1}}).then(function(response){
      this.talkRecords = response.body.list;
     }, function(response){

     })
  }).setMethod('handleSucess', function(response, file, fileList){
    // console.log(response);
    
    this.talkRecords.push(response);
  }).setMethod('deleteRecords', function(id, index){
    this.$http.post("{:U('talkRecords/delete')}", {id:id}).then(function(response){
      this.talkRecords.splice(index, 1);
    })
  }).setMethod('uploadBigFile', function(file, max_size, cus_id){


    var myWorker = new Worker('__PUBLIC__/js/upLoadBig.js');
    var vmThis = this;
    var record = null;
    myWorker.onmessage = function(e) {
      // console.log(e);
        switch (e.data.type) {
          case 'work':
              // work(e.data);
              vmThis.$message.error('好像出错了');
              break;
          case 'progress':
              vmThis.bigprogress = e.data.progress;
              if (vmThis.bigprogress == 100) {
                myWorker.terminate();
                myWorker = null;
                vmThis.talkRecords.push(record);
                vmThis.userBigFile = false;
              }
              break;
          case 'setRecord':
               record = e.data.record;
            break;
          default:
              console.log(e);
      }
    }
    
    myWorker.postMessage({type:'init', file:file, max_size: max_size, cus_id:cus_id });
    myWorker.postMessage({type:'start', url:"{:U('talkRecords/uploadBigFile')}" });
  }).setMethod("handleBeforeUpload", function(file){
     // console.log(file.size);
     var max_size = 2*1024*1024;
     if (file.size < max_size ) {
      // console.log('true');
      return true;
     } else {
      // console.log('false');

      this.bigprogress= 0;
      this.userBigFile = true;
      this.uploadBigFile(file, max_size, this.uploadrForm.cus_id);
      // this.$message.error("启用大文件上传");
      return false;
     }
  });
</script>
</block>