<extend name="Common:base" />
<block name="head">
	
</block>
<block name="body">

<div id="app" class="container">
<div class="wrapp" v-show="show" style="display: none;">

	<el-row :gutter="20">
		<el-col :span="8">
			<el-card id="one" class="box-card">
			  <div slot="header" class="clearfix">
			    <span>个人信息</span>
			  </div>
			  <div id="two" style="width:480px;display: table-cell;vertical-align:middle;">
			  	<php>
					$userInfo = session('account')['userInfo'];
					$arr=M('user_info')->where(array('user_id'=>$userInfo['user_id']))->find(); 
					
					if($userInfo['user_id']==1){
                       $role=M('rbac_role')->where(array('id'=>$userInfo['user_id']))->getField('name');
				    }else{
                       $role_id=M('rbac_role_user')->where(array('user_id'=>$userInfo['user_id']))->find();
                       $role=M('rbac_role')->where(array('id'=>$role_id['role_id']))->getField('name');
				    }
					$arr['name']=$group['name'];
					
				</php>
			  	<img src="__ROOT__{$arr['head']}" class="image" width="100%" height="100%" style="width:200px;height:200px;border-radius:100%; vertical-align:middle;">
				
			  	<div id="th" style="float:right;width:200px;border-left:1px solid #e2e2e2;line-height:200%">
			  		&nbsp;&nbsp;&nbsp;<span>姓名：{$arr['realname']}</span><br>
			  		&nbsp;&nbsp;&nbsp;<span>I  D：{$arr['user_id']}</span><br>
			  		&nbsp;&nbsp;&nbsp;<span>类型：{$role}</span><br>
			  		<!-- &nbsp;&nbsp;&nbsp;<span>单位：{$arr['p_name']}</span><br> -->
			  		&nbsp;&nbsp;&nbsp;<span>Q  Q：{$arr['qq']}</span><br>
			  		&nbsp;&nbsp;&nbsp;<span>电话：{$arr['phone']}</span><br>
			  		&nbsp;&nbsp;&nbsp;<span>地址：{$arr['address']}</span>
			  	</div>
			  </div>
			</el-card>
		</el-col>
		<el-col :span="16">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					系统公告
				</div>
				<div style="margin:-20px;">
					<el-table :data="sysData" style="width: 100%;border:none;">
				      <el-table-column prop="sys_type" label="类型" width="180" align="center"></el-table-column>
				      <el-table-column prop="title" label="标题" align="center"></el-table-column>
				      <el-table-column prop="date" label="日期" width="180" align="center"></el-table-column>
				    </el-table>
				    <el-col :span="24">
					     <div class="grid-content bg-purple-light pull-right" style="padding:2px;">
					       <!-- page -->
					       <include file="Common:_pagination" />
					       <!-- / page -->
					     </div>
				    </el-col>
				</div>
			</el-card>
		</el-col>
	</el-row>
	<el-row>
		<el-col :span="24">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span>业绩走势 测试数据</span>
				</div>
				<div>
					<div id="echarts" style="height: 200px;">
						
					</div>
				</div>
			</el-card>
		</el-col>
	</el-row>
	<el-row>
		<el-col :span="24">
			<el-card class="box-card">
				<div class="clearfix" slot="header">
					<span>业绩报表 测试数据</span>
				</div>
				<div>
					<el-table
				      :data="sysReport"
				      style="width: 100%">
				      <el-table-column
				        prop="date"
				        label="日期"
				        width="180">
				      </el-table-column>
						<el-table-column prop="zyj"   label="总业绩"></el-table-column>
						<el-table-column prop="cjc"   label="成交客户数（新成交/合作）"></el-table-column>
						<el-table-column prop="xfc"   label="续费客户数（续费/合作）"></el-table-column>
						<el-table-column prop="xfy"   label="续费业绩（续费/合作）"></el-table-column>
						<el-table-column prop="sjc"   label="升级客户数（升级/合作）"></el-table-column>
						<el-table-column prop="sjy"   label="升级业绩（升级）"></el-table-column>
				    </el-table>
				</div>
			</el-card>
		</el-col>
	</el-row>

	<el-row :gutter="20">
		<el-col :span="12">
			<el-card class="box-card">
				<div class="clearfix" slot="header">
					<span>量化报表 测试数据</span>
				</div>
				<div>
					<el-table
						:data="data3"
						style="width:100%"
					>
						<el-table-column prop="date" label="日期"></el-table-column>
						<el-table-column prop="sd"   label="锁定"></el-table-column>
						<el-table-column prop="gz"   label="跟踪"></el-table-column>
						<el-table-column prop="tj"   label="转入"></el-table-column>
						<el-table-column prop="xg"   label="转出"></el-table-column>
						<el-table-column prop="xq"   label="冲突"></el-table-column>
					</el-table>
				</div>
			</el-card>
		</el-col>
		<el-col :span="12">
			<el-card class="box-card">
				<div class="clearfix" slot="header">
					<span>客户报表 测试数据</span>
				</div>
				<div>
					<el-table
						:data="data3"
						style="width:100%"
					>
						<el-table-column prop="date" label="日期"></el-table-column>
						<el-table-column prop="sd"   label="锁定"></el-table-column>
						<el-table-column prop="gz"   label="跟踪"></el-table-column>
						<el-table-column prop="tj"   label="推介"></el-table-column>
						<el-table-column prop="xg"   label="修改"></el-table-column>
						<el-table-column prop="xq"   label="索取"></el-table-column>
					</el-table> 
				</div>
			</el-card>
			<div style="display: none;">
  		  	  <include file="Common:_pagination"/>
  		  </div>
		</el-col>
	</el-row>
</div>
</div>

</block>
<block name="scripts">
<script src="__PUBLIC__/js/echarts.min.js"></script>
	<script>

	window.defaultOption.setVueHook('mounted', function(){
		// console.log('mounted charts');
		var myChart = echarts.init(document.getElementById('echarts'));
        myChart.setOption({
            // title: { text: 'ECharts 入门示例' },
            tooltip: {},
            xAxis: {
                data: ["2016-11","2016-12","2017-01","2017-02","2017-03","2017-04"]
            },
            yAxis: {},
            legend:{
            	show: true
            },
            series: [{
                name: '销量',
                type: 'bar',
                data: [15, 30, 46, 20, 30, 50]
            },{
                name: '业绩',
                type: 'line',
                data: [25, 21, 26, 90, 15, 50]
            }],
            grid:{
            	left:"50",
            	right:"50"
            }
        });
        
        window.onresize = myChart.resize;


        var w=document.body.scrollWidth;
      	if(w<1400){
      		var two=document.getElementById('two');
      		var th=document.getElementById('th');
      		two.style.textAlign='center';
            th.style.lineHeight='150%';
            th.style.marginRight="30px";
            th.style.textAlign='left';
      	}

	}).setDatas({
		sysData:[
				{
					sys_type:'测试数据',
					title:'新功能XXXX上线了',
					date:'2017-01-01 12:12'
				},
				{
					sys_type:'测试数据',
					title:'新功能XXXX上线了',
					date:'2017-01-01 12:12'
				},
				{
					sys_type:'测试数据',
					title:'新功能XXXX上线了',
					date:'2017-01-01 12:12'
				},
				{
					sys_type:'测试数据',
					title:'新功能XXXX上线了',
					date:'2017-01-01 12:12'
				},

			],
			sysReport:[
				{
					date:'2016-12-01',
					zyj:'730',
					cjc:'0 / 0',
					xfc:'0.00 / 0.00',
					xfy:'1 / 0',
					sjc:'730.00 / 0.00',
					sjy:'0 / 0',
					
				},
				{
					date:'2016-12-01',
					zyj:'730',
					cjc:'0 / 0',
					xfc:'0.00 / 0.00',
					xfy:'1 / 0',
					sjc:'730.00 / 0.00',
					sjy:'0 / 0',
					
				}
				,
				{
					date:'2016-12-01',
					zyj:'730',
					cjc:'0 / 0',
					xfc:'0.00 / 0.00',
					xfy:'1 / 0',
					sjc:'730.00 / 0.00',
					sjy:'0 / 0',
					
				}
			],
			data3:[
				{
					date:'2016-01-01',
					sd:'1',
					gz:'2',
					tj:'0',
					xg:'4',
					xq:'1',
				},
				{
					date:'2016-01-01',
					sd:'1',
					gz:'2',
					tj:'0',
					xg:'4',
					xq:'1',
				},
				{
					date:'2016-01-01',
					sd:'1',
					gz:'2',
					tj:'0',
					xg:'4',
					xq:'1',
				},
				{
					date:'2016-01-01',
					sd:'1',
					gz:'2',
					tj:'0',
					xg:'4',
					xq:'1',
				}
			]
	});
	</script>
	<script>
      	
	</script>
</block>