<el-dialog title="添加权限/功能" v-model="dialogEditPermission">
 <el-form :model="editForm">
    <el-form-item label="权限分类：" :label-width="formLabelWidth" style="width:270px;">
     <el-select  v-model="editForm.pid" placeholder="请选择权限分类">
       <el-option v-for="item in levelOne" :label="item.name" :value="item.id" :disabled="item.disabled"></el-option>
     </el-select>
    </el-form-item>
    <el-form-item label="权限名称：" :label-width="formLabelWidth">
     <el-input v-model="editForm.name" place="请输入权限名称" style="width:270px;"></el-input>
    </el-form-item>
    <el-form-item label="节点名：" :label-width="formLabelWidth">
      <el-input  v-model="editForm.title" placeholder="请输入节点名" style="width:270px;"></el-input>
    </el-form-item>
   <el-form-item label="权限说明：" :label-width="formLabelWidth">
     <el-input type="textarea" v-model="editForm.description" style="width:500px;" placeholder="请为权限添加说明"></el-input>
   </el-form-item>
   <el-form-item label="状态：" :label-width="formLabelWidth">
      <el-radio class="radio" v-model="editForm.status" label="0">禁用</el-radio>
      <el-radio class="radio" v-model="editForm.status" label="1">启用</el-radio>
   </el-form-item>
 </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogEditPermission= false">取 消</el-button>
    <el-button type="primary" @click="dialogEditPermission = false">确 定</el-button>
  </span>
</el-dialog>