<extend name="Common:base"/>
<block name="head">
	<style>
	  .el-table .info-row {
	    background: #ffffff;
	  }

	  .el-table .positive-row {
	    background: #c9e5f5;
	  }
 </style>
</block>
<block name="body">
  <div id="app" class="container">
  	<div v-show="show" class="wrapp" style="display:none">
  		<!-- table -->
  		<el-row>
     <el-col :span="24">
      <el-table :data="datalist" v-loading="loading" element-loading-text="拼命加载中" style="width:100%" :row-class-name="tableRowClassName">
        <el-table-column align="center" type="index" label="编号" width="100">
        </el-table-column>
        <el-table-column align="center" label="权限分类" prop="classfication">
        </el-table-column>
        <el-table-column align="center" label="权限名称" prop="name">
        </el-table-column>
        <el-table-column align="center" label="权限说明" prop="remark">
        </el-table-column>
        <el-table-column inline-template align="center" label="当前状态">
          <el-switch 
          	v-model="row.switch" 
          	on-color="#13ce66" 
          	off-color="#ff4949" 
          	@change="switchHandle($index, row)">
          </el-switch>
        </el-table-column>
        
        <el-table-column inline-template align="center" label="操作">
         <div>
         	 <el-button size="small" @click="handleEdit($index,row)">
         	   修改
         	 </el-button>
         	 <el-button size="small" type="danger" @click="handleDelete($index,row)">
         	   删除
         	 </el-button>
         </div>
        </el-table-column>
      </el-table>
     </el-col>
  	 </el-row>
  	 <!-- table -->
  		<!-- toolbar -->
  		<el-row type="type" justify="space-around" align="middle" class="row-bg">
  		 <el-col :span="12">
       <div class="grid-content bg-purple">
       	 <span class="wrapper">
       	 	<el-tooltip content="添加新权限！" placement="right">
       	 	  <el-button size="small" @click="dialogAddPermission = true" icon="plus" type="primary">添加
       	 	  </el-button>
       	  </el-tooltip>
       	 </span>
       </div>
  		 </el-col>
  		 <el-col :span="12">
  		  <!-- page 
  		  <div class="grid-content bg-purple-light pull-right">
  		  	  <include file="Common:_pagination"/>
  		  </div>
  		   page -->
  		 </el-col>
  	 </el-row>
  		<!-- toolbar -->
  	</div>
  	<div v-show="show" style="display:none">
  		<!-- 添加 -->
  		<include file="_add"/>
  		<!-- 修改 -->
  		<include file="_edit"/>
  	</div>
  </div>
</block>
<block name="scripts">
<script>
	var page  = {
			dataList:{$dataList|json_encode},
			levelOne:[{id:"1", name:"顶级权限"}],
			addFormUrl:"{:U('add')}",
			editFormUrl:"{:U('edit')}",
			editIndex:0,

			init:function(){
				this.dataList.forEach(function(currentValue, index){
					currentValue['switch'] = currentValue.status == 1 ? true: false;
					if (currentValue.level == 2) {
						currentValue['classfication'] = currentValue.name;
						page.levelOne.push({id: currentValue.id, name:currentValue.name});
					} else {
						currentValue['classfication'] =  "";
					}
					
				})

			}
		}
		page.init();
</script>


	<script type="text/javascript">
		// vm option 里面的 data属性
		Oassign(window.vmData ,{
			value1:false,
			value2:'',
			loading: false,
			formLabelWidth: '140px',
			currentPage: 1,
			total:100,

			datalist:page.dataList,
			
			//添加对话框
			dialogAddPermission: false,
			//修改对话框
			dialogEditPermission: false,
			//checked
			checked1:true,
			checked2:false,
   
			editForm:{
				id:'',
				pid:'',
				name:'',
				title:"",
				remark:'',
				status:''
			},
			addForm:{
				name:"",
				title:"",
				pid:"",
				status:"1",
				remark:"",
				level:0
			}
		});

		window.vmMethods.set("addFormAction", function(){
			var  vmThis = this;
			this.$http.post(page.addFormUrl, this.addForm).then(function (response) {
// todo success  handle

	        }, function(response){
// todo error handle
	          
	        });
		})

		window.vmMethods.set("editFormAction", function(){
			var  vmThis = this;
			this.$http.post(page.editFormUrl, this.editForm).then(function (response) {
// todo success  handle

	        }, function(response){
// todo error handle
	          
	        });
		})

		window.vmMethods.set("switchHandle", function(index, row){
			row.status = row.switch ? 1 : 0; 
			this.initObject(this.statusForm, row);
			this.statusIndex = index;
//todo  ajax 更新状态
			var  vmThis = this;
			this.$http.post(page.editFormUrl, this.statusForm).then(function(response){

			}, function(response){
				//失败
				//
			});
		})

		window.vmMethods.set("handleEdit", function(index, row){
			
			// this.initObject("editForm", row);
			this.initObject(this.editForm , row); // 这种 哪种方式好一点？
			page.editIndex = index;
			this.dialogEditPermission = true;

		})

		window.vmMethods.set("addFormSelect", function(value){
			if (value==1) {
				this.addForm.level = 2;
			} else {
				this.addForm.level = 3;
			}
		})
		//计算属性
		Oassign(window.vmOption, {
			computed: {
				levelOne:function(){
					var vmThis = this;
					return page.levelOne.filter(function(obj){
						if (obj.id != vmThis.editForm.id ) {
							return obj;
						}
					});
				}
			}
		});


		Oassign(window.vmOption, {
			//方法
			methods : {
	      tableRowClassName:function(row, index) {
	        if (row.classfication == '') {
	          return 'info-row';
	        }else{
	          return 'positive-row';
	        }
	        return '';
	      },
	      handleDelete:function(index, row){
	        this.$confirm('此操作将永久删除该角色, 是否继续?', '提示', {
	          confirmButtonText: '确定',
	          cancelButtonText: '取消',
	          type: 'warning'
	        }).then(function(){
	          this.$message({
	            type: 'success',
	            message: '删除成功!'
	          });
	        }).catch(function(){
	          this.$message({
	            type: 'info',
	            message: '已取消删除'
	          });          
	        });
	      },
	      handleCurrentChange:function(page){

	      }
			}
		})
	</script>
</block>