<el-dialog title="录入总结" v-model="addFormDialog">
<el-form ref="addForm" :rules="addRules" :model="addForm"  :label-width="dialogLabelWidth">
 <el-row>
   <el-col :span="12">
     <el-form-item label="总结标题" prop="title">
       <el-input v-model="addForm.title" auto-complete="off" placeholder="请填写标题"></el-input>
     </el-form-item>
   </el-col>
 </el-row>
 <el-row>
   <el-col>
      <el-form-item label="总结类型" prop="type">
        <el-select v-model="addForm.type" placeholder="请选择总结类型">
          <el-option v-for="(value,key) in SummaryType" :label="value" :value="key"></el-option>
        </el-select>
      </el-form-item>
   </el-col>
 </el-row>
 <el-row>
   <el-col :span="20">
     <el-form-item label="总结内容" prop="content">
        <el-input v-model="addForm.content" type="textarea" :autosize="{ minRows: 4, maxRows: 4}" placeholder="请填写总结内容,最多填写150字"></el-input>
     </el-form-item>
   </el-col>
 </el-row>
</el-form>
  <div slot="footer" class="dialog-footer">
    <include file="Common:_add" />
  </div>
</el-dialog>

