<extend name="Common:base"/>
<block name="head">
  <style>
    .el-table__body tr.current-row>td{
      background: rgba(157, 195, 232, 0.7);
    }
  </style>
</block>
<block name="body">
  <div id="app" class="container">
    <div class="wrapp" v-show="show" style="display:none;">
      <!-- <el-row>
        <el-alert
          title="除“部门”外，“个人”和“团组”暂时无法统计今天的!!!"
          type="warning"
          show-icon>
        </el-alert>
      </el-row> -->
      <el-row>
        <el-col :span="24">
          <el-form :inline="true" ref="searchForm" :model="searchForm">
            <el-form-item prop="start">
                <el-date-picker size="small" v-model="searchForm.start" 
                  placeholder="请选择起日期" 
                  @change="startDateChange"
                  >
                </el-date-picker>
            </el-form-item>
            <el-form-item prop="end">
                <el-date-picker 
                  v-model="searchForm.end" 
                  placeholder="请选择止日期" 
                  @change="endDateChange"
                  size="small"
                  >
                </el-date-picker>
            </el-form-item>
            <el-form-item>
              <el-select size="small" v-model="searchForm.type" placeholder="请选择">
                <el-option v-for="item in searchGroup" :label="item.key" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            
            
            <el-form-item>
              <el-button type="info" size="small" icon="search" @click="search2">查询</el-button>
              <el-tooltip content="清空搜索框并刷新表格数据" placement="bottom-start">
                <el-button size="small" @click="resetBack" style="margin-left:10px;">重置</el-button>
              </el-tooltip>
            </el-form-item>
            <el-form-item>
              <el-button size="small" @click="setField('week')">本周</el-button>
              <el-button size="small" @click="setField('month')">本月</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-table 
          :data="dataList" 
          border highlight-current-row
          v-loading="dataLoad" 
          element-loading-text="{:L('DATA_LOGIN')}"
          @sort-change="sortChange"
          @row-dblclick="getRowDetail">
                    <el-table-column label="序号"  align="center" width="65" :formatter="handleIndex"  >
                    </el-table-column>

                    <el-table-column   prop="name"  label="名称"   width="150">
                    </el-table-column>

                    <el-table-column v-if="searchForm.type=='group'"  prop="realname"  label="主管"   width="150">
                    </el-table-column>

                    <el-table-column v-if="searchForm.type!='department'"  prop="department_name"  label="部门"   width="150">
                    </el-table-column>



                    <el-table-column sortable="custom"  align="center" prop="create_num" label="自锁数"  >
                    </el-table-column>

                    <el-table-column sortable="custom"  align="center" prop="today_v" label="成交数"  >
                    </el-table-column>

                    <el-table-column sortable="custom"  align="center" prop="conflict_to" label="冲突"  >
                    </el-table-column>

                    <el-table-column sortable="custom"  align="center" prop="conflict_from" label="被冲突"  >
                    </el-table-column>

                    <el-table-column sortable="custom"  align="center" prop="pulls_num" label="索取"  >
                    </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="type" justify="start" align="middle" class="row-bg">
        <el-col :span="12">
              <div class="grid-content bg-purple-light pull-right">
                <!-- page -->
                <include file="Common:_pagination" />
                <!-- / page -->
              </div>
        </el-col>
      </el-row>
      <el-row>
        <el-table 
          :data="detailTable" 
          border highlight-current-row 
          element-loading-text="{:L('DATA_LOGIN')}"
          @sort-change="detailSortChange"
          >
                <el-table-column label="序号"  align="center" width="65" type="index"  >
                </el-table-column>
                <el-table-column   prop="name"  label="名称"   width="150">
                </el-table-column>

                <el-table-column sortable="custom"  align="center" prop="create_num" label="自锁数"  >
                </el-table-column>

                <el-table-column sortable="custom"  align="center" prop="today_v" label="成交数"  >
                </el-table-column>

                <el-table-column sortable="custom"  align="center" prop="conflict_to" label="冲突"  >
                </el-table-column>

                <el-table-column sortable="custom"  align="center" prop="conflict_from" label="被冲突"  >
                </el-table-column>

                <el-table-column sortable="custom"  align="center" prop="pulls_num" label="索取"  >
                </el-table-column>
          </el-table>
      </el-row>
    </div>
  </div>
</block>
<block name="scripts">

<script src="__PUBLIC__/js/calculate.js"></script>
  <script>
    window.defaultOption.hooks.delAll('mounted');

    window.defaultOption.setDatas({
      searchGroup:{:json_encode($searchGroup)},
      sortMap:{
        descending:'desc',
        ascending:'asc'
      },
      detailTable:[],
      detailParams:{}
    }).setForm('search',{
      start:'{$start}',
      end:'{$end}',
      type:"department"
    }).setMethod('startDateChange', function(v){
      this.searchForm.start = v;
    }).setMethod('endDateChange', function(v){
      this.searchForm.end = v;
    }).setMethod('setField', function(v){
      if (v=='week') {
        this.searchForm.start = showWeekFirstDay();
        this.searchForm.end   = showWeekLastDay();
      } else if(v=='month'){
        this.searchForm.start = showMonthFirstDay();
        this.searchForm.end   = showMonthLastDay();
      }
      
      this.loadDatalist();
      this.detailReset();
    }).setVueHook('mounted', function(){
    this.show = true;
    if (!this.readySearch()) {
      this.loadDatalist();
      // this.detailReset();
    }
  }).setMethod('search2', function(){
    if (this.readySearch()) {
      this.$message({
        message:"请选择止日期",
        type:"error",
        showClose: true
      })
    } else {
      this.currentPage = 1;
      this.loadDatalist();
      this.detailReset();
    }
  }).setMethod('readySearch', function(){
    return this.searchForm.start.length ==0 || this.searchForm.end.length==0;
  }).setMethod('resetBack', function(){
      window.location.href="{:U('index')}";
  }).setMethod('sortChange', function(info){
      if (info) {
        this.searchForm.sort_field = info.prop;
        this.searchForm.sort_order = this.sortMap[info.order];
      } else {
        delete this.searchForm.sort_field;
        delete this.searchForm.sort_order;
      }
      this.dataReload();
      this.detailReset();
  }).setMethod('isLink', function(id){
    return id!=0 && this.objType!='Users';
  }).setMethod('getRowDetail', function(row, event){
      if (this.searchForm.type!='user') {

        var map = {
          'department':'Groups',
          'group':'Users'
        }

        this.detailParams['start'] = this.searchForm.start;
        this.detailParams['end']   = this.searchForm.end;
        this.detailParams['id']    = row.id;
        this.detailParams['objType']    = map[this.searchForm.type];

        this.loadDetailTable();
      }
     
  }).setMethod('detailReset', function(){
    this.detailTable = [];
  }).setMethod('detailSortChange', function(info){
     if (info) {
        this.detailParams.sort_field = info.prop;
        this.detailParams.sort_order = this.sortMap[info.order];
      } else {
        delete this.detailParams.sort_field;
        delete this.detailParams.sort_order;
      }

      this.loadDetailTable();
  }).setMethod('loadDetailTable', function(){
      this.$http.get("{:U('SortCustomersCount/getList')}", {params:this.detailParams}).then(function(response){
        this.detailTable = response.body.list;
        if (this.detailTable.length==0) {
          this.$message("没有数据");
        }
      }, function(response){
        this.$message.error("出错了，请联系开发");
      })
  });


  function titleCase(str) {
    var array = str.toLowerCase().split(" ");
    for (var i = 0; i < array.length; i++){
      array[i] = array[i][0].toUpperCase() + array[i].substring(1, array[i].length);
    }
    var string = array.join(" ");
    return string;
  }


  </script>
</block>