<extend name="Common:base" />
<block name="head">
  <style>
    .superaddition{
      height:44px;
      width:400px;
      position: relative;
      top : 12px;
      z-index: 50;
      left:90px;
    }
    .el-tabs__header{
      border-top:2px solid #ea4b4b;
      border-bottom: 1px solid #c51f1f;
    }
    .el-dialog .el-tabs__header{
      border-top:none;
    }
    .el-tabs--border-card .el-tabs__item{
      border-left: none;
    }
    .el-tabs--border-card .el-tabs__item.is-active {
      background-color: #fff;
      border-right-color: #d3dce6;
      background: #544b8f;
      color: #fff;
    }
    .el-tabs--border-card .el-tabs__header {
      background-color: #fff;
      margin: 0;
    }
    .container > .wrapp > .a > .el-row {
      margin-bottom: 6px;
    }
    .el-tabs--border-card .el-tabs__content{
      padding:0 9px 5px 9px;
    }
    .el-card, .el-menu--horizontal .el-submenu>.el-menu, .el-tabs--border-card{
      box-shadow: none;
    }
    .el-tabs--border-card{
      border: none;
    }
    .el-table__body tr.current-row>td{
      background: rgba(157, 195, 232, 0.7);
    }
  </style>
</block>
<block name="body">
  

<div id="app" class="container">

<div class="wrapp" id="appx" v-show="show" style="display: none;">
  <div class="a" id="app3">
  <el-row>
    <el-col :span="24" >
      <el-alert title="未选择日期时默认显示当日24点前的统计数据！" type="info" show-icon close-text="明白" ></el-alert>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="24">
      <el-form :inline="true" ref="searchForm" :model="searchForm">
        <el-form-item prop="dist">
          <el-date-picker  v-model="searchForm.dist" placeholder="请选择日期"  @change="dateChange">
          </el-date-picker>
        </el-form-item>
        <el-form-item prop="object">
          <el-select v-model="searchForm.object" placeholder="请选择对象" >
            <el-option v-for="item in searchGroup" :label="item.key" :value="item.value" :disabled="item.disabled"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item prop="enter_name" style="width:170px">
          <el-input v-model="searchForm.enter_name" size="small" placeholder="个人|团组|部门的名字"></el-input>
        </el-form-item>
        <el-form-item prop="field" v-show="false">
          <input type="hidden" size="small" v-model="searchForm.field">
        </el-form-item>

        <el-form-item>
          <el-button type="info" size="small" icon="search"  @click="loadDatalist" >查询</el-button> 
          <el-tooltip content="清空搜索框并刷新表格数据" placement="bottom-start" style="margin-left:10px;">
            <el-button  size="small" @click="searchReset2"  >重置</el-button>
          </el-tooltip>
          <el-tooltip content="点击刷新当前页面" placement="right"  style="margin-left:10px;">
            <el-button  size="small" type="danger" @click="refresh" >刷新</el-button>
          </el-tooltip>

        </el-form-item>
      </el-form>
      </el-col>
  </el-row>
  <!-- max-height="500" -->

  <el-row>
    <el-col :span="24">
      <el-table :data="dataList" border id="he" v-loading="dataLoad" 
       element-loading-text="{:L('DATA_LOGIN')}" highlight-current-row
       empty-text="暂无数据,请录入客户！" ref="select" >
        <el-table-column  label="序号"  align="center" width="65" :formatter="handleIndex"  >
        </el-table-column>
        <el-table-column  header-align="center" prop="name" label="姓名" width="150">
        </el-table-column>
        <el-table-column  align="center" prop="total_count" label="客户总数(个)">
        </el-table-column>
        <el-table-column  align="center" prop="A_count" label="A.准客户" >
        </el-table-column>
        <el-table-column  align="center" prop="B_count" label="B.意向客户" >
        </el-table-column>
        <el-table-column  align="center" prop="C_count" label="C.一般客户" >
        </el-table-column>
        <el-table-column  align="center" prop="D_count" label="D.未有意向客户">
        </el-table-column>
        <el-table-column  align="center" prop="F_count" label="F.黑名单(同行)" >
        </el-table-column>
        <el-table-column  align="center" prop="N_count" label="N.无效客户"  >
        </el-table-column>
        <el-table-column  align="center" prop="V_count" label="V.成交客户"  >
        </el-table-column>
        <el-table-column  align="center" prop="VX_count" label="VX.审核未通过" >
        </el-table-column>
        <el-table-column  align="center" prop="VT_count" label="VT.有意见并投诉" >
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>

  <!-- toolbar -->
  <el-row type="type"  justify="space-between" align="middle"  class="row-bg">

    <el-col :span="12" :offset="12">
      <div class="grid-content bg-purple-light pull-right">

        <!-- page -->
        <include file="Common:_pagination" />
        <!-- / page -->
        
      </div>
    </el-col>

  </el-row>
  </div>

</div>

</div>

</block>
<block name="scripts">
<script>
  window.defaultOption.setDatas({
    searchGroup:{:json_encode($searchGroup)},
  }).setForm('search',{
      dist:'',
      object:'user',
      realname:'',
      group:'user_id',
      ctrl:'search',
  }).setMethod('dateChange', function(v){
    this.searchForm.dist = v;
  }).setMethod("searchReset2", function(){
    this.searchForm = Oassign({}, this._search) ;
    this.dataLoad = true;
    this.loadDatalist();
  }).setMethod('refresh',function(){
    window.location.reload();
  });
</script>



</block>
