<extend name="Common:base" />
<block name="head">
</block>
<block name="body">
    <div id="app" class="container">
        <div id="drapable" v-show="show" style="display: none;">
            <el-row>
                <el-col :span="24">
                    <el-form :inline="true" ref="searchForm" :model="searchForm">
                        <el-form-item prop="name">
                            <el-input v-model="searchForm.name" size="small" placeholder="客户姓名"></el-input>
                        </el-form-item>

                        <el-form-item prop="name">
                            <el-input v-model="searchForm.contact" size="small" placeholder="手机|微信|qq"></el-input>
                        </el-form-item>

                        <el-form-item prop="group" style="width:100px">
                          <el-select v-model="searchForm.group" size="small" placeholder="请选择">
                            <el-option v-for="item in searchGroup" :label="item.name" :value="item.user_id"></el-option>
                          </el-select>
                        </el-form-item>

                        <el-form-item prop="field" v-show="false">
                          <input type="hidden" size="small" v-model="searchForm.field">
                        </el-form-item>
                        
                        <el-form-item>
                            <el-button type="info" size="small" icon="search" @click="loadDatalist">查询</el-button> 
          
                          <el-tooltip content="录入高级查询条件"  style="margin-left:10px;">
                            <el-button  @click="openDialog('advancedQuery')" size="small" type="primary">{:L('ADVANCED_QUERY')}</el-button>
                          </el-tooltip>
                            <el-tooltip content="清空搜索框并刷新表格数据" placement="bottom-start" style="margin-left:10px;">
                              <el-button  size="small" @click="searchReset2">重置</el-button>
                            </el-tooltip>

                            <el-tooltip content="本人跟踪的客户" placement="bottom-start">
                            <el-badge :value="{$aggregation.log}" :max="9" style="margin-left:10px;">
                              <el-button type="info" size="small" v-bind:class="{on:flag==1}" @click="setField('log',1)">跟踪</el-button>
                            </el-badge>
                          </el-tooltip>

                          <el-tooltip content="本人没有跟踪的客户" placement="bottom-start">

                            <el-badge :value="{$aggregation.unlog}" :max="9" style="margin-left:15px;">
                              <el-button type="info" size="small" v-bind:class="{'on':flag==2}" @click="setField('unlog',2)">未跟踪</el-button>
                            </el-badge>
                          </el-tooltip>

                          <el-tooltip content="本人计划跟踪的客户" placement="bottom-start">
                            <el-badge :value="{$aggregation.plan}" :max="9" style="margin-left:15px;">
                              <el-button type="info" size="small" v-bind:class="{'on':flag==3}" @click="setField('plan',3)" >计划</el-button>
                            </el-badge>
                          </el-tooltip>

                         <el-tooltip content="本人把客户转给他人的客户(分成)" placement="bottom-start">
                            <el-badge :value="{$aggregation.transfto}" :max="9" style="margin-left:15px;">
                              <el-button type="info" size="small" v-bind:class="{'on':flag==4}" @click="setField('transfto',4)">转让</el-button>
                            </el-badge>
                          </el-tooltip>

                          <el-tooltip content="他人把客户转给本人的客户(分成)" placement="bottom-start">

                            <el-badge :value="{$aggregation.transfin}" :max="9" style="margin-left:15px;">
                              <el-button type="info" size="small" v-bind:class="{'on':flag==5}" @click="setField('transfin',5)">转入</el-button>
                            </el-badge>
                          </el-tooltip>

                          <el-tooltip content="本人跟踪且成交了的客户" placement="bottom-start">
                            <el-badge :value="{$aggregation.type}" :max="9" style="margin-left:15px;">
                              <el-button type="primary" size="small" v-bind:class="{'on':flag==6}" @click="setField('type',6)">服务</el-button>
                            </el-badge>
                          </el-tooltip>

                          <el-tooltip content="对客户进行筛选后重点跟踪" placement="bottom-start">
                            <el-badge :value="{$aggregation.important}" :max="9" style="margin-left:15px;">
                              <el-button type="info" size="small" v-bind:class="{'on':flag==7}" @click="setField('important',7)">自选</el-button>
                            </el-badge>
                          </el-tooltip>

                          <el-tooltip content="他人的客户与您的客户有冲突" placement="bottom-start">
                            <el-badge :value="{$aggregation.conflict}" :max="9" style="margin-left:15px;">
                              <el-button size="small" type="danger" v-bind:class="{'on':flag==8}" @click="setField('conflict',8)">冲突</el-button>
                            </el-badge>
                          </el-tooltip>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-table
                :data="dataList"
                border
                v-loading="dataLoad"
                element-loading-text="{:L('DATA_LOGIN')}"
                >
                <el-table-column 
                label="{:L('INDEX')}"
                :formatter="handleIndex"
                width="65" ></el-table-column>

                <el-table-column 
                prop="name"
                label="客户姓名"
                width="150"></el-table-column>
                <el-table-column prop="type" label="客户类型"></el-table-column>

                <el-table-column prop="realname" label="跟踪员工"></el-table-column>
                <el-table-column prop="lockname" label="锁定员工"></el-table-column>
                <!-- ton -->
                <el-table-column prop="qq" label="qq" width="120">
                  <template scope="scope">
                    {{ scope.row.contact[0].qq }}
                  </template>
                </el-table-column>
                <el-table-column prop="qq_nickname" label="qq昵称">
                  <template scope="scope">
                    {{ scope.row.contact[0].qq_nickname }}
                  </template>
                </el-table-column>
                <el-table-column prop="phone" label="手机" width="150">
                  <template scope="scope">
                    {{ scope.row.contact[0].phone }}
                  </template>
                </el-table-column>
                <el-table-column prop="weixin" label="微信" width="150">
                  <template scope="scope">
                    {{ scope.row.contact[0].weixin }}
                  </template>
                </el-table-column>
                <el-table-column prop="weixin_name" label="微信号" width="150">
                  <template scope="scope">
                    {{ scope.row.contact[0].weixin_name }}
                  </template>
                </el-table-column>

                <el-table-column prop="last_track" label="最后跟踪时间" width="180"></el-table-column>
                <el-table-column prop="share_benefit" label="分成比例"></el-table-column>
                <el-table-column prop="plan" label="下次计划"  width="180"></el-table-column>

                <el-table-column prop="sex_text" label="性别"></el-table-column>

                <el-table-column label="操作" width="170" fixed="right">
                  <template scope="scope">
                    <el-button size="small" @click="buy(scope.row)" type="primary">购买</el-button>
                    <el-button size="small" @click="openRenewal(scope.row)" type="primary">续费</el-button>
                  </template>
                </el-table-column>
                  
                </el-table>
              </el-col>
            </el-row>

            <el-row>
                <el-col :span="12"> 
                  <el-row style="margin-bottom:6px">
                    <el-col :span="24">
                      <el-tooltip content="录入新的客户" placement="bottom-start" style="margin-left:0px;">
                          <el-button  @click="openDialog('add')" size="small" type="primary">添加客户</el-button>
                      </el-tooltip>
                      <el-tooltip content="编辑客户资料" placement="bottom-start" style="margin-left:10px;">
                          <el-button   size="small" type="primary">修改客户</el-button>
                      </el-tooltip>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="24">
                      <div class="grid-content bg-purple">
                    <span class="wrapper">
                      <!-- <el-tooltip content="选择客户录入跟踪信息" placement="right">
                        <el-button size="small" @click="openDialog('addTrack')" type="primary">录入跟踪</el-button>
                      </el-tooltip>

                      <el-tooltip content="选择客户录入投诉意见" placement="right">
                        <el-button size="small" @click="openDialog('complain')" type="primary" style="margin-left:10px;">客户投诉</el-button>
                      </el-tooltip>

                      <el-tooltip content="选择客户录入对其跟踪计划" placement="right">
                        <el-button size="small" @click="openDialog('addPlan')" type="primary" style="margin-left:10px;">计划</el-button>
                      </el-tooltip>

                      <el-tooltip content="选择客户录入其提醒事项及内容" placement="right">
                        <el-button size="small" @click="openDialog('addRemind')" type="info" style="margin-left:10px;">提醒</el-button>
                      </el-tooltip>

                      <el-tooltip content="筛选客户重点跟踪" placement="right">
                        <el-button size="small" @click="openDialog('addChoice')" type="primary" style="margin-left:10px;">自选</el-button>
                      </el-tooltip>
                    </span> -->
                  </div>
                    </el-col>
                  </el-row>
                </el-col>
                <el-col :span="12">
                  <div class="pull-right">
                    <!-- page -->
                    <include file="Common:_pagination" />
                    <!-- / page -->
                  </div>

                </el-col>
            </el-row>

        </div>

        <div class="dialogWrapper" v-show="show" style="display: none">
          <include file="_add" />
        </div>
    </div>
</block>
<block name="scripts">
    <script>
        window.defaultOption.setDatas({
            searchGroup: {:json_encode($searchGroup)},
            flag:"",
            customerType:{:json_encode($customerType)},
            sexType:{:json_encode($sexType)},
            Quality:{:json_encode($Quality)},
            Year:{:json_encode($Year)},
            Income:{:json_encode($Income)},
            Sty:{:json_encode($Sty)},
            Money:{:json_encode($Money)},
            Energy:{:json_encode($Energy)},
            Problem:{:json_encode($Problem)},
            Mode:{:json_encode($Mode)},
            Attitude:{:json_encode($Attitude)},
            Profession:{:json_encode($Profession)},
            Intention:{:json_encode($Intention)},
            Source:{:json_encode($Source)},
            Proportion:{:json_encode($Proportion)},
            Remind:{:json_encode($Remind)},
            products:{:json_encode($Products)},
            addRules:{}
        }).setForm('search', {
            name:"",
            group:"",
            field:"",
            contact:""
        }).setForm('add',{

        },true).setMethod('setField', function(field, num){
            // console.log(field);
            // console.log(num);
        }).setMethod('searchReset2', function(){

        }).setMethod("buy", function(){

        }).setMethod('openRenewal', function(){

        })
    </script>
    
</block>