<el-row>
        <el-col :span="24">
          <el-table 
          :data="dataList" 
          border highlight-current-row
          v-loading="dataLoad" 
          element-loading-text="{:L('DATA_LOGIN')}"
         >


            <el-table-column label="序号"  align="center" width="65" :formatter="handleIndex"  >
            </el-table-column>
            <el-table-column   prop="name"  label="客户"   width="100">
            </el-table-column>
            <el-table-column    prop="spread_name" label="推广部"  width="180">
            </el-table-column>
            <el-table-column   align="center" prop="created_at" label="录入时间" width="180" >
            </el-table-column>
            <el-table-column     label="销售部"  width="180">
              <template scope="props">
                {{ props.row.depart_name }} - {{ props.row.sale_name}}
              </template>
            </el-table-column>
            <el-table-column   align="center" prop="dis_time" label="分配时间"   width="180">
            </el-table-column>
            <el-table-column   align="center" label="是否成交"  >
              <template scope="props">
              {{ (props.row.type=="V" || props.row.type=="VX" || props.row.type=="VT") ? '是' : '否' }}
              </template>
            </el-table-column>

            <el-table-column prop="qq"  align="center" label="qq"  >
              <template scope="props">
              {{ props.row.contacts[0].qq }}
              </template>
            </el-table-column>

            <el-table-column prop="qq_nickname"   align="center" label="qq昵称"  >
              <template scope="props">
              {{ props.row.contacts[0].qq_nickname }}
              </template>
            </el-table-column>

            <el-table-column prop="phone"   align="center" label="手机"  >
              <template scope="props">
              {{ props.row.contacts[0].phone }}
              </template>
            </el-table-column>


            <el-table-column prop="weixin"   align="center" label="微信号"  >
              <template scope="props">
              {{ props.row.contacts[0].weixin }}
              </template>
            </el-table-column>

            <el-table-column prop="weixin_nickname"   align="center" label="微信昵称"  >
              <template scope="props">
                {{ props.row.contacts[0].weixin_nickname }}
              </template>
            </el-table-column>



          </el-table>
        </el-col>
      </el-row>
      <el-row type="type" justify="start" align="middle" class="row-bg">
        <el-col :span="12">
              <div class="grid-content bg-purple-light pull-right">
                <!-- page -->
                <include file="Common:_pagination" />
                <!-- / page -->
              </div>
        </el-col>
      </el-row>