<el-dialog title="编辑角色" v-model="setAuthFormDialog">
	<el-form :label-width="dialogLabelWidth">
		<input type="hidden" v-model="setAuthForm.role_id">
		<table class="el-table__body">
			<col name="el-table_1_column_1" width="150">
			<col name="el-table_1_column_2">
			<tbody>
				<tr v-for='item in nodeList' >
					<td align="right" class="group-item">
						{{ item.title }} <el-checkbox v-model='setAuthForm.node' :label="item.id" name="node"></el-checkbox>&nbsp;&nbsp;&nbsp;
					</td>
					<td >
						<el-checkbox-group v-model="setAuthForm.cnode">
							<el-checkbox v-for="action in item['sons']"  :label="action.id"  >{{ action.title }}</el-checkbox>
						</el-checkbox-group>
					</td>
				</tr>
			</tbody>
		</table>
	</el-form>
	<div slot="footer" class="dialog-footer">
		<el-button @click="closeDialog('setAuth')">取 消</el-button>
		<el-button type="primary" v-show="!setAuthFormSubmitStatus" @click="setAuthFormSubmit(page.setAuthFormUrl, 'setAuth')" >确 定</el-button>
		<el-button type="primary" v-show="setAuthFormSubmitStatus" :loading="true" >修改中</el-button>
	</div>
</el-dialog>