<el-dialog title="添加角色" v-model="dialogAddRole">
   <el-form>
    <el-form-item label="角色名称" :label-width="formLabelWidth">
      <el-input auto-complete="off" style="width:400px;" placeholder="请设置角色名称"></el-input>
    </el-form-item>
    <el-form-item label="角色说明" :label-width="formLabelWidth">
      <el-input type="textarea" style="width:500px;" placeholder="请为角色添加说明"></el-input>
    </el-form-item>
    <a style="font-size:16px;font-weight:700;color:#1f2d3d">权限分配</a>
    <el-form-item label="员工管理：" :label-width="formLabelWidth">
		  <el-checkbox-group v-model="checkList">
		    <el-checkbox label="员工列表"></el-checkbox>
		    <el-checkbox label="添加员工"></el-checkbox>
		    <el-checkbox label="修改员工"></el-checkbox>
		    <el-checkbox label="删除员工"></el-checkbox>
		  </el-checkbox-group>
    </el-form-item>
    <el-form-item label="角色管理：" :label-width="formLabelWidth" style="margin-top:-20px;">
		  <el-checkbox-group v-model="checkList1">
		    <el-checkbox label="浏览角色"></el-checkbox>
		    <el-checkbox label="添加角色"></el-checkbox>
		    <el-checkbox label="修改角色"></el-checkbox>
		    <el-checkbox label="删除角色"></el-checkbox>
		  </el-checkbox-group>
    </el-form-item>
    <el-form-item label="权限管理：" :label-width="formLabelWidth" style="margin-top:-20px;">
		  <el-checkbox-group v-model="checkList2">
		    <el-checkbox label="浏览权限"></el-checkbox>
		    <el-checkbox label="添加权限"></el-checkbox>
		    <el-checkbox label="修改权限"></el-checkbox>
		    <el-checkbox label="删除权限"></el-checkbox>
		  </el-checkbox-group>
		  。。。。。。
    </el-form-item>
   </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogAddRole= false">取 消</el-button>
    <el-button type="primary" @click="dialogAddRole = false">确 定</el-button>
  </div>
</el-dialog>