<el-dialog title="编辑角色" v-model="editFormDialog">
   <el-form :model="editForm" :label-width="dialogLabelWidth">
    <el-form-item label="角色名称" >
      <el-input v-model="editForm.name" auto-complete="off" style="width:400px;" placeholder="请设置角色名称" v-model="value2"></el-input>
    </el-form-item>

   <!-- <el-form-item label="父级角色"  style="width:400px;">
      <el-select v-model="editForm.pid" placeholder="请选择">
      	<el-option value="0" label="无父级"></el-option>
      </el-select>
    </el-form-item> -->

    <el-form-item label="角色说明" >
      <el-input v-model="editForm.remark" type="textarea" style="width:500px;" placeholder="请为角色添加说明" v-model="editForm.description"></el-input>
    </el-form-item>

    <el-form-item label="角色状态" >
		<el-radio class="radio" v-model="editForm.status" label="0">禁用</el-radio>
  		<el-radio class="radio" v-model="editForm.status" label="1">启用</el-radio>
    </el-form-item>
   </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="closeDialog('edit')">取 消</el-button>
    <el-button type="primary" v-show="!editFormSubmitStatus" @click="editFormSubmit(page.editFormUrl, 'edit')" >确 定</el-button>
    <el-button type="primary" v-show="editFormSubmitStatus" :loading="true" >修改中</el-button>
  </div>
</el-dialog>