<extend name="Common:base"/>
<block name="head">
	<style>
	  .el-table .info-row {
	    background: #c9e5f5;
	  }

	  .el-table .positive-row {
	    background: #e2f0e4;
	  }
 </style>
</block>
<block name="body">
	<div class="container" id="app">
		<div v-show="show" class="wrapp" style="display:none">
		  <!-- table -->
		  <el-row>
		   <el-col :span="24">
			  <el-table :data="datalist" v-loading="loading" element-loading-text="拼命加载中" style="width: 100%" :row-class-name="tableRowClassName">
			    <el-table-column align="center" type="index" label="编号" width="100"></el-table-column>
			    <el-table-column align="center" prop="name" label="角色名称"></el-table-column>
			    <el-table-column align="center" prop="remark" label="角色说明"></el-table-column>
			    <el-table-column inline-template :context="_self" align="center"  label="当前状态" width="100" >
					<div>
					      <el-switch
							  v-model="row.switch"
							  on-color="#13ce66"
							  off-color="#ff4949" 
							  @change="switchHandle($index, row)">
							</el-switch>
					</div>
			    </el-table-column>
			    
			    <el-table-column inline-template :context="_self" align="center" label="操作">
			     <div>
			        <el-button
			          size="small"
			          @click="handleEdit($index, row)">
			          {:L('EDIT')}
			        </el-button>

			        <el-button
			          size="small"
			          type="primary"
			          @click="handleAuthoriz($index, row)">
			          {:L('AUTHORIZE')}
			        </el-button>


			        <el-button
			          size="small"
			          type="danger"
			          @click="handleDelete($index, row)">
			          {:L('DELETE')}
			        </el-button>
		       </div>
			    </el-table-column>
			  </el-table>
			 </el-col>
      </el-row>
      <!-- table -->
			<!-- toolbar -->
			<el-row type="type"  justify="space-between" align="middle"  class="row-bg">
			  <el-col :span="12">
			  <div class="grid-content bg-purple">
			  	<span class="wrapper">
			  		<el-tooltip content="添加新角色！" placement="right">
					    <el-button size="small"  @click="dialogAddRole = true" icon="plus" type="primary">添加</el-button>
				    </el-tooltip>
				  </span>
			  </div>
			  </el-col>
			</el-row>
			<!-- / toolbar -->
		</div>
		<div v-show="show" style="display:none">
			<!-- 添加 -->
			<include file="_add"/>
			<!-- 修改 -->
			<include file="_edit"/>
			<!-- 授权 -->
			<include file="_access"/>
		</div>
	</div>
</block>
<block name="scripts">
	<script>
		// var dataList = {$roleList|json_encode};
		var page  = {
			dataList:{$roleList|json_encode},
			addFormUrl:"{:U('addRole')}",
			editFormUrl:"{:U('editRole')}",

			init:function(){
				this.dataList.forEach(function(currentValue, index){
					currentValue['switch'] = currentValue.status == 1 ? true: false;
					currentValue['img']    = "__ROOT__/Upload/"+currentValue['img'];
				})
			}
		}
		page.init();

	</script>


	<script type="text/javascript">
		// vm option 里面的 data属性
		Oassign(window.vmData ,{
			
			loading: false,
			formLabelWidth: '140px',

			datalist:page.dataList,

			//添加对话框
			dialogAddRole: false,
			//修改对话框
			dialogEditRole: false,
			//授权对话框
			dialogEditAce:  false,
			
			checkList:['员工列表','添加员工'],
			checkList1:['浏览角色','添加角色'],
			checkList2:['浏览权限','添加权限'],

			editForm:{
				id:"",
				name:"",
				pid :"",
				status:1,
				remark:""
			},
			editIndex:0,
			addForm:{
				name:"",
				pid :"",
				status:'1',
				remark:""
			},
			statusForm:{
				id:"",
				status:'1'
			},
			statusIndex:0,


			dialogEditAccess:{

			}

			
			

		});

		window.vmMethods.set("formatter", function(row, col){
			return row.status==1? true : false;
		})
		window.vmMethods.set("tableRowClassName", function(row, index){
			if (index === 1) {
	          return 'info-row';
	        } else if (index === 3) {
	          return 'positive-row';
	        }
	        return '';
		})

		window.vmMethods.set("handleEdit", function(index, row){
			
			// this.initObject("editForm", row);
			this.initObject(this.editForm , row); // 这种 哪种方式好一点？
			this.editIndex = index;
			this.dialogEditRole = true;

		})

		window.vmMethods.set("handleDelete", function(index, row){
			this.$confirm('此操作将永久删除该角色, 是否继续?', '提示', {
	          confirmButtonText: '确定',
	          cancelButtonText: '取消',
	          type: 'warning'
	        }).then(function(){
	          this.$message({
	            type: 'success',
	            message: '删除成功!'
	          });
	        }).catch(function() {
	          this.$message({
	            type: 'info',
	            message: '已取消删除'
	          });          
	        });
		})

		window.vmMethods.set("switchHandle", function(index, row){
			row.status = row.switch ? 1 : 0; 
			this.initObject(this.statusForm, row);
			this.statusIndex = index;
//todo  ajax 更新状态
			var  vmThis = this;
			
			this.$http.post(page.editFormUrl, this.statusForm).then(function(response){

			}, function(response){
				//失败
				//
			});
		})

		window.vmMethods.set("addFormAction", function(){
			var  vmThis = this;
			this.$http.post(page.addFormUrl, this.addForm).then(function (response) {
// todo success  handle
	          // vmThis.$set(vmThis, 'loading', false);
	          // vmThis.$set(vmThis, 'tableData3', response.body)
	          // vmThis.$set(vmThis, 'total', 2);
	        }, function(response){
// todo error handle
	          // vmThis.$set(vmThis, 'loading', false);
	        });
		})

		window.vmMethods.set("editFormAction", function(){
			var  vmThis = this;
			// vmThis.dialogEditRole= false
			this.$http.post(page.editFormUrl, this.editForm).then(function (response) {
// todo success  handle

	          // vmThis.$set(vmThis, 'loading', false);
	          // vmThis.$set(vmThis, 'tableData3', response.body)
	          // vmThis.$set(vmThis, 'total', 2);
	          vmThis.initObject(vmThis.datalist[vmThis.editIndex], vmThis.editForm);  
	          vmThis.datalist[vmThis.editIndex]['switch'] = vmThis.editForm['status']==1 ? true : false;
	        }, function(response){
// todo error handle	
	          // vmThis.$set(vmThis, 'loading', false);
	        });
		})

		//授权
		window.vmMethods.set("handleAuthoriz", function(index, row){
			this.dialogEditAce = true;
		})


		
	</script>
</block>