<extend name="Common:base"/>
<block name="head">
	<style>
  .el-table .info-row {
    background: #c9e5f5;
  }

  .el-table .positive-row {
    background: #e2f0e4;
  }
</style>
</block>
<block name="body">
	<div class="container" id="app">
		<div v-show="show" class="wrapp" style="display:none">
		  <!-- table -->
		  <el-row>
		   <el-col :span="24">
			  <el-table :data="datalist" v-loading="loading" element-loading-text="拼命加载中" style="width: 100%" :row-class-name="tableRowClassName">
			    <el-table-column align="center" type="index" label="编号" width="100"></el-table-column>
			    <el-table-column align="center" prop="name" label="角色名称"></el-table-column>
			    <el-table-column align="center" prop="description" label="角色说明"></el-table-column>
			    <el-table-column inline-template align="center" label="当前状态">
							<el-switch
							  v-model="value1"
							  on-color="#13ce66"
							  off-color="#ff4949">
							</el-switch>
			    </el-table-column>
			    <el-table-column align="center" prop="time" label="创建时间">
			    </el-table-column>
			    <el-table-column inline-template align="center" label="操作">
			     <div>
			        <el-button
			          size="small"
			          @click="handleEdit($index, row)">
			          修改
			        </el-button>
			        <el-button
			          size="small"
			          type="danger"
			          @click="handleDelete($index, row)">
			          删除
			        </el-button>
		       </div>
			    </el-table-column>
			  </el-table>
			 </el-col>
      </el-row>
      <!-- table -->
			<!-- toolbar -->
			<el-row type="type"  justify="space-between" align="middle"  class="row-bg">
			  <el-col :span="12">
			  <div class="grid-content bg-purple">
			  	<span class="wrapper">
			  		<el-tooltip content="添加新角色！" placement="right">
					    <el-button  @click="dialogAddRole = true" icon="plus" type="primary">添加</el-button>
				    </el-tooltip>
				  </span>
			  </div>
			  </el-col>
			</el-row>
			<!-- / toolbar -->
		</div>
		<div v-show="show" style="display:none">
			<!-- 添加 -->
			<include file="_add"/>
			<!-- 修改 -->
			<include file="_edit"/>
		</div>
	</div>
</block>
<block name="scripts">
	<script type="text/javascript">
		// vm option 里面的 data属性
		Oassign(window.vmData ,{
			value1:true,
			value2:'',
			loading: false,
			formLabelWidth: '140px',

			datalist:[{
				name:'超级管理员',
				description:'拥有所有的权限',
				time:'2016-12-15',
			},{
				name:'部门主管',
				description:'可以随意管理自己对于部门',
				time:'2016-12-15',
			},{
				name:'普通员工',
				description:'拥有跟踪客户关系相关的操作权限',
				time:'2016-12-15',
			},{
				name:'测试账号',
				description:'进攻给实习员演示和学习',
				time:'2016-12-15',
			}],
			//添加对话框
			dialogAddRole: false,
			//修改对话框
			dialogEditRole: false,
			sousuo:'',
			input:'区域一',
			//checked
			checkList:['员工列表','添加员工'],
			checkList1:['浏览角色','添加角色'],
			checkList2:['浏览权限','添加权限'],

			editForm:{
				description:""
			}
		});

		Oassign(window.vmOption, {
			//方法
			methods : {
	      tableRowClassName:function(row, index) {
	        if (index === 1) {
	          return 'info-row';
	        } else if (index === 3) {
	          return 'positive-row';
	        }
	        return '';
	      },
	      handleEdit:function(index, row){
	      	this.value2=row.name;
	      	this.editForm.description = row.description;
         this.dialogEditRole=true;
	      },
	      handleDelete:function(index, row){
	        this.$confirm('此操作将永久删除该角色, 是否继续?', '提示', {
	          confirmButtonText: '确定',
	          cancelButtonText: '取消',
	          type: 'warning'
	        }).then(() => {
	          this.$message({
	            type: 'success',
	            message: '删除成功!'
	          });
	        }).catch(() => {
	          this.$message({
	            type: 'info',
	            message: '已取消删除'
	          });          
	        });
	      },
			}
		})
	</script>
</block>