<extend name="Common:base" />
<block name="head">
    <style>
        
        .hidden{
            display: none;
        }
        .el-input-number{
            overflow: visible;
        }
    </style>
</block>
<block name="body">
    <div id="app" class="container">
        <div class="wrapp" v-show="show" style="display:none">
            <el-form ref="editForm"  :model="editForm" >
                
                <el-form-item>
                    <el-alert
                    title="所有的相加不能大于总人数"
                    type="info"
                    show-icon>
                  </el-alert>
                </el-form-item>
                <el-form-item label="总人数">
                  <el-col :span="10">
                      <el-input v-model="total" disabled placeholder="请输入内容"></el-input>
                  </el-col>
                </el-form-item>
                <el-form-item  
                    v-for="(item, index) in editForm.percent"
                    
                    :key="item.key"
                    :prop="'percent.' + index + '.value'">
                    <p>
                        <el-select v-model="item.id" @change="selectChange">
                            <el-option
                              v-for="option in optionList"
                              :label="option.name"
                              :value="option.id">
                            </el-option>
                        </el-select>
                    </p>
                    
                  
                    <el-input-number v-model="item.value"    :max="total">
                    </el-input-number>
                    <el-button @click.prevent="remove(item)">删除</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-show="!submitStatus" @click="editSubmit">确 定</el-button>
                    <el-button @click="addItem">添加一项</el-button>   
                    <el-button type="primary" v-show="submitStatus" :loading="true" >添加中</el-button>
                </el-form-item>
                 
            </el-form>
        </div>
        <div class="hidden">
            <!-- page -->
            <include file="Common:_pagination" />
            <!-- / page -->
        </div>
    </div>

</block>
<block name="scripts">
<script>

  page.disUrl = "{:U('manuallyDistribute')}";  
  window.defaultOption.setDatas({
    types:{:json_encode($types)},
    optionList:{:json_encode($optionList)},
    submitStatus:false,
    total:{$total}
  }).setForm('edit',{
    total:{$total},
    percent:[]
  }).setMethod("editSubmit", function(){
     var form = this.editForm;
     if (  !this.checkPercent()) {
        return ;
     }

     if ( !this.checkId() ) {
        return ;
     }
    
     this.submitStatus != this.submitStatus;
     this.$http.post(page.disUrl, form).then(function(response){
        this.submitStatus != this.submitStatus;
        this.$message.success("保存成功")
     }, function(response){
        this.submitStatus != this.submitStatus;
        this.$message.error("操作失败");
     });
  }).setMethod("checkPercent", function(){
    var list = this.editForm.percent;
    var total = 0;
    var vmThis = this;
    var zore = false;
    
    list.forEach(function(current){
        total += parseInt(current.value);
    });
    

    if (total > this.total) {
        this.$message.error("不能大于总数");
        return false;
    } 
    return true;
  }).setMethod("addItem", function(){
    this.editForm.percent.push({
          value: 0,
          id: "",
          key: Date.now()
        });
  }).setMethod("remove", function(item){
    var index = this.editForm.percent.indexOf(item)
    if (index !== -1) {
      this.editForm.percent.splice(index, 1)
    }
  }).setMethod("selectChange", function(v){
    var list = this.editForm.percent;
    var total = 0;
    list.forEach(function(c){
        if (c.id == v) {
            total++;
        }
    })
    if (total >=2 ) {
        this.$message.error("只能选择一次");
    } 
  }).setMethod("checkId", function(){
    var list = this.editForm.percent;
    var ids = [];
    var total = 0;
    list.forEach(function(c){
      
        if (ids.indexOf(c.id)!=-1) {
          total = 1;
        } else {
          ids.push(c.id)
        }
    })
    if (total ==1 ) {
      this.$message.error("只能选择一次");
      return false;
    }
    return true;
  })
</script>
</block>