<extend name="Common:base" />
<block name="head">
  <style>
    .el-table__body tr.current-row>td{
      background: rgba(157, 195, 232, 0.7);
    }
  </style>
</block>
<block name="body">
	<div id="app" class="container">
		<div class="wrapp" v-show="show" style="display: none">
			<!-- seach form -->
			<el-row>
				<el-col :span="24">
					<el-form :inline="true"  ref="searchForm" :model="searchForm">
					  <el-form-item prop="name">
					   <el-input v-model="searchForm.name"  placeholder="请输入应聘人员姓名" >
					   </el-input>
					  </el-form-item>
					  <el-form-item prop="status" >
			            <el-select v-model="searchForm.status" clearable  size="small" placeholder="请选择人事部所在部门" >
			                <el-option v-for="(status, key) in employeeStatus" :label="status" :value="key" ></el-option>
			            </el-select>
			          </el-form-item>
					  <el-form-item> 
					    <el-button type="primary" icon="search" @click="loadDatalist">查询</el-button> 
					    <el-button @click="searchReset" >重置</el-button>
			        <!-- 	<el-button  @click="advancedSearch=true">高级查询</el-button>  -->
					  </el-form-item>
					</el-form>
				</el-col>
			</el-row>
			<!-- / search form -->

			<!-- datatables  -->
			<el-row>
				<el-col :span="24">
					<el-table 
					  :data="dataList" 
				      v-loading="dataLoad" 
				      element-loading-text="{:L('DATA_LOGIN')}"
				      highlight-current-row
				      @selection-change="handleSelectionChange"
				      @row-click="showDetail"
					 border stripe>
					    <el-table-column type="selection"  width="50" >
					    </el-table-column>
					    <el-table-column  label="序号"  width="70" :formatter="handleIndex" >
					    </el-table-column>
						 <el-table-column prop="name" label="姓名" width="150" align="center">
					    </el-table-column>
					    <el-table-column prop="sex"  label="性别" width="80" align="center">
						    <template scope="scope">
					          {{ getType(scope.row.sex, 'sexType') }}
					        </template>
					    </el-table-column>
					   <el-table-column prop="id_card" label="身份证号" width="192">
					   </el-table-column>
					    <el-table-column prop="mphone" label="手机" width="140" align="center">
					    </el-table-column>
					    <el-table-column prop="qq" label="QQ号" width="140" align="center">
					    </el-table-column>
						<el-table-column prop="weixin"  label="微信号" width="160" align="center">
					    </el-table-column>
					     <el-table-column prop="graduation_date" label="毕业时间" width="190" align="center">
					    </el-table-column>
					     <el-table-column prop="university" label="毕业院校" width="190" align="center">
					    </el-table-column>
					     <el-table-column prop="major" label="所学专业" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="position" label="应聘岗位" width="190" align="center">
					    </el-table-column>
					     <el-table-column prop="info_sources" label="信息来源" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="resume_enterprise_name" label="企业名称（简历）" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="graduation_date" label="任职时间（简历）" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="resume_position" label="任职职务（简历）" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="resume_leader" label="直属上司姓名（简历）" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="resume_leader_phone" label="直属上司联系电话（简历）" width="190" align="center">
					    </el-table-column>
					     <el-table-column prop="resume_leaving_reasons" label="离职原因" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="interviewer_name" label="面试人姓名" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="interviewer_department" label="面试人所在部门" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="interviewer_mphone" label="面试人联系电话" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="interviewer_qq" label="面试人QQ号" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="interviewer_opinion" label="面试意见" width="190" align="center">
					    </el-table-column>
					     <el-table-column prop="interviewer_date" label="面试日期" width="190" align="center">
					    </el-table-column>
					    <el-table-column prop="ip" label="登录IP" width="170" header-align="center">
					    </el-table-column>
					    <el-table-column prop="location" label="登录地点" width="170" align="center">
					    </el-table-column>
					    <el-table-column prop="lg_time" label="最后登录时间" width="175" align="center">
						    <template scope="scope">
					          {{ getTime(scope.row.lg_time) }}
					      </template>
					    </el-table-column>
					    <el-table-column prop="out_time" label="最后退出时间" width="175" align="center">
						    <template scope="scope">
					          {{ getTime(scope.row.out_time) }}
					      </template>
					    </el-table-column>
					    <el-table-column prop="created_at" label="创建时间" width="190" align="center">
					    </el-table-column>
					   <el-table-column fixed="right" label="操作"  align="center" width="220">
						   <template scope="scope">
						      <el-button type="info" @click.stop="handleEdit(scope.$index, scope.row)"     size="small">编辑</el-button>
						      <el-button type="danger"  @click.stop="handleDelete(scope.$index, scope.row)"   size="small" >删除</el-button>
						   </template>
						</el-table-column>

				    </el-table>
				</el-col>
			</el-row>
			<!-- / datatables  -->
			
			<!-- toolbar -->
				<el-row type="type"  justify="space-between" align="middle"  class="row-bg">
				  <el-col :span="12">
				  <div class="grid-content bg-purple">
				  	<el-button-group>
					    <el-button type="primary" size="small" @click="openDialog('add')">添加应聘人员信息</el-button>
				    </el-button-group>
				  </div>
				  </el-col>
				  <el-col :span="12">
				  <div class="grid-content bg-purple-light pull-right">
				    <!-- page -->
				    <include file="Common:_pagination" />
				    <!-- / page -->
				    
				  </div></el-col>
				</el-row>
			<!-- / toolbar -->
		</div>
		
		<div class="dialogWrapper" v-show="show" style="display: none">
			<!-- 高级查询 -->
			<include file="_searchx" />
			<!-- / 高级查询 -->

			<!-- 添加 -->
			<include file="_add" />
			<!-- / 添加 -->

			<!-- 编辑 -->
			<include file="_edit" />
			<!-- / 编辑 -->

			<!-- 角色 -->
			<include file="_role" />
			<!-- / 角色 -->

			<!-- 修改身份信息 -->
			<include file="_editIDx" />
			<!-- / 修改身份信息 -->

			<!-- 确认身份 -->
			<include file="_editConfirmx" />
			<!-- / 确认身份 -->

			<!-- 编辑 密码-->
			<include file="_editPassword" />
			<!-- / 编辑 -->
			<!-- 显示详细信息 -->
			<include file="_detail" />
		</div>

	</div>
</block>

<block name="scripts">
	<script>
	
        //手机号码
		  var checkPhone=function(rule,value,callback){
		     var phoneReg = /^1[34578]\d{9}$/;
		     if(value==='' || value===null){
		       callback();
		     }else if(!phoneReg.test(value)){
		       callback('手机号格式错误');
		     }else{
		       callback();
		     }
		  }
		 //qq号码
		  var checkQQ=function(rule,value,callback){
		    var number=/^\d+$/;
		    if(value==='' || value===null){
		      callback();
		    }else if(!number.test(value)){
		      callback('QQ号格式错误');
		    }else{
		      callback();
		    }
		  }
	</script>
	<script>
		page.getUserRolesUrl="{:U('getUserRoles')}";
		page.setUserRolesUrl="{:U('setUserRoles')}";
		window.defaultOption.setDatas({
			  detailContent:"",
            detailFormDialog:false,
			roleList:{:json_encode($roleList)},
			rolesList:{:json_encode($rolesList)},
			pathInfo:{folder:'users'},
			sexType:{:json_encode($sexType)},
			multipleSelection:[],

		
			addRules:{
				name:[
                    {required: true, message: '请输入应聘人员姓名', trigger: 'blur'},
				],
				mphone:[
                    {validator: checkPhone, trigger: 'blur'},
				],
				resume_leader_phone:[
                    {validator: checkPhone, trigger: 'blur'},
				],
				interviewer_mphone:[
                    {validator: checkPhone, trigger: 'blur'},
				],
				qq:[
                     {validator: checkQQ, trigger:'blur'},
				],
				interviewer_qq:[
                     {validator: checkQQ, trigger:'blur'},
				],

			},
			editRules:{
				name:[
					{required: true, message: '请输入应聘人员姓名', trigger: 'blur'},
				],
				mphone:[
					{validator: checkPhone, trigger: 'blur'},
				],
				resume_leader_phone:[
					{validator: checkPhone, trigger: 'blur'},
				],
				interviewer_mphone:[
					{validator: checkPhone, trigger: 'blur'},
				],
				qq:[
					{validator: checkQQ, trigger:'blur'},
				],
				interviewer_qq:[
					{validator: checkQQ, trigger:'blur'},
				],

			}


		}).setForm('add',{
			name:"",
			role_id:"",
			department_id:"",
			id:"",
			sex:0,
			id_card:"",
			mphone:"",
			qq:"",
			weixin:"",
			graduation_date:"",
			university:"",
			major:"",
			position:"",
			entry_sources:"",
			resume_enterprise_name:"",
			resume_entry_date:"",
			resume_position:"",
			resume_leader:"",
			resume_leader_phone:"",
			resume_leaving_reasons:"",
			interviewer_date:"",
			interviewer_name:"",
			interviewer_department:"",
			interviewer_mphone:"",
			interviewer_qq:"",
			interviewer_opinion:""

		}).setForm('edit',{
			name:"",
			role_id:"",
			id:"",
			sex:0,
			id_card:"",
			mphone:"",
			qq:"",
			weixin:"",
			graduation_date:"",
			university:"",
			major:"",
			position:"",
			entry_sources:"",
			resume_enterprise_name:"",
			resume_entry_date:"",
			resume_position:"",
			resume_leader:"",
			resume_leader_phone:"",
			resume_leaving_reasons:"",
			interviewer_date:"",
			interviewer_name:"",
			interviewer_department:"",
			interviewer_mphone:"",
			interviewer_qq:"",
			interviewer_opinion:""
		}).setForm('search',{
			name:"",
			realname:"",
			status:"",
			plan:false
		}).setMethod('getType', function(type, field){
			return this[field][type];
		}).setMethod('getTime',function(v){
			if(v==null || v==""){
				return v;
			}else{
		    var date = new Date(v*1000);
			  var year = date.getFullYear();
			  var month = date.getMonth()+1;
			  var day = date.getDate();
			  var hour = date.getHours();
			  var minute = date.getMinutes();
			  var second = date.getSeconds();
			  month=month<10?'0'+month:month;
			  day=day<10?'0'+day:day;
			  hour=hour<10?'0'+hour:hour;
			  minute=minute<10?'0'+minute:minute;
			  second=second<10?'0'+second:second;
			  return year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
			}
	
		}).setVueHook('mounted', function(){
	    var vmThis = this;
	    this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:1} }).then(function(response){
	      var provinces = [];
	      response.body.forEach(function(currentValue,index){
	        provinces.push({id: currentValue.id, name: currentValue.name});
	      })
	      vmThis.$set(vmThis, 'provinces', provinces);
	    });
	  }).setMethod('provinceChange', function(v){
	    var vmThis = this;
	    this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:v} }).then(function(response){
	      var cities = [];
	       response.body.forEach(function(currentValue,index){
	        cities.push({id: currentValue.id, name: currentValue.name});
	       })
	       vmThis.$set(vmThis, 'cities', cities);
	    })
	  }).setMethod('cityChange', function(v){
	    var vmThis = this;
	    this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:v} }).then(function(response){
	      var cities = [];
	       response.body.forEach(function(currentValue,index){
	        cities.push({id: currentValue.id, name: currentValue.name});
	       })
	       vmThis.$set(vmThis, 'districts', cities);
	    })
	  }).setMethod('handleEdit', function(index, row){
	  		var type ='edit';
		  	this.initObject( this[FormName.getFormName(type)], row );
			this.editIndex = index;
			this.openDialog(type);
	  }).setMethod('beforeEdit',function(){
	    if (!this.$refs['editselect']) {
	      this.provinceChange(this.editForm.area_province);
	      this.cityChange(this.editForm.area_city);
	    }
	  }).setMethod('handleSelectionChange', function(val){
	    this.multipleSelection = val;
	  }).setMethod('showDetail', function(row){
    this.name = row.name;
    this.sex = row.sex;
    this.id_card = row.id_card;
    this.mphone = row.mphone;
    this.qq = row.qq;
    this.weixin = row.weixin;
    this.graduation_date = row.graduation_date;
    this.university = row.university;
    this.major = row.major;
    this.position = row.position;
    this.info_sources = row.info_sources;
    this.resume_entry_date = row.resume_entry_date;
    this.resume_enterprise_name = row.resume_enterprise_name;
    this.resume_position = row.resume_position;
    this.resume_leader = row.resume_leader;
    this.resume_leader_phone = row.resume_leader_phone;
    this.resume_leaving_reasons = row.resume_leaving_reasons;
    this.interviewer_date = row.interviewer_date;
    this.interviewer_name = row.interviewer_name;
    this.interviewer_department = row.interviewer_department;
    this.interviewer_mphone = row.interviewer_mphone;
    this.interviewer_qq = row.interviewer_qq;
    this.interviewer_opinion = row.interviewer_opinion;
    this.openDialog('detail');
  });
	</script>
</block>
