<extend name="Common:base"/>
<block name="head"></block>
<block name="body">
<div id="app" class="container">
	<div class="wrapp" id="appx" v-show="show" style="display:none;">
		<div class="a" id="app3">
			<el-row>
			  <el-col :span="24">
          <el-form :inline="true" ref="searchForm" :model="searchForm">
		  		  <el-form-item prop="name" style="width:170px">
		  		    <el-input v-model="searchForm.name" size="small" placeholder="客户姓名|手机|qq|微信号"></el-input>
		  		  </el-form-item>

		        <el-form-item prop="field" v-show="false">
		          <input type="hidden" size="small" v-model="searchForm.field">
		        </el-form-item>

		        <el-form-item>
		          <el-button type="info" size="small" icon="search">查询</el-button> 
		          
		          <el-tooltip content="录入高级查询条件"  style="margin-left:10px;">
		            <el-button  size="small" type="primary">{:L('ADVANCED_QUERY')}</el-button>
		          </el-tooltip>

		          <el-tooltip content="清空搜索框并刷新表格数据" placement="bottom-start" style="margin-left:10px;">
		            <el-button  size="small">重置</el-button>
		          </el-tooltip>

		          <el-tooltip content="已经审核通过但未转给客服主管" placement="bottom-start" style="margin-left:10px;">
		            <el-badge :value="26" :max="9" >
		              <el-button size="small" type="primary">已审核</el-button>
		            </el-badge>
		          </el-tooltip>

		          <el-tooltip content="等待审核的客户" placement="bottom-start" style="margin-left:15px;">
		            <el-badge :value="26" :max="9" >
		              <el-button type="info" size="small">待审核</el-button>
		            </el-badge>
		          </el-tooltip>

		          <el-tooltip content="点击刷新当前页面" placement="right"  style="margin-left:15px;">
		            <el-button @click="refresh" size="small" type="danger">刷新</el-button>
		          </el-tooltip>

		  		  </el-form-item>
  		    </el-form>
			  </el-col>
		  </el-row>
      <el-row>
        <el-col :span="24">
          <el-table border v-loading="dataLoad" 
              element-loading-text="{:L('DATA_LOGIN')}"
              highlight-current-row ref="select">
              
		  	    <el-table-column width="50" align="center" type="selection"></el-table-column>
            
		  	    <el-table-column label="{:L('INDEX')}"  :formatter="handleIndex" width="65"  ></el-table-column>
		  	    <el-table-column  header-align="center" prop="name"  label="客户姓名" width="110"></el-table-column>
		  	    <el-table-column  header-align="center" prop="type" label="客户类型" sortable width="140">
		          <template scope="scope">
		            {{ getType(scope.row.type, 'customerType') }}
		          </template>
		  	    </el-table-column>

		        <el-table-column  header-align="center"  prop="user_id" label="跟踪员工" sortable width="190">
		            <template scope="scope">
		              {{ getType(scope.row.user_id, 'memberList') }}
		            </template>
		          </el-table-column>

		          <el-table-column  header-align="center" prop="qq" label="QQ号"  width="170">
		            <template scope="scope">
		              {{ scope.row.qq }}
		              <a v-if="scope.row.qq" :href="getTenct(scope.row.qq)">
		                <img width="25"  src="__PUBLIC__/images/0df431adcbef7609bca7d58a2adda3cc7cd99e73_r2_c2.jpg" alt="">
		              </a>
		            </template>
		          </el-table-column>

		          <el-table-column  header-align="center" prop="qq_nickname" label="QQ昵称"  width="170"></el-table-column>

		  	      <el-table-column prop="phone" label="手机" align="center" width="130"></el-table-column>

		          <el-table-column  header-align="center" prop="weixin" label="微信号" align="left" width="170">
		            <template scope="scope">
		              {{ scope.row.weixin }}
		            </template>
		          </el-table-column>

		          <el-table-column  header-align="center" prop="weixin_nickname" label="微信昵称" align="left" width="170">
		            <template scope="scope">
		              {{ scope.row.weixin_nickname }}
		            </template>
		          </el-table-column>

		          <el-table-column  prop="last_track" sortable='customer' label="最后跟踪时间" align="center" width="175"></el-table-column>

		        <el-table-column  prop="commission" label="跟踪方比例"  header-align="center" width="110"></el-table-column>
		        <el-table-column  prop="plan" label="计划跟踪时间" align="center" width="175"></el-table-column>
		        <el-table-column  prop="conflict" label="最后冲突时间" align="center" width="175"></el-table-column>
		        <el-table-column  header-align="center"  label="地区" width="135">
		          <template scope="scope">
		            {{ scope.row.province_name+"-"+scope.row.city_name }}
		          </template>
		        </el-table-column>
		        <el-table-column prop="sex"  label="性别" width="80"  header-align="center">
		          <template scope="scope">
		            {{ getType(scope.row.sex, 'sexType') }}
		          </template>
		        </el-table-column>
          </el-table>
        </el-col>
      </el-row>
		</div>
	</div>
</div>
</block>
<block name="scripts">
<script>
  window.defaultOption.setDatas({

  }).setForm('search',{
    name:'',
    field: '',
    group:'user_id',
    ctrl:'search',
  }).setMethod('refresh',function(){
  	window.location.reload();
  });
</script>
</block>