<extend name="Common:base" />
<block name="head"></block>
<block name="body">
  <div id="app" class="container">
    <div class="wrapp" v-show="show" style="display:none">
      <el-row>
        <el-col :span="12">
          <el-form :inline="true" ref="searchForm" :model="searchForm">
            <el-form-item prop="name">
             <el-input placeholder="请输入建议关键字" v-model="searchForm.name"></el-input>
            </el-form-item>
            <el-form-item>
             <el-button type="primary" icon="search" @click="loadDatalist">查询</el-button>
             <el-tooltip content="清空搜索框并刷新表格数据" placement="right">
              <el-button icon="loading" @click="searchReset">重置</el-button>
             </el-tooltip>
            </el-form-item>
          </el-form>
        </el-col>

      </el-row>
      <el-row>
        <el-col :span="24">
          <el-table :data="dataList" border  v-loading="dataLoad" element-loading-text="{:L('DATA_LOGIN')}" ref="select"
           @selection-change="handleSelectionChange">
            <el-table-column type="selection" align="center" width="50"></el-table-column>
            <el-table-column label="序号" align="center" :formatter="handleIndex" width="65"></el-table-column>
            <el-table-column label="类型" prop="type" align="center" >
              <template scope="scope">
                {{ getType(scope.row.type, 'AdviceType') }}
              </template>
            </el-table-column>
            <el-table-column label="标题" prop="title" align="center" ></el-table-column>
            <el-table-column label="建议内容" prop="advice" align="center"></el-table-column> 
            <el-table-column label="发表人" prop="ad_user" align="center" >  
            </el-table-column>
            <el-table-column label="时间" prop="time" align="center" ></el-table-column> 
            <el-table-column label="回复内容" prop="reply" align="center" ></el-table-column> 
            <el-table-column label="回复人" prop="re_user" align="center" >
            </el-table-column>
            <el-table-column label="回复时间" prop="re_time" align="center" ></el-table-column>  
          </el-table>
        </el-col>
      </el-row>

      <el-row type="flex"  justify="space-between" align="middle"  class="row-bg">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                 <el-tooltip content="发表建议和想法" placement="right">
                   <el-button size="small" type="info" @click="openDialog('add')" icon="edit">发表建议
                   </el-button>
                 </el-tooltip>
                 <el-tooltip content="选择一条建议并回复" placement="right">
                   <el-button size="small" type="primary" @click="openDialog('reply')" icon="plus">建议回复
                   </el-button>
                 </el-tooltip>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple-light pull-right">
            <!-- page -->
            <include file="Common:_pagination" />
            <!-- / page -->
              </div>
            </el-col>
      </el-row>
    </div>

    <div class="dialogWrapper" v-show="show" style="display: none">

      <!-- 录入客户 -->
      <include file="_add" />
      <!-- / 录入客户 -->
      <!-- 主管回复 -->
      <include file="_reply" />
      <!-- /主管回复 -->

    </div>

  </div>
</block>
<block name="scripts">
<script>

  page.replyFormUrl = "{:U(reply)}";
  window.defaultOption.setDatas({
    AdviceType:{:json_encode($AdviceType)},
    multipleSelection:[],
    addRules:{
      title:[
        { required: true, message: '请输入标题', trigger: 'blur' }
      ],
      type:[
        { required: true, message: '请选择类型', trigger: 'blur' }
      ],
      advice:[
        { required: true, message: '请输入内容', trigger: 'blur' }
      ],
    },
    replyRules:{
      reply:[
        { required: true, message: '请输入内容', trigger: 'blur' }
      ],
    },
  }).setForm('search',{
    name:'',
  }).setForm('add',{
    title:'',
    type:'',
    advice:'',
  }).setForm('reply',{
    reply:'',
    id:'',
  },true).setMethod('handleSelectionChange',function(val){
    this.multipleSelection = val;
  }).setMethod('commonSelect',function(x){
    var form = x;
    var vmThis = this;
    if (this.multipleSelection.length ==0){
      this.closeDialog(form);
      this.$message.error('请先选择一条建议');
      return false;
    } else if(this.multipleSelection.length>1) {
      this.closeDialog(form);
      this.$message.error('只能选择一条建议');
      return false;
    } else {
      var  row = this.multipleSelection.pop();
      this[FormName.getForm(x)].name = row.name;
      this[FormName.getForm(x)].id   = row.id;
      this.row=row;
      return row;
    }
  }).setMethod('getType', function(type, field){
    return this[field][type];
  }).setMethod('beforeReply', function(){
    this.commonSelect('reply');
  }).setMethod('replyFormSubmit',function(url ,form){
    this.commonSubmitLogic(url, form);
  });
</script>
</block>