<extend name="Common:base"/>
<block name="head">
  
</block>
<block name="body">
<div id="app" class="container">
    <div class="wrapp" id="app1" v-show="show" style="display:none;">
        <div class="a" id="app2">
            <el-row>
              <el-col :span="24">
          <el-form :inline="true" ref="searchForm" :model="searchForm">
                  <el-form-item prop="name" style="width:170px">
                    <el-input v-model="searchForm.name" size="small" placeholder="客户姓名"></el-input>
                  </el-form-item>
                  <el-form-item prop="contact" style="width:170px">
                    <el-input v-model="searchForm.contact" size="small" placeholder="手机|qq|微信号关键字"></el-input>
                  </el-form-item>

                <el-form-item prop="field" v-show="false">
                  <input type="hidden" size="small" v-model="searchForm.field">
                </el-form-item>

           

            <!-- 跟踪客服 -->

            <el-form-item prop="semaster_id">
              <el-select 
                size="small" 
                clearable 
                placeholder="主管小组" 
                v-model="searchForm.semaster_id"
                @change="smasterChange">
                <el-option v-for="item in SupService" :label="item.realname"  :value="item.id">
                  <span  >{{ item.realname }} 小组</span>
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item prop="gen_id">
              <el-select 
                
                size="small" 
                clearable 
                placeholder="客服人员" 
                v-model="searchForm.gen_id">
                <el-option v-for="item in GenServiceMan" :label="item.realname"  :value="item.user_id"></el-option>
              </el-select>
            </el-form-item>


            <!-- 销售员工 -->
              <el-form-item style="width:170px" prop="department_id">
                <el-select 
                clearable
                size="small" 
                placeholder="销售部门"
                v-model="searchForm.department_id" 
                @change="departChange">
                  <el-option v-for="depart in departments" :value="depart.id" :label="depart.name"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item style="width:170px" prop="group_id">
                <el-select 
                clearable
                size="small" 
                placeholder="销售团队"
                v-model="searchForm.group_id" 
                @change="groupChange">
                  <el-option v-for="group in groups" :value="group.id" :label="group.name"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item style="width:170px" prop="user_id">
                <el-select 
                clearable
                size="small" 
                placeholder="销售员工"
                v-model="searchForm.user_id" >
                  <el-option v-for="user in users" :value="user.id" :label="user.name"></el-option>
                </el-select>
              </el-form-item>
              <!-- / 销售员工 -->

              <el-form-item style="width:170px" prop="ranged">
                <el-date-picker
                  size="small"
                  v-model="searchForm.ranged"
                  type="daterange"
                  placeholder="选择成交时间范围"
                  :picker-options="pickerOptions"
                  @change="rangeChange">
                </el-date-picker>
              </el-form-item>
            
            <!-- <el-form-item>
              <el-checkbox v-model="searchForm.vt">投诉客户</el-checkbox>
            </el-form-item> -->
                <el-form-item>
                  <el-button @click="search" type="info" size="small" icon="search">查询</el-button> 
                  
<!--                  <el-tooltip content="录入高级查询条件"  style="margin-left:10px;">
                    <el-button @click="openDialog('advancedQuery')" size="small" type="primary">{:L('ADVANCED_QUERY')}</el-button>
                  </el-tooltip> -->

                  <el-tooltip content="清空搜索框并刷新表格数据" placement="bottom-start" style="margin-left:10px;">
                    <el-button @click="searchReset" size="small">重置</el-button>
                  </el-tooltip>

                  <el-tooltip content="点击刷新当前页面" placement="right"  style="margin-left:15px;">
                    <el-button @click="refresh" size="small" type="danger">刷新</el-button>
                  </el-tooltip>

                  </el-form-item>
            </el-form>
              </el-col>
          </el-row>
      <el-row>

        <!-- 分配的客服、成交时间、分配给主管的时间，分配给客服的时间、客服的最后跟踪时间 -->
        <el-col :span="24">
          <el-table 
            border 
            v-loading="dataLoad" 
            :data="dataList"
              @selection-change="handleSelectionChange"
              @row-click="trackLog" @sort-change="sortChange"
              element-loading-text="{:L('DATA_LOGIN')}"
              empty-text="暂无数据,销售妹子正在努力中！"
              highlight-current-row ref="select">

                <el-table-column width="50" align="center" type="selection"></el-table-column>
            
                <el-table-column label="{:L('INDEX')}" type="index" width="65"  ></el-table-column>

                <el-table-column  header-align="center" prop="name"  label="客户姓名" width="150"></el-table-column>
                <el-table-column prop="semaster_time" width="160" label="分配给主管的时间"></el-table-column>
                <el-table-column prop="gen_name" label="分配的客服" width="140"></el-table-column>
                <el-table-column prop="gen_time" label="分配给客服的时间" width="160"></el-table-column>
            <!-- sortable -->
                <el-table-column  header-align="center" prop="type" label="客户类型"  width="170">
                  <template scope="scope">
                    {{ getType(scope.row.type, 'customerType') }}
                  </template>
                </el-table-column>
            <!-- sortable -->
                

              <el-table-column  header-align="center" prop="qq" label="QQ号"  width="170">
                <template scope="scope">
                 <span v-if="scope.row.contact[0]">
                  {{ scope.row.contact[0].qq }}
                </span>
                <!-- <a v-if="scope.row.qq" :href="getTenct(scope.row.qq)">
                  <img width="25"  src="__PUBLIC__/images/0df431adcbef7609bca7d58a2adda3cc7cd99e73_r2_c2.jpg" alt="">
                </a> -->
                </template>
              </el-table-column>

                <el-table-column header-align="center" prop="qq_nickname" label="QQ昵称"  width="170">
              <template scope="scope">
                <span v-if="scope.row.contact[0]">
                  {{ scope.row.contact[0].qq_nickname }}
                </span>
              </template>  
            </el-table-column>

                <el-table-column prop="phone" label="手机" align="center" width="130">
              <template scope="scope">
                <span v-if="scope.row.contact[0]">
                  {{ scope.row.contact[0].phone }}
                </span>
              </template>   
            </el-table-column>

                <el-table-column  header-align="center" prop="weixin" label="微信号" align="left" width="170">
                <template scope="scope">
                <span v-if="scope.row.contact[0]">
                  {{ scope.row.contact[0].weixin }}
                </span>
              </template>  
                </el-table-column>


                <el-table-column  header-align="center" prop="weixin_nickname" label="微信昵称" align="left" width="170">
                <template scope="scope">
                <span v-if="scope.row.contact[0]">
                  {{ scope.row.contact[0].weixin_nickname }}
                </span>
              </template>
                </el-table-column>

            <el-table-column  header-align="center"  prop="realname" label="跟踪员工"  width="190">
            </el-table-column>

            <el-table-column  align="center"  prop="mphone" label="跟踪员工手机"  width="190">
            </el-table-column>

                <el-table-column  prop="kf_time"  label="客服最后跟踪时间" align="center" width="175">
            </el-table-column>

                <el-table-column  header-align="center"  label="地区" width="135">
                  <template scope="scope">
                    {{ scope.row.province_name+"-"+scope.row.city_name }}
                  </template>
                </el-table-column>

                <el-table-column prop="sex"  label="性别" width="80"  header-align="center">
                  <template scope="scope">
                    {{ getType(scope.row.sex, 'sexType') }}
                  </template>
                </el-table-column>

             <!-- 第二套联系方式 -->

            <el-table-column  header-align="center" prop="qq" label="QQ号2"  width="170">
              <template scope="scope">
                <span v-if="scope.row.contact[1]">
                  {{ scope.row.contact[1].qq }}
                </span>
                <!-- <a v-if="scope.row.qq" :href="getTenct(scope.row.qq)">
                  <img width="25"  src="__PUBLIC__/images/0df431adcbef7609bca7d58a2adda3cc7cd99e73_r2_c2.jpg" alt="">
                </a> -->
              </template>
            </el-table-column>

            <el-table-column  label="QQ昵称2"  width="170">
              <template scope="scope">
                <span v-if="scope.row.contact[1]">
                  {{ scope.row.contact[1].qq_nickname }}
                </span>
              </template>
            </el-table-column>

            <el-table-column  label="手机2" align="center" width="130">
              <template scope="scope">
                <span v-if="scope.row.contact[1]">
                  {{ scope.row.contact[1].phone }}
                </span>
              </template>   
            </el-table-column>

            <el-table-column label="微信号2" align="left" width="170">
              <template scope="scope">
                <span v-if="scope.row.contact[1]">
                  {{ scope.row.contact[1].weixin }}
                </span>
              </template>  
            </el-table-column>

            <el-table-column label="微信昵称2" align="left" width="170">
              <template scope="scope">
                <span v-if="scope.row.contact[1]">
                  {{ scope.row.contact[1].weixin_nickname }}
                </span>
              </template> 
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
          <!-- toolbar -->
          <el-row type="type"  justify="space-between" align="middle"  class="row-bg">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <!-- <span class="wrapper">
                    <el-tooltip content="选择客户分配给指定的客服主管/人员" placement="right">
                      <el-button size="small" @click="openDialog('batchAssign')" type="primary">分 配</el-button>
                    </el-tooltip>

                    <el-tooltip content="选择客户录入跟踪信息" placement="right" style="margin-left:10px;">
                      <el-button size="small" @click="openDialog('addTrack')" type="primary">录入跟踪</el-button>
                    </el-tooltip>

                    <el-tooltip content="选择客户录入投诉意见" placement="right">
                      <el-button size="small" @click="openDialog('complain')" type="primary" style="margin-left:10px;">客户投诉</el-button>
                    </el-tooltip>
                </span> -->
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple-light pull-right">
                <!-- page -->
                <include file="Common:_pagination" />
                <!-- / page -->
              </div>
            </el-col>
          </el-row>
        </div>

      <div id="app3" class="b" style="margin:5px -10px 5px;">
        <el-row>
         <el-col :span="24">
            <el-tabs  type="border-card">
             <el-tab-pane label="软件账号">
              <el-table :data="tableDataThree" empty-text="请点击客户显示其软件账号" border style="width: 100%">
                <el-table-column prop="realname" label="创建员工" header-align="center">
                </el-table-column>
           
                <el-table-column prop="account_id" label="软件账号" align="center">
                </el-table-column>
           
                <el-table-column prop="pdt_id" label="产品名称" header-align="center">
                       <template scope="scope">
                         {{ getPdt(scope.row.pdt_id, 'products') }}
                       </template>
                </el-table-column>
                
                <el-table-column prop="mark" label="备注" header-align="center">
                </el-table-column>
           
                <el-table-column prop="time" label="创建时间" width="180" align="center">
                </el-table-column>
              </el-table>
            </el-tab-pane>
              <el-tab-pane label="跟踪记录">
                <el-table :data="tableDataOne" empty-text="请点击客户显示跟踪信息" border style="width: 100%" @row-dblclick="viewtraceContents">
                  <el-table-column prop="user" label="操作员工" header-align="center">
                  </el-table-column>

                  <el-table-column prop="type" label="客户类型(当前)" header-align="center">
                  </el-table-column>

                  <el-table-column prop="name" label="客户姓名" header-align="center">
                  </el-table-column>
                  
                <el-table-column label="内容" header-align="center">
                  <template scope="scope">
                    {{scope.row.content | handleString}}
                  </template>
                </el-table-column>

                  <el-table-column prop="created_at" label="跟踪时间" width="180" align="center">
                  </el-table-column>

                  <el-table-column prop="track_text" label="跟踪类型" header-align="center">
                  </el-table-column>

                <el-table-column prop="step" label="跟踪步骤" header-align="center">
                </el-table-column>

                </el-table>
              </el-tab-pane>
              <el-tab-pane label="购买纪录">
                <el-table :data="tableDataTwo" empty-text="请点击客户显示其购买纪录" border style="width: 100%">
                  <!-- <el-table-column label="操作员工" prop="realname" header-align="center">
                  </el-table-column> -->

                  <el-table-column label="产品金额" prop="product_money" header-align="center">
                  </el-table-column>

                  <el-table-column label="产品名称" prop="product_name" header-align="center">
                  </el-table-column>

                <el-table-column label="产品周期" prop="product_t" header-align="center">
                </el-table-column>
                  
                <el-table-column label="购买时间" prop="buy_time" header-align="center">
                </el-table-column>
                  <!-- <el-table-column label="身份证" prop="identity" align="center">
                </el-table-column>
                
                <el-table-column label="通讯地址" prop="address" header-align="center">
                </el-table-column> -->

                  <!-- <el-table-column label="创建时间" prop="time" align="center">
                  </el-table-column> -->
                </el-table>
              </el-tab-pane>
            <el-tab-pane label="投诉记录">
              <el-table :data="tableDataFour"  empty-text="请点击客户显示跟踪信息" border style="width: 100%"  @row-dblclick="viewComplainContents">
                <el-table-column prop="user" label="操作员工" header-align="center">
                </el-table-column>
                
                <el-table-column label="投诉内容" header-align="center">
                  <template scope="scope">
                    {{scope.row.content | handleString}}
                  </template>
                </el-table-column>

                <el-table-column prop="created_at" label="投诉时间" width="180" align="center">
                </el-table-column>

                <el-table-column prop="type_text" label="投诉类型" align="center">
                </el-table-column>
              </el-table>
            </el-tab-pane>
            </el-tabs>
         </el-col>
        </el-row>
      </div>
    </div>

    <div class="dialogWrapper" v-show="show" style="display: none">
      <!-- 录入高级查询条件 -->
      <!-- <include file="_advancedQuery" /> -->
      <!-- /录入高级查询条件 -->
      <!-- 审查 -->
      <!-- <include file="_review" /> -->
      <!-- /审查 -->
      <!-- 审查通过开账号 -->
      <!-- <include file="_reviewPass" /> -->
      <!-- /审查通过开账号 -->
      <!-- 分配 -->
      <!-- <include file="_assign" /> -->
      <!-- /分配 -->
      <!-- 批量分配 -->
      <include file="_batchAssign"/>
      <!-- /批量分配 -->
      <!-- 跟踪内容 -->
      <include file="_traceContent" />
    <!-- 录入跟踪  -->
    <include file="_track" />
    <!-- / 录入跟踪 -->
    <!-- 投诉内容 -->
    <include file="Customer::_complainContent" />
    <!-- /投诉内容 -->
    <!-- 录入投诉 -->
    <include file="CustomerComplain::_add" />
    <!-- 录入投诉 -->
    </div>

</div>
</block>
<block name="scripts">
<script>
  page.dipacthFormUrl = "{:U('dispacth')}";
  page.addComplainFormUrl = "{:U('CommonHandleLogic/addComplain')}";
  window.defaultOption.setDatas({
    range:"",
    departments:[],
    groups:[],
    users:[],
    customerType:{:json_encode($customerType)},
    sexType:{:json_encode($sexType)},
    products:{:json_encode($Products)},
    SupService:{:json_encode($supService)},
    GenServiceMan:[],
    logType:{:json_encode($logType)},
    steps:{:json_encode($steps)},
    multipleSelection: [],
    provinces:[],
    cities:[],
    cusIdList:[],
    complainTypes:{:json_encode($complainTypes)},
    tableDataOne:[{
         'name':'',
         'created_at':'',
         'type':'',
         'track_type':'',
         'content':'',
         'user':'',
       'step':''
    }],
    tableDataTwo:[{
       'user':'',
       'expense':'',
       'pdt_id':'',
       'identity':'',
       'address':'',
       'time':''
    }],
    tableDataThree:[{
        'user':'',
        'account':'',
        'pdt_id':'',
        'mark':'',
        'create_t':'',
    }],
    tableDataFour: [{
      'name':'',
      'created_at':'',
      'type':'',
      'track_type':'',
      'content':'',
      'user':''     
    }],
    asrule:{
      user_id:[
         { required: true, message: '请选择', trigger: 'change' },
      ]
    },
    pickerOptions: {
      disabledDate:function(time) {
        return time.getTime() > Date.now();
      }
    },
  }).setForm('search',{
    name:'',
    contact:'',
    field:'',
    department_id:"",
    group_id:"",
    user_id:"",
    range:"",
    ranged:"",
    semaster_id:"",
    gen_id:"",
    vt:false
  }).setForm('advancedQuery',{
    start:'',
    end:'',
    type:'V',
    group:'user_id',
    ctrl:'advance',
    name:"",
    phone:"",
    track_start:"",
    track_end:"",
  },true).setForm('addTrack',{
    cus_id:"",
    next_datetime:'',
    track_type:'',
    to_type:"",
    content:'',
    name:"",
    step:"",
    track_type:'',
  },true).setForm('assign',{
    user_id:'',
  },true).setForm('batchAssign',{
    user_id:'',
  },true).setForm('traceContent',{
    content:'',
  },true).setForm('complainContent',{
    content:'',
  },true).setForm('complain',{
    cus_id:'',
    type:0,
    name:'',
    content:'',
  }, true).setMethod('getType', function(type, field){
      return this[field][type];
  }).setMethod('getPdt',function(pdt, field){
    var pdtName;
    this[field].forEach(function(value,index){
      if(value.id == pdt){
        pdtName = value.name;
      }
    });
    return pdtName;
  }).setMethod('beforeList', function(data){
     //console.log(this.callBackMan);
     return data;
  }).setMethod('refresh',function(){
    window.location.reload();
  }).setMethod('advanceSearch',function(){

       for (var x  in  this.advancedQueryForm) {
         if (this.advancedQueryForm[x] instanceof  Date) {
          this.advancedQueryForm[x] = this.advancedQueryForm[x].toLocaleDateString();
         }
       }
      // this.searchForm = Oassign({}, this.searchForm, this.advancedQueryForm);
      this.searchForm = Oassign({},  this.advancedQueryForm);
      this.loadDatalist();
      this.closeDialog('advancedQuery');

  }).setMethod('handleSelectionChange', function(val){
      this.multipleSelection = val;
  }).setMethod('beforeAssign',function(){
     this.commonSelect('assign');
  }).setMethod('assign',function(){
     this.closeDialog('assign');
     //console.log(this.assignForm);
  }).setMethod('beforeBatchAssign',function(){
    var form = 'batchAssign';
    var vmThis = this;
    if (this.multipleSelection.length == 0) {
      this.closeDialog(form);
      this.$message.error('请至少选择一个客户');
      return false;
    } else {
      return this.multipleSelection;
    }
  }).setMethod('batchAssign',function(url){
    var  vmThis   = this;
    var  cus_ids = [];
    /*for (var x in this.multipleSelection) {
          this.cusIdList.push(this.multipleSelection[x].cus_id);
    }
    this.cusIdList.pop();
    this.cusIdList.unshift({user_id:this.batchAssignForm.user_id});*/
    for (var i = this.multipleSelection.length - 1; i >= 0; i--) {
      cus_ids.push(this.multipleSelection[i].cus_id);
    }

    var body = {user_id:this.batchAssignForm.user_id, cus_ids:cus_ids };

    this.$refs['batchAssignForm'].validate(function(valid){
        
        if (valid) {
          vmThis.assignFormSubmitStatus = true;
          vmThis.$http.post(url, body).then(function(response){
            vmThis.$message({message: '操作成功',type: 'success'});
            setTimeout(function(){
              vmThis.batchAssignFormDialog = false;
              vmThis.assignFormSubmitStatus = false;
              vmThis.$refs.batchAssignForm.resetFields(); 
              vmThis.refresh();
            }, 2000);  
          },function(response){
            vmThis.$message.error("操作出错啦");
          });
        } else {
          // console.log('error submit!!');
          
          return false;
        }
      })

    
  }).setMethod('viewtraceContents',function(row,event){
    this.traceContentFormDialog = true;
    this.traceContentForm.content = row.content;
  }).setMethod('viewComplainContents',function(row,event){
    this.complainContentFormDialog = true;
    this.complainContentForm.content = row.content;
  }).setMethod('sortChange', function(sortObject){
    // console.log(sortObject);
    // console.log(this.searchForm);
    var sortMap = {
      ascending: 'asc',
      descending: 'desc'
    }
    if (sortObject.column === null) {
      delete this.searchForm.sort_field;
      delete this.searchForm.sort_order;
    } else {
      this.searchForm.sort_field = sortObject.prop;
      this.searchForm.sort_order = sortMap[sortObject.order];
    }
    this.dataLoad = true;
    //this.loadDatalist();    
  }).setVueHook('mounted', function(){
    var vmThis = this;
    //省份、城市
    this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:1} }).then(function(response){
      var provinces = [];
      response.body.forEach(function(currentValue,index){
        provinces.push({id: currentValue.id, name: currentValue.name});
      })
      vmThis.$set(vmThis, 'provinces', provinces);
    });
    this.dialogLabelWidth = "100px";
  }).setMethod('commonFind',function(url,table,row){
    var vmThis = this;
    this.$http.post(url,row).then(function(response){
      vmThis[table] = response.body;
    },function(response){
      vmThis.$message.error("查询出错啦");
    });
    // console.log(this.tableDataTwo);
  }).setMethod('trackLog',function(row,event,column){
   this.commonFind("{:U('CommonFindDetail/trackInfo')}",'tableDataOne',{cus_id:row.id,type:row.type,name:row.name});
    this.commonFind("{:U('CommonFindDetail/findDealInfo')}",'tableDataTwo',{user_id:row.id});
    this.commonFind("{:U('CommonFindDetail/softwareInfo')}",'tableDataThree',{cus_id:row.id});

    row.condition = 'service';
    this.$http.post("{:U('CommonFindDetail/complainInfo')}",{id:row.cus_id}).then(function(response){
      this.tableDataFour = response.body;
    },function(response){
      this.$message.error("查询出错啦");
    });
  }).setMethod('beforeAddTrack',function(){
    var vmThis = this;
    if (this.multipleSelection.length ==0 ||  this.multipleSelection.length>1) {
      this.closeDialog('addTrack');
      this.$message.error('请选择其中一位客户');
      return false;
    } else {
      var  row = this.multipleSelection[0];
      this[FormName.getForm('addTrack')].name = row.name;
      this[FormName.getForm('addTrack')].cus_id = row.cus_id;
      this[FormName.getForm('addTrack')].to_type = row.type;
      this.row=row;
      return row;
    }
  }).setMethod('commonSelect',function(x){
    var form = x;
    var vmThis = this;
    if (this.multipleSelection.length ==0 ||  this.multipleSelection.length>1) {
      this.closeDialog(form);
      this.$message.error('请先选择一位客户');
      return false;
    } else {
      var  row = this.multipleSelection[0];
      this[FormName.getForm(x)].name = row.name;
      this[FormName.getForm(x)].cus_id = row.cus_id;
      // this.complainForm.type = row.type;
      this.complainForm.to_id = row.salesman_id;
      this.row=row;
      return row;
    }
  }).setMethod('beforeAddComplain', function(){
    this.commonSelect('complain');
  }).setMethod('complainSubmit',function(url){
    var  vmThis   = this;
    this.complainFormSubmitStatus = true;
    this.$http.post(url,this.complainForm).then(function(response){
      vmThis.$message({message: '操作成功',type: 'success'});
      setTimeout(function(){
        vmThis.complainFormDialog = false;
        vmThis.complainFormSubmitStatus = false;
        vmThis.$refs.complainForm.resetFields(); 
        vmThis.refresh();
      }, 2000);  
    },function(response){
      vmThis.$message.error("操作出错啦");
    });
  }).setMethod("search", function(){
    this.dataLoad = true;
    this.loadDatalist();
  }).setMethod('departChange', function(v){
    this.searchForm.group_id = "";
    this.searchForm.user_id = "";
    this.setGroups(v);

  }).setMethod('groupChange', function(v){
    this.searchForm.user_id = "";
    this.setUsers(v);

  }).setMethod('setGroups', function(v){
    var vmThis = this;
    if ( v == "") {
      this.groups = [];
      return;
    }
    this.$http.get('{:U("getGroups")}', {params:{id:v}}).then(function(response){
      vmThis.groups = response.body;
    });
  }).setMethod('setUsers', function(v){
    var vmThis = this;
    if (v == "") {
      this.users = [];
      return;
    }
    this.$http.get('{:U("getUsers")}', {params:{id:v}}).then(function(response){
      vmThis.users = response.body;
    });
  }).setMethod('rangeChange', function(v){
    // console.log(v);
    this.searchForm.range = v;
  }).setVueHook('mounted', function(){
    var vmThis = this;
    //省份、城市
    this.$http.get('{:U("getDepartms")}').then(function(response){
      vmThis.$set(vmThis, 'departments', response.body);
    });
  }).setMethod('genChange', function(v){
    if (v==0) {
      this.searchForm.gen_id = "";
    }
  }).setMethod('smasterChange', function(v){
    this.searchForm.gen_id = "";
    this.$http.get("{:U('getGenService')}", {params:{id:v}}).then(function(response){
      this.GenServiceMan = response.body;
    }, function(response){

    })
  });
</script>
</block>
