<extend name="Common:base"/>
<block name="head">
    <style>
        .el-card__header{
            background: #3fc3e2;
            color: #fff;
        }
        #drags{
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            background: #3fc3e2;
            color: #fff;
            z-index: 9999;
            cursor: pointer;
            border-radius: 50%;
        }
        #drags:hover{
            background: yellow;
            color: green;
        }
    </style>
</block>
<block name="body">
    <div id="app" class="container">
        <div class="wrapp" v-show="show" style="display: none">
            <!--<el-row>
                <el-col :span="3">
                    <el-input v-model="input" placeholder="请输入内容"></el-input>
                </el-col>
                <el-col :span="3">
                    <el-select v-model="value" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>
                                深核元素
                            </span>
                        </div>
                        <div>
                            <el-table :data="dataList" border v-loading="dataLoad" element-loading-text="{:L('DATA_LOGIN')}" @row-click="showContent" ref="select">
                                <el-table-column prop="type" label="公告类型" align="center" width="240">
                                    <template scope="scope">
                                        {{getType(scope.row.type,'NoticeType')}}
                                    </template>
                                </el-table-column>
                                <el-table-column prop="title" label="公告标题" align="center" width="240"></el-table-column>
                                <el-table-column prop="start" label="公告日期" align="center"></el-table-column>
                            </el-table>
                        </div>
                    </el-card>
                </el-col>
                <el-col :span="24">
                    <div class="grid-content bg-purple-light pull-right" style="padding:2px;">
                        &lt;!&ndash; page &ndash;&gt;
                        <include file="Common:_pagination" />
                        &lt;!&ndash; / page &ndash;&gt;
                    </div>
                </el-col>
            </el-row>-->
            <el-row>
                <el-col :span="24">
                    <el-form :inline="true" ref="searchForm":model="searchForm">
                        <el-form-item prop="name">
                            <el-input v-model="searchForm.name" placeholder="请输入员工账号"></el-input>
                        </el-form-item>
                        <el-form-item prop="realname">
                            <el-input v-model="searchForm.realname" placeholder="请输入员工姓名"></el-input>
                        </el-form-item>
                        <el-form-item prop="status">
                            <el-select v-model="searchForm.status">
                                <el-option value="1" label="正常"></el-option>
                                <el-option value="-1" label="离职"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" icon="search" @click="loadDatalist">查询</el-button>
                            <el-button @click="searchReset" style="margin-left: 10px">重置</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-table :data="dataList" v-loading="dataLoad" element-loading-text="{:L('DATA_LOGIN')}" highlight-current-row @selection-change="handleSelectionChange" border>
                        <el-table-column type="selection" width="50"></el-table-column>
                        <el-table-column label="序号" width="70" :formatter="handleIndex"></el-table-column>
                        <el-table-column prop="head" inline-template label="头像" width="100" align="center">
                            <div>
                                <img :src="setImgUrl(row.head)" width="50" height="50" alt="">
                            </div>
                        </el-table-column>
                        <el-table-column prop="account" width="100" label="登录账号"></el-table-column>
                        <el-table-column prop="realname" width="150" label="员工姓名"></el-table-column>
                        <el-table-column prop="department_name" width="100" label="部门"></el-table-column>
                        <el-table-column label="职位" width="100">
                            <template scope="scope">
                                {{getType(scope.row.role_id,'allRoles')}}
                            </template>
                        </el-table-column>
                        <el-table-column prop="sex" label="性别" width="80" align="center">
                            <template scope="scope">
                                {{getType(scope.row.sex,'sexType')}}
                            </template>
                        </el-table-column>
                        <el-table-column prop="id_card" label="身份证号" width="192"></el-table-column>
                        <el-table-column prop="phone" label="固话" width="140" align="center"></el-table-column>
                        <el-table-column prop="mphone" label="手机" width="140" align="center"></el-table-column>
                        <el-table-column prop="qq" label="QQ号" width="140" align="center"></el-table-column>
                        <el-table-column prop="qq_nickname" label="QQ昵称" width="180" align="center"></el-table-column>
                        <el-table-column prop="weixin" label="微信号" width="160" align="center"></el-table-column>
                        <el-table-column prop="weixin_nikname" label="微信昵称" width="190" align="center"></el-table-column>
                        <el-table-column prop="address" label="地址" width="190" align="center"></el-table-column>
                        <el-table-column prop="ip" label="登录IP" width="170" align="center"></el-table-column>
                        <el-table-column prop="location" label="登录地点" width="170" align="center"></el-table-column>
                        <el-table-column prop="lg_time" label="最后登录时间" width="175" align="center">
                            <template scope="scope">
                                {{getTime(scope.row.lg_time)}}
                            </template>
                        </el-table-column>
                        <el-table-column prop="out_time" label="最后退出时间" width="175" align="center">
                            <template scope="scope">
                                {{getTime(scope.row.out_time)}}
                            </template>
                        </el-table-column>
                        <el-table-column prop="created_at" label="创建时间" width="190" align="center"></el-table-column>
                        {$viewDecorator['oprate']}
                    </el-table>
                </el-col>
            </el-row>
            <el-row type="type" justify="space-between" align="middle" calss="row-bg">
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-button-group>
                            {$viewDecorator['button']}
                        </el-button-group>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple-light pull-right">
                        <include file="Common:_pagination"/>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div class="dialogWrapper" v-show="show" style="display: none">
            <!-- 高级查询 -->
            <include file="_searchx" />
            <!-- / 高级查询 -->

            <!-- 添加 -->
            <include file="_add" />
            <!-- / 添加 -->

            <!-- 编辑 -->
            <include file="_edit" />
            <!-- / 编辑 -->

            <!-- 角色 -->
            <include file="_role" />
            <!-- / 角色 -->

            <!-- 修改身份信息 -->
            <include file="_editIDx" />
            <!-- / 修改身份信息 -->

            <!-- 确认身份 -->
            <include file="_editConfirmx" />
            <!-- / 确认身份 -->

            <!-- 编辑 密码-->
            <include file="_editPassword" />
            <!-- / 编辑 -->
        </div>
        <!--<div class="dialogWrapper" v-show="show" style="display: none">
            &lt;!&ndash; 显示系统公告内容 &ndash;&gt;
            <include file="_showContent" />
            &lt;!&ndash; / 显示系统公告内容 &ndash;&gt;
        </div>-->
    </div>
</block>
<block name="scripts">
    <script>
        //密码验证规则
        var validatePass2=function (rule, value, callback) {
            if(window.defaultVm.editPasswordForm.checkPass===''){
                callback(new Error(' 再次输密码'));
            }else if(window.defaultVm.editPasswordForm.checkPass!==window.defaultVm.$data.editPasswordForm.password){
                callback(new Error('两次输入密码不一致'));
            }else{
                callback();
            }
        }
        //手机格式验证
        var checkPhone=function (rule, value, callback) {
            var phoneReg=/^1[3457]\d{9}$/;
            if(value===''|| value===null){
                callback();
            }else if(!phoneReg.test(value)){
                callback("手机格式错误");
            }else{
                callback();
            }
        }
        //qq号码
        var checkQQ=function (rule, value, callback) {
            var number=/^\d+$/;
            if(value===''|| value===null){
                callback();
            }else if(!number.test(value)){
                callback('QQ号格式错误');
            }else{
                callback();
            }
        }
    </script>

    <script>
        page.setUserRolesUrl="{:U('getUserRoles')}";
        page.setUserRolesUrl="{:U('setUserRoles')}";
        page.changePasswordUrl="{:U('changePassword')}";
        window.defaultOption.setDatas({
            /*options:{:json_encode($arr)},
            value:this.options,
            input:'',
            dataElement:[
                {
                    chineseName:'氢',
                    symbol:'H',
                    relativeAtomicMass:'1.008',
                    valenceElectrons:'1s1',
                    commonValence:'+1、-1',
                    classify:'主族非金属',
                    englishName:'Hydrogen',
                    synopsis:'密度最小，同位素为氕、氘和氚',
                    content:'氢的说明文档'
                },
            {
                chineseName:'氦',
                symbol:'He',
                relativeAtomicMass:'4.003',
                valenceElectrons:'1s2',
                commonValence:'0',
                classify:'主族非金属稀有气体',
                englishName:'Helium',
                synopsis:'最难液化，稀有气体',
                content:'氦的说明文档'
            },
            {
                chineseName:'锂',
                symbol:'Li',
                relativeAtomicMass:'6.941',
                valenceElectrons:'2s1',
                commonValence:'+1',
                classify:'主族非金属碱金属',
                englishName:'Lithium',
                synopsis:'性质活泼',
                content:'锂的说明文档'
            }
                ],
            contentDialog:false,
            noticeInfo:[],*/
            /*NoticeType:{:json_encode($NoticeType)}*/
            roleList:{:json_encode($roleList)},
            allRoles:{:json_encode($allRoles)},
            pathInfo:{folder:'users'},

            addUpload:"",
            addUploadImg:false,

            editUpload:"",
            editUploadImg:false,

            xuploadheader:{"X-Requested-With":"XMLHttpRequest"},
            groupList:{:json_encode($groupList)},
            provinces:[],
            cities:[],
            districts:[],
            sexType:{:json_encode($sexType)},
            multipleSelection:[],

                passRules:{
                checkPass:[
                    {validator:validatePass2,trigger:'blur'}
                ]
        },
        addRules:{
            account:[
                { required: true, message: '请输入账号', trigger: 'blur' }
            ],
                realname:[
                {required: true, message: '请输入员工姓名', trigger: 'blur'},
            ],
                mphone:[
                {validator: checkPhone, trigger: 'blur'},
            ],
                qq:[
                {validator: checkQQ, trigger:'blur'},
            ],

        },
        editRules:{
            account:[
                { required: true, message: '请输入账号', trigger: 'blur' }
            ],
                realname:[
                {required: true, message: '请输入员工姓名', trigger: 'blur'},
            ],
                mphone:[
                {validator: checkPhone, trigger: 'blur'},
            ],
                qq:[
                {validator: checkQQ, trigger:'blur'},
            ],

        },
        card_img:"",
            card_front:"",
            card_back:"",
            departmentItem:{$departmentItem},

        departments:{:json_encode($departments)}
        }).setForm('add',{
            account:"",
            password:"123456",
            role_id:"",
            head:"",
            group_id:"",
            department_id:"{$depart_id}",
            sex:0,
            phone:"",
            mphone:"",
            area_province:"",
            area_city:"",
            area_district:"",
            realname:"",
            address:"",
            qq:"",
            qq_nickname:"",
            weixin:"",
            weixin_nikname:"",
            id_card:"",
            card_img:"",
            card_front:"",
            card_back:""
        }).setForm('edit',{
            account:"",
            role_id:"",
            id:"",
            head:"",
            group_id:"",
            department_id:"",
            sex:0,
            phone:"",
            mphone:"",
            area_province:"",
            area_city:"",
            area_district:"",
            realname:"",
            address:"",
            qq:"",
            qq_nickname:"",
            weixin:"",
            weixin_nikname:"",
            id_card:"",
            card_img:"",
            card_front:"",
            card_back:""
        }).setForm('setRoles',{
            user_id:0,
            role_ids:0
        },true).setForm('search',{
            name:"",
            realname:"",
            status:"1",
            plan:false
        }).setForm('editPassword',{
            id:"",
            account:"",
            password:"",
            checkPass:""
        }, true).setMethod('getType', function(type, field){
            return this[field][type];
        }).setMethod('getTime',function(v){
            if(v==null || v==""){
                return v;
            }else{
                var date = new Date(v*1000);
                var year = date.getFullYear();
                var month = date.getMonth()+1;
                var day = date.getDate();
                var hour = date.getHours();
                var minute = date.getMinutes();
                var second = date.getSeconds();
                month=month<10?'0'+month:month;
                day=day<10?'0'+day:day;
                hour=hour<10?'0'+hour:hour;
                minute=minute<10?'0'+minute:minute;
                second=second<10?'0'+second:second;
                return year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;
            }

        }).setMethod('handleSetRoles', function(index, row){
            // var vmThis = this;
            var f = FormName.getForm('setRoles');
            this[f].user_id = row.id;
            this[f].role_ids = row.role_id;

            this.openDialog('setRoles');

        }).setMethod('addFormUploadSuccess', function(response, file, fileList){
            this.addUpload = '__ROOT__'+ response.path;
            this.addUploadImg = true;
            this.addForm.head = response.path
        }).setMethod('addFormUploadError', function(err, response, file){
            this.$message.error('上传出错：' + response.info);
        }).setMethod('editFormUploadSuccess', function(response, file, fileList){
            this.editUpload = '__ROOT__'+ response.path;
            this.editUploadImg = true;
            this.editForm.head = response.path
        }).setVueHook('mounted', function(){
            var vmThis = this;
            this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:1} }).then(function(response){
                var provinces = [];
                response.body.forEach(function(currentValue,index){
                    provinces.push({id: currentValue.id, name: currentValue.name});
                })
                vmThis.$set(vmThis, 'provinces', provinces);
            });
        }).setMethod('provinceChange', function(v){
            var vmThis = this;
            this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:v} }).then(function(response){
                var cities = [];
                response.body.forEach(function(currentValue,index){
                    cities.push({id: currentValue.id, name: currentValue.name});
                })
                vmThis.$set(vmThis, 'cities', cities);
            })
        }).setMethod('cityChange', function(v){
            var vmThis = this;
            this.$http.get('{:U("Area/getAreasByPid")}', {params:{pid:v} }).then(function(response){
                var cities = [];
                response.body.forEach(function(currentValue,index){
                    cities.push({id: currentValue.id, name: currentValue.name});
                })
                vmThis.$set(vmThis, 'districts', cities);
            })
        }).setMethod('handleEdit', function(index, row){
            var type ='edit';
            var tar = {};
            Oassign(tar, row);
            Oassign(tar, row.userInfo);
            delete tar.userInfo;
            this.initObject( this[FormName.getFormName(type)], tar );
            this.editIndex = index;
            this.editUpload = '__ROOT__'+ tar.head;
            this.editUploadImg = true;
            this.openDialog(type);
        }).setMethod('beforeEdit',function(){
            if (!this.$refs['editselect']) {
                this.provinceChange(this.editForm.area_province);
                this.cityChange(this.editForm.area_city);
            }
        }).setMethod('beforeChangePassowrd', function(){
            var form = 'editPassword';
            var vmThis = this;
            if (this.multipleSelection.length ==0 ) {
                this.closeDialog(form);
                this.$message.error('请先选择一个员工');
            } else if(this.multipleSelection.length > 1){
                this.closeDialog(form);
                this.$message.error('只能选择一个员工');
            } else {
                var row = this.multipleSelection[0];
                this.editPasswordForm.id = row.id;
                this.editPasswordForm.account = row.account;
            }
        }).setMethod('afterChangePassowrd',function(){
            this.editPasswordForm.id = "";
            this.editPasswordForm.account = "";
            this.editPasswordForm.password = "";
            this.editPasswordForm.checkPass = "";
        }).setMethod('handleSelectionChange', function(val){
            this.multipleSelection = val;
        }).setMethod('setImgUrl', function(url){
            return '__ROOT__' + url;
        }).setMethod('closeSetRole', function(){
            // this.dataReload();
        }).setMethod('cardImg', function(response, file, fileList){
            // this.card_img = '__ROOT__'+ response.path;
            this.addForm.card_img = response.path
        }).setMethod('cardFront', function(response, file, fileList){
            // this.card_front = '__ROOT__'+ response.path;
            this.addForm.card_front = response.path
        }).setMethod('cardBack', function(response, file, fileList){
            // this.card_back = '__ROOT__'+ response.path;
            this.addForm.card_back = response.path
        }).setMethod('editCardImg', function(response, file, fileList){
            // this.card_img = '__ROOT__'+ response.path;
            this.editForm.card_img = response.path
        }).setMethod('editCardFront', function(response, file, fileList){
            // this.card_front = '__ROOT__'+ response.path;
            this.editForm.card_front = response.path
        }).setMethod('editCardBack', function(response, file, fileList){
            // this.card_back = '__ROOT__'+ response.path;
            this.editForm.card_back = response.path
        }).setMethod('beforeAvatarUpload', function(file){
            var  isLt8M = file.size / 1024 / 1024 < 8;

            if (!isLt8M) {
                this.$message.error('上传头像图片大小不能超过 8MB!');
            }

            return isLt8M;
        }).setMethod("handleQuit", function(index, row, url){
            if (!arguments[2]) {
                url= this.page.deleteUrl;
            }
            var vmThis = this;
            this.$confirm('确定离职?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(function(){
                vmThis.$http.post(url, {ids:[row.id]}).then(function(response){
                    var message = '离职成功!';
                    if (response.body.info) {
                        message = response.body.info;
                    }
                    vmThis.$message({
                        type: 'success',
                        message: message
                    });

                    // vmThis.dataList.splice(index, 1);

                    vmThis.loadDatalist();
                    //this.dataLoad = true;
                    // this.loadDatalist();

                }, function(response){
                    var message = '离职失败';
                    if (response.body.info) {
                        message = response.body.info;
                    }
                    vmThis.$message({
                        type: 'error',
                        message: '离职失败'
                    });
                })
            }).catch(function() {
                vmThis.$message({
                    type: 'info',
                    message: '已取消离职'
                });
            });
        });
    </script>
</block>