<el-dialog title="高级查询" v-model="advancedQueryFormDialog">
<el-form ref="advancedQueryForm"  :model="advancedQueryForm" size="small" label-width="140px">
  <el-row>
    <el-col :span="12">
      <el-form-item prop="start" label="客户姓名">
        <el-input v-model="advancedQueryForm.name" size="small" placeholder="客户姓名" style="max-width:170px;"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item prop="start" label="手机号">
        <el-input v-model="advancedQueryForm.phone" size="small" placeholder="手机号" style="max-width:170px;"></el-input>
      </el-form-item>
    </el-col>
  </el-row>

  <!-- <el-row>
    <el-col :span="12">
      <el-form-item prop="start" label="微信号">
        <el-input v-model="advancedQueryForm.weixin" size="small" placeholder="微信号"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="12">
     
    </el-col>
  </el-row> -->



    <el-row>
      <el-col :span="12">
        <el-form-item prop="start" label="锁定起始时间">
            <el-date-picker v-model="advancedQueryForm.start" size="small" placeholder="请选择起日期">
            </el-date-picker>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="end" label="锁定截止时间">
            <el-date-picker v-model="advancedQueryForm.end" size="small" placeholder="请选择止日期">
            </el-date-picker>
        </el-form-item>
      </el-col>
    </el-row>

    <el-row>
      <el-col :span="12">
        <el-form-item prop="track_start" label="最后跟踪起始时间">
            <el-date-picker v-model="advancedQueryForm.track_start" size="small" placeholder="请选择起日期" >
            </el-date-picker>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="track_end" label="最后跟踪截止时间">
            <el-date-picker v-model="advancedQueryForm.track_end" size="small" placeholder="请选择止日期" >
            </el-date-picker>
        </el-form-item>
      </el-col>
    </el-row>


    <el-row>
      <el-col :span="12">
        <el-form-item prop="type" label="客户类型">
            <el-select v-model="advancedQueryForm.type" size="small" placeholder="请选择客户类型" >
                <el-option v-for="(type, key) in customerType" :label="type" :value="key" ></el-option>
            </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="group" label="组织对象">
          <el-select v-model="advancedQueryForm.group" size="small" placeholder="请选择">
            <el-option v-for="item in searchGroup" :label="item.key" :value="item.value" :disabled="item.disabled"></el-option>
          </el-select>
            
        </el-form-item>
      </el-col>
    </el-row>
</el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="advancedQueryReset">关闭</el-button>
        <el-button type="primary" v-show="!advancedQueryFormSubmitStatus" @click="advanceSearch" >查询</el-button>
        <el-button type="primary" v-show="advancedQueryFormSubmitStatus" :loading="true" >查询中</el-button>
    </div>
</el-dialog>