<el-dialog title="录入自选" v-model="addChoiceFormDialog" @open="beforeAddChoice">
  <el-form  ref="addChoiceForm" :model="addChoiceForm" :label-width="dialogLabelWidth" :model="addChoiceForm">
    <el-row>
      <el-col :span="8">
        <el-form-item label="客户姓名"  prop="name">
          <el-input v-model="addChoiceForm.name" :disabled="true">
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="客户类型" >
          <el-input v-model="addChoiceForm.type" :disabled="true">
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="是否自选" >
          <el-radio class="radio" v-model="addChoiceForm.choose" :label="1">是</el-radio>
          <el-radio class="radio" v-model="addChoiceForm.choose" :label="0">否</el-radio>
        </el-form-item>
      </el-col>
    </el-row>
   <!--  <el-row>
     <el-col >
      <el-form-item label="备注"  prop="remark">
        <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 4}"
        placeholder="请输入内容"
        v-model="addRemindForm.remark">
      </el-input>
      </el-form-item>
     </el-col>
    </el-row> -->
  </el-form>
  <div slot="footer" class="dialog-footer">
   <el-button @click="closeDialog('addChoice')">取 消</el-button>
   <el-button type="primary" v-show="!addChoiceFormSubmitStatus" @click="addChoiceFormSubmit(page.addChoiceFormUrl, 'addChoice')" >确 定</el-button>
   <el-button type="primary" v-show="addChoiceFormSubmitStatus" :loading="true" >添加中</el-button>
  </div>
</el-dialog>