<el-dialog title="客户详细资料(不可修改)" v-model="showDetailFormDialog" @open="beforeShowDetail">
<!-- <el-form :model="form"> -->
<el-form ref="showDetailForm" :model="showDetailForm" v-model="showDetailForm" :label-width="dialogLabelWidth">
  <el-row>
    <el-col :span="8">
      <el-form-item label="客户姓名" >
        <el-input  v-model="showDetailForm.name" auto-complete="off" :disabled="true"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="8">
      <el-form-item label="客户类型" >
        <el-select v-model="showDetailForm.type" :disabled="true" >
          <el-option v-for="(type, key) in customerType" :label="type" :value="key" ></el-option>
        </el-select>
      </el-form-item>
    </el-col>
    <el-col :span="8">
      <el-form-item label="手机1" >
        <el-input v-model="showDetailForm.phone" auto-complete="off" :disabled="true"></el-input>
      </el-form-item>
    </el-col>
  </el-row>
   <el-row>
      <el-col :span="8">
        <el-form-item label="QQ号" >
          <el-input v-model="showDetailForm.qq" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="QQ昵称" >
          <el-input v-model="showDetailForm.qq_nickname" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="手机2" >
          <el-input v-model="showDetailForm.phone2" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
      </el-col>
   </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item label="QQ号2" >
          <el-input v-model="showDetailForm.qq2" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="QQ昵称2" >
          <el-input v-model="showDetailForm.qq_nickname2" auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="性别" >
          <el-radio class="radio" v-model="showDetailForm.sex" label="1">男</el-radio>
          <el-radio class="radio" v-model="showDetailForm.sex" label="2">女</el-radio>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item label="微信号" >
          <el-input v-model="showDetailForm.weixin"  auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="微信昵称" >
          <el-input v-model="showDetailForm.weixin_nickname"  auto-complete="off" :disabled="true"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="省份" >
          <el-select v-model="showDetailForm.area_province" filterable @change="provinceChange" :disabled="true" >
            <el-option v-for="province in provinces" :label="province.name"  :value="province.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item  label="客户质量" >
          <el-select v-model="showDetailForm.quality"   :disabled="true" >
            <el-option v-for="(quality,key) in Quality" :label="quality"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="股龄" >
          <el-select v-model="showDetailForm.year"   :disabled="true" >
            <el-option v-for="(year,key) in Year" :label="year"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="城市" >
          <el-select v-model="showDetailForm.area_city"   :disabled="true" >
            <el-option v-for="city in cities" :label="city.name"  :value="city.id"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item  label="近期收益" >
          <el-select v-model="showDetailForm.re_income"   :disabled="true" >
            <el-option v-for="(re_income,key) in Income" :label="re_income"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="投资风格" >
          <el-select v-model="showDetailForm.style"   :disabled="true" >
            <el-option v-for="(style,key) in Sty" :label="style"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="资金量" >
          <el-select v-model="showDetailForm.money"   :disabled="true" >
            <el-option v-for="(money,key) in Money" :label="money"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item  label="看盘精力" >
          <el-select v-model="showDetailForm.energy"   :disabled="true" >
            <el-option v-for="(energy,key) in Energy" :label="energy"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="投资问题" >
          <el-select v-model="showDetailForm.problem"   :disabled="true" >
            <el-option v-for="(problem,key) in Problem" :label="problem"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="盈利模式" >
          <el-select v-model="showDetailForm.mode"   :disabled="true" >
            <el-option v-for="(mode,key) in Mode" :label="mode"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item  label="态度" >
          <el-select v-model="showDetailForm.attitude"   :disabled="true" >
            <el-option v-for="(attitude,key) in Attitude" :label="attitude"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="职业" >
          <el-select v-model="showDetailForm.profession"   :disabled="true" >
            <el-option v-for="(profession,key) in Profession" :label="profession"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item  label="软件意向" >
          <el-select v-model="showDetailForm.intention"   :disabled="true" >
            <el-option v-for="(intention,key) in Intention" :label="intention"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item  label="客户来源" >
          <el-select v-model="showDetailForm.source"   :disabled="true" >
            <el-option v-for="(source,key) in Source" :label="source"  :value="key"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="16">
        <el-form-item label="备注">
          <el-input
            v-model="showDetailForm.remark"
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"
            :disabled="true">
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <div slot="footer" class="dialog-footer">
   <el-button @click="closeDialog('showDetail')">取 消</el-button>
   <el-button type="primary" v-show="!showDetailFormSubmitStatus" @click="showDetailFormSubmit(page.showDetailFormUrl, 'showDetail')" >确 定</el-button>
   <el-button type="primary" v-show="showDetailFormSubmitStatus" :loading="true" >添加中</el-button>
  </div>
</el-dialog>