<el-dialog title="客户提醒" v-model="addRemindFormDialog" @open="beforeAddRemind">
  <el-form  ref="addRemindForm" :label-width="dialogLabelWidth" :model="addRemindForm">
  <el-row>
    <el-col :span="8">
      <el-form-item label="客户姓名"  prop="name">
        <el-input v-model="addRemindForm.name" :disabled="true"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item label="提醒事项" prop="remind">
        <el-select v-model="addRemindForm.remind" placeholder="请选择接提醒事项">
          <el-option
            v-for="(remind,key) in Remind"
            :label="key+'.'+remind"
            :value="key">
          </el-option>
        </el-select>
      </el-form-item>
    </el-col>
  </el-row>

  <el-row>

   <el-col >
    <el-form-item label="备注"  prop="remark">
      <el-input
      type="textarea"
      :autosize="{ minRows: 2, maxRows: 4}"
      placeholder="请输入内容,限200个字哦"
      v-model="addRemindForm.remark">
    </el-input>
    </el-form-item>
   </el-col>

  </el-row>

  </el-form>
  <div slot="footer" class="dialog-footer">
   <el-button @click="closeDialog('addRemind')">取 消</el-button>
   <el-button type="primary" v-show="!addRemindFormSubmitStatus" @click="addRemindFormSubmit(page.addRemindFormUrl, 'addRemind')" >确 定</el-button>
   <el-button type="primary" v-show="addRemindFormSubmitStatus" :loading="true" >添加中</el-button>
  </div>
</el-dialog>