<el-dialog title="录入跟踪" v-model="addTrackFormDialog" @open="beforeAddTrack">
  <el-form  :label-width="dialogLabelWidth">

     <el-form-item  label-width="0px">
      <el-alert
        title="以下信息将会自动添加到以下客户的跟踪纪录里"
        type="warning"
        :description="alertDesc"
        :closable="false"
        >
      </el-alert>
      </el-form-item>

   <el-row>
   	<el-col :span="12">
   		<el-form-item label="下次跟踪时间" >
		    <el-date-picker
		      v-model="addTrackForm.next_datetime"
		      type="date"
		      placeholder="选择日期"
		      >
		    </el-date-picker>
    	</el-form-item>
   	</el-col>
   	<el-col :span="12">
   		<el-form-item label="跟踪类型" >
	      <el-select v-model="addTrackForm.track_type" placeholder="请选择活动区域">
          <el-option
            v-for="(type, typeIndex) in logType"
            :label="type"
            :value="typeIndex">
          </el-option>
	      </el-select>
	    </el-form-item>
   	</el-col>
   </el-row>
    <el-form-item label="跟踪内容" >
      
      <el-input
		  type="textarea"
		  :autosize="{ minRows: 2, maxRows: 4}"
		  placeholder="请输入内容"
		  v-model="addTrackForm.content">
		</el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
   <el-button @click="closeDialog('addTrack')">取 消</el-button>
   <el-button type="primary" v-show="!addTrackFormSubmitStatus" @click="addTrackFormSubmit(page.addTrackFormUrl, 'addTrack')" >确 定</el-button>
   <el-button type="primary" v-show="addTrackFormSubmitStatus" :loading="true" >添加中</el-button>
  </div>
</el-dialog>