<extend name="Common:base" />

<block name="head"></block>
<block name="body">
<div id="app" class="container" >
<div class="wrapp" v-show="show" style="display: none;">
	<el-row>
  	<el-col :span="24">
  		<el-form :inline="true" :model="formInline"  >
  		  <el-form-item>
  		    <el-input v-model="formInline.user" placeholder="审批人"></el-input>
  		  </el-form-item><el-form-item>
  		    <el-select v-model="formInline.region" placeholder="活动区域">
  		      <el-option label="区域一" value="区域一"></el-option>
  		      <el-option label="区域二" value="区域二"></el-option>
  		    </el-select>
  		  </el-form-item><el-form-item>
  		    <el-button  @click="onReset">清空</el-button>
  		    <el-button type="primary" @click="onSubmit">查询</el-button> 
          <el-button  >高级查询</el-button> 
  		  </el-form-item>
  		</el-form>
  	</el-col>
  </el-row>

<el-row>
  <el-col :span="24">
  	<el-table :data="tableData3" border stripe height @selection-change="handleSelectionChange"  v-loading.body="loading" element-loading-text="拼命加载中">
	    <el-table-column type="selection"  width="50" >
	    </el-table-column>
	    <el-table-column type="index"  label="序号"  width="70"  >
	    </el-table-column>
	    <el-table-column inline-template  label="客户姓名" width="140">
	    <div> <el-icon name="time"></el-icon> {{ row.date }}</div>
	    </el-table-column>
	    <el-table-column prop="name" label="客户类型" width="120">
	    </el-table-column>
	    <el-table-column prop="address" label="手机" show-overflow-tooltip>
	    </el-table-column>
		  <el-table-column  label="QQ号" >
	    </el-table-column>
	    <el-table-column  label="QQ昵称" show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column  label="地区" >
	    </el-table-column>
	    <el-table-column  label="跟踪员工" >
	    </el-table-column>
	    <el-table-column  label="跟踪方最后跟踪时间" >
	    </el-table-column>

	    <el-table-column  label="锁定方最后跟踪时间" >
	    </el-table-column>

	    <el-table-column inline-template :context="_self"  fixed="right"  label="操作" width="100">
	      <span>
	        <el-button @click="handleClick($index, row)" type="text" size="small">查看</el-button>
	        <el-button type="text" size="small">编辑</el-button>
	      </span>
	    </el-table-column>
    </el-table>
  </el-col>
</el-row>

  <!-- toolbar -->
  <el-row type="type"  justify="space-between" align="middle"  class="row-bg">
    <el-col :span="12">
    <div class="grid-content bg-purple">
    	 <span class="wrapper">
      <el-button  @click="dialogFormVisible = true" >录入跟踪</el-button>
      <el-button  @click="addCustomer">录入客户</el-button>
      <el-button  @click="addCustomer">修改客户</el-button>
      <!-- <el-button>计划</el-button>
      <el-button>推介</el-button> -->
    </span>
    </div>
    </el-col>
    <el-col :span="12">
    <div class="grid-content bg-purple-light pull-right">

      <!-- page -->
      <include file="Common:_pagination" />
      <!-- / page -->
      
    </div></el-col>
  </el-row>
  <!-- / toolbar -->
</div>

<div class="dialogWrapper" v-show="show" style="display: none">
  <!-- 录入跟踪  -->
  <include file="_track" />
  <!-- / 录入跟踪 -->

  <!-- 录入客户 -->
  <include file="_addCustomer" />
  <!-- / 录入客户 -->
</div>

</div> 
</block>
<block name="scripts">
<script>
Oassign(vmData, {

  formInline: {
      user: '',
      region: ''
  },
  form: {
      name: '',
      region: '',
      date1: '',
      date2: '',
      delivery: false,
      type: [],
      resource: '',
      desc: ''
  },

  tableData3: [],
  multipleSelection: [],

  currentPage: 1,
  total: 100,
  pageSize:{$pageSize},

  loading: false ,
  formLabelWidth: '140px',

  dialogFormVisible: false,
  dialogAddCustomer: false
});
Oassign(vmOption,{
  methods: {
      handleSelectionChange:function(val) {
        this.multipleSelection = val;
      },
      handleClick:function(index, row){
        console.log(index);
        console.log(row);
      },
      onSubmit:function(){

      },
      onReset:function(){
        for ( var x in this.formInline ) {
          this.formInline[x] = null;
        }
      },
      handleSizeChange:function(){

      },
      handleCurrentChange:function(page){
        // POST /someUrl
        // this.$set(this.loading, true);
        // console.log(this.$data);
        /*this.loading = true;
        let  vmThis = this;
        let  pa = this.formInline;
        this.$http.get('{:U("Nav/test")}', {params: pa}).then((response) => {
          vmThis.$set(vmThis, 'loading', false);
          vmThis.$set(vmThis, 'tableData3', response.body)
          vmThis.$set(vmThis, 'total', 2);
        }, (response) => {
          vmThis.$set(vmThis, 'loading', false);
        });*/


      },
      fromatterIndex:function(row, col){
        // console.log(row);
        // console.log(col);
      },
      addCustomer:function(){
        this.dialogAddCustomer  = true;
      }
    }
})
</script>
</block>