<el-dialog title="添加" v-model="addFormDialog" @open="organization">
<!-- <el-form :model="form"> -->
<el-form :model="addForm" :rules="rules" ref="addForm" :label-width="dialogLabelWidth">
  <input type="hidden" name="img" v-model="addForm.img">
  <el-row>
    <el-col :span="12">
      <el-form-item label="单位名" prop="name">
        <el-input v-model="addForm.name"  auto-complete="off" placeholder="请填写单位名称"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item label="类型"  prop="type">
        <el-select  v-model="addForm.type" placeholder="请选择类型"  >
         <el-option  v-for='(item,key) in typeList' :label="item" :value="key"></el-option>
        </el-select>
      </el-form-item>
    </el-col>
  </el-row>
   <el-row>
    <el-col :span="12">
      <el-form-item label="上级组织"  prop="p_id" >
        <el-select  v-model="addForm.p_id" placeholder="请选择上级组织">
          <el-option v-for='item in topO' :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item label="片区"  prop="zone_id" >
        <el-select  v-model="addForm.zone_id" placeholder="请选择片区">
          <el-option v-for='(item,key) in zoneList' :label="item" :value="key"></el-option>
          
        </el-select>
      </el-form-item>
    </el-col>
   </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="拓展一"  prop="expand1" >
           <el-input v-model="addForm.expand1"  auto-complete="off" placeholder="没有可以不填"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="拓展二"  prop="expand2" >
           <el-input v-model="addForm.expand2"  auto-complete="off" placeholder="没有可以不填"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      
      <el-col :span="12">

        <el-form-item label="联系人"  prop="contact">
          <el-select v-model='addForm.user_id'>
            <el-option v-for="user in computedusers" :label="user.realname" :value="user.user_id"></el-option>
          </el-select>
        </el-form-item>

      </el-col>
      <el-col :span="12">
        <!-- <el-form-item label="联系电话"  prop="tel" >
          <el-input  auto-complete="off" v-model="addForm.tel" placeholder="请填写联系电话"></el-input>
        </el-form-item> -->
      </el-col>


    </el-row>
    <!-- <el-row>
      <el-col :span="12">
        <el-form-item label="财务编号"  prop="f_num" >
          <el-input  auto-complete="off" v-model="addForm.f_num" placeholder="没有可以不填"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="是否公示"  prop="public">
          <el-radio-group v-model="addForm.public">
           <el-radio   label="1">是</el-radio>
           <el-radio   label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-col>
    </el-row> -->
    <el-row>
      <el-col :span="12">

        <el-upload action="{:U('Upload/index')}" :on-success="uploadImg" :data="pathInfo" :thumbnail-mode="true" type="drag" :multiple="false" style="margin-left:30%;">
          <i class="el-icon-upload" style="margin:10px 0 16px;"></i>
          <div class="el-dragger__text">将<em>形象照片</em>拖到此处，或<em>点击上传</em></div>
          <div class="el-upload__tip" slot="tip" style="margin-right:115px;">只能上传jpg/png/gif文件，且不超过3M</div>
        </el-upload>

      </el-col>
      <el-col :span="12">
        <el-form-item label="地址"  prop="address">
          <el-input  auto-complete="off" v-model="addForm.address" placeholder="请填写地址"></el-input>
        </el-form-item>
        <el-form-item label="备注"  prop="remark">
          <el-input  auto-complete="off" v-model="addForm.remark" placeholder="请填写备注"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <include file="Common:_add" />
  </div>
</el-dialog>