<el-dialog title="编辑修改" v-model="editFormDialog" >
<!-- <el-form :model="form"> -->
<el-form :model="editForm" :label-width="dialogLabelWidth">
  <el-row>
    <el-col :span="12">
      <el-form-item label="单位名" >
        <el-input v-model="editForm.name"  auto-complete="off"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item label="类型" >
        <el-select  v-model="editForm.type">
          <el-option label="片区" value="片区"></el-option>
          <el-option label="推广" value="推广"></el-option>
          <el-option label="网销" value="网销"></el-option>
          <el-option label="体验" value="体验"></el-option>
          <el-option label="事业" value="事业"></el-option>
          <el-option label="区域"    value="1"></el-option>
          <el-option label="事业部"  value="2"></el-option>
          <el-option label="推广部"  value="3"></el-option>
        </el-select>
      </el-form-item>
    </el-col>
  </el-row>
   <el-row>
    <el-col :span="12">
      <el-form-item label="上级组织" >
        <el-select  v-model="editForm.p_id">
         <el-option label="顶级组织" value="0"></el-option>
          <el-option v-for='item in topO' :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item label="片区"  prop="zone" >
        <el-select  v-model="editForm.zone">
          <foreach name="namelist" item="v">
            <el-option label="{$v.zone}" value="{$v.zone}"></el-option>
          </foreach>
        </el-select>
      </el-form-item>
    </el-col>
   </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="拓展一"  prop="expand1" >
           <el-input v-model="editForm.expand1"  auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="拓展二"  prop="expand2" >
           <el-input v-model="editForm.expand2"  auto-complete="off"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="联系人"  prop="contact" >
          <el-input  auto-complete="off" v-model="editForm.contact" ></el-input>
        </el-form-item>

      </el-col>
      <el-col :span="12">
        <el-form-item label="联系电话"  prop="tel" >
          <el-input  auto-complete="off" v-model="editForm.tel"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <el-form-item label="财务编号"  prop="f_num" >
          <el-input  auto-complete="off" v-model="editForm.f_num"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item label="是否公示"  prop="public">
          <el-radio-group v-model="editForm.public">
           <el-radio   label="1">是</el-radio>
           <el-radio   label="0">否</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12">
        <input type="hidden" name="img" v-model="editForm.img">
        <el-upload action="{:U('Upload/index')}" :on-success="uploadImg_E" :data="pathInfo" :thumbnail-mode="true" :default-file-list="fileList" type="drag" :multiple="false" style="margin-left:25%;;">
          <i class="el-icon-upload" style="margin:10px 0 16px;"></i>
          <input type="hidden" name="img" v-model="editForm.id">
          <div class="el-dragger__text">将<em>形象照片</em>拖到此处，或<em>点击上传</em></div>
          <div class="el-upload__tip" slot="tip" style="margin-right:115px;">只能上传jpg/png/gif文件，且不超过2M</div>
        </el-upload>

      </el-col>
      <el-col :span="12">
        <el-form-item label="地址"  prop="address">
          <el-input  auto-complete="off" v-model="editForm.address"></el-input>
        </el-form-item>
        <el-form-item label="备注"  prop="remark">
          <el-input  auto-complete="off" v-model="editForm.remark"></el-input>
        </el-form-item>
        <p style="color:red;margin-left:100px;">*ps:未修改任何数据提交则会提示“编辑失败”</p>
      </el-col>
    </el-row>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <include file="Common:_edit" />
  </div>
</el-dialog>