<extend name="Common:base" />
<block name="head"></block>
<block name="body">
	<div id="app" class="container">
		<div class="wrapp" v-show="show" style="display: none">
			<!-- seach form -->
			<el-row>
				<el-col :span="24">
					<el-form :inline="true"   >
					  <el-form-item><el-input  placeholder="查询字段一"></el-input>
					  </el-form-item><el-form-item>
					    <el-select  placeholder="查询字段二">
					      <el-option label="区域一" value="区域一"></el-option>
					      <el-option label="区域二" value="区域二"></el-option>
					    </el-select>
					  </el-form-item><el-form-item>
					    <el-button  >清空</el-button>
					    <el-button type="primary" >查询</el-button> 
			        	<el-button  @click="advancedSearch=true">高级查询</el-button> 
					  </el-form-item>
					</el-form>
				</el-col>
			</el-row>
			<!-- / search form -->

			<!-- datatables  -->
			<el-row>
				<el-col :span="24">
					<el-table :data="datalist" border stripe height  v-loading.body="loading" element-loading-text="拼命加载中">
					    <el-table-column type="selection"  width="50" >
					    </el-table-column>
					    <el-table-column type="index"  label="序号"  width="70"  >
					    </el-table-column>
					    <el-table-column label="单位ID" width="140">
					    </el-table-column>
					    <el-table-column label="单位名" width="120">
					    </el-table-column>
					    <el-table-column label="类型" >
					    </el-table-column>
						<el-table-column label="上级组织" >
					    </el-table-column>
					    <el-table-column label="片区" >
					    </el-table-column>
					    <el-table-column label="联系人" >
					    </el-table-column>
					    <el-table-column label="固定电话" >
					    </el-table-column>
					    <el-table-column label="拓展一" >
					    </el-table-column>
					    <el-table-column  label="拓展二" >
					    </el-table-column>
					    <el-table-column  label="形象照片" >
					    </el-table-column>

					    <el-table-column inline-template :context="_self"  fixed="right"  label="操作" width="100">
					      <span>
					        <el-button @click="handleClick($index, row)" type="text" size="small">查看</el-button>
					        <el-button type="text" size="small">编辑</el-button>
					      </span>
					    </el-table-column>
				    </el-table>
				</el-col>
			</el-row>
			<!-- / datatables  -->


			<!-- toolbar -->
			<el-row type="type"  justify="space-between" align="middle"  class="row-bg">
			  <el-col :span="12">
			  <div class="grid-content bg-purple">
			  	<span class="wrapper">
				    <el-button  @click="dialogAddDepartment = true">添加</el-button>
				    <!-- <el-button  @click="">录入客户</el-button>
				    <el-button  @click="">修改客户</el-button> -->
				    <!-- <el-button>计划</el-button>
				    <el-button>推介</el-button> -->
				</span>
			  </div>
			  </el-col>
			  <el-col :span="12">
				  <div class="grid-content bg-purple-light pull-right">
				    <!-- page -->
				    <include file="Common:_pagination" />
				    <!-- / page -->
				  </div>
			  </el-col>
			</el-row>
			<!-- / toolbar -->

		</div>

		<div v-show="show" style="display: none">
			<!-- 高级查询 -->
			<include file="_search" />
			<!-- / 高级查询 -->

			<!-- 添加 -->
			<include file="_add" />
			<!-- / 添加 -->
		</div>


	</div>
</block>
<block name="scripts">
	<script>
		// vm option 里面的 data属性
		Oassign(window.vmData ,{
			loading: false,
			formLabelWidth: '140px',

			datalist:[],

			currentPage: 1,
			total:100,

			//高级查询
			advancedSearch: false,
			//添加对话框
			dialogAddDepartment: false,
		});

		Oassign(window.vmOption, {
			//方法
			methods : {
				handleClick:function(index, row) {

				},
				handleCurrentChange: function(page){

				}
			}
		})
	</script>
</block>