<extend name="Common:base" />
<block name="head"></block>
<block name="body">
	<div id="app" class="container">
		<div class="wrapp" v-show="show" style="display: none">
			<!-- seach form -->
			<el-row>
				<el-col :span="12">
					<el-form :inline="true"  ref="searchForm" :model="searchForm">
					  <el-form-item style="display: none;" prop="id">
					  	<el-input   v-model="searchForm.id">
					   </el-input>
					  </el-form-item>
					  
					  <el-form-item prop="name" >
					    <el-input   placeholder="请输入单位名"  v-model="searchForm.name">
					    </el-input>
					  </el-form-item>
					  <el-form-item>
					    <el-button type="primary" icon="search" @click="loadDatalist" >查询</el-button> 
					    <el-tooltip content="清空搜索框并刷新表格数据" placement="right">
					     <el-button icon="close" @click="searchReset">重置</el-button>
                        </el-tooltip>
			        	<!-- <el-button  @click="openDialog('advancedSearch')" icon="search">高级查询</el-button>  -->
					  </el-form-item>
					</el-form>
				</el-col>
				<el-col :span="12">
				</el-col>	
			</el-row>
			<!-- / search form -->

			<!-- datatables  -->
			<el-row>
				<el-col :span="24">
					<el-table 
					:data="dataList" 
					border    
					
					v-loading="dataLoad"
					element-loading-text="{:L('DATA_LOGIN')}">

					    <el-table-column type="selection"  align="center" width="50" >
					    </el-table-column>
					    <el-table-column label="序号"  align="center" width="65" :formatter="handleIndex"  >
					    </el-table-column>
					    <!-- <el-table-column label="单位ID" align="center" prop="id" width="90">
					    </el-table-column> -->
					    <el-table-column   label="单位名"  prop="name" width="180">
					    </el-table-column>
					    <el-table-column label="类型" align="center" prop="typeText" >
					    </el-table-column>
						<el-table-column label="上级组织" align="center" prop="p_name" width="110">
					    </el-table-column>
					    <el-table-column label="片区" align="center" prop="zone">
					    </el-table-column>
					    <el-table-column label="联系人" align="center" prop="contact">
					    </el-table-column>
					    <el-table-column label="联系电话" align="center" prop="tel" width="140">
					    </el-table-column>
					    <el-table-column label="拓展一" align="center" prop="expand1">
					    </el-table-column>
					    <el-table-column  label="拓展二" align="center" prop="expand2">
					    </el-table-column>
					    <el-table-column  inline-template :context="_self"  align="center" label="形象照片" width="100">

						    <div v-if="row.img.length">
						    	<el-tooltip content="点击放大图片" placement="right">
						    	 <img :src="imgUrl(row.img)" @click="bigImg(row.img)" alt="点击放大图片" width="45px" height="45px">
						    	<el-tooltip content="添加新的组织单位！" placement="right">	
						    </div>
					    </el-table-column>
                        <el-table-column label="地址"  prop="address" width="180">
                        </el-table-column>
                        <!-- <el-table-column label="财务编号" align="center" prop="f_num" width="100">
                        </el-table-column>
                        <el-table-column label="是否公示" align="center" prop="public" width="100">
                        </el-table-column> -->
                        <el-table-column label="备注" align="center" prop="remark" width="200">
                        </el-table-column>

					    <el-table-column  :context="_self"  align="center" width="250" fixed="right"  label="操作"  >
					      <template scope="scope">
					      	<el-button v-if="scope.row.type==1" type="text"    @click="checkDown(scope.row.id)" >查看下级</el-button>
					      	<el-button v-else type="text" @click="searchReset">返回上一级</el-button>
					      	<el-button type="success" @click="handleEdit(scope.$index, scope.row)"     size="small">编辑</el-button>
					      	<el-button type="danger"  @click="handleDelete(scope.$index, scope.row)"   size="small" >删除</el-button>
					      </template>
<!-- 					      <span>
					        <el-button @click="handleEdit($index, row)"   type="success"  size="small">编辑</el-button>
					        <el-button @click="handleDelete($index, row)" type="danger"  size="small" >删除</el-button>
					      </span> -->
					    </el-table-column>
				    </el-table>
				</el-col>
			</el-row>
			<!-- / datatables  -->
            

			<!-- toolbar -->
			<el-row type="type"  justify="space-between" align="middle"  class="row-bg">
			  <el-col :span="12">
			  <div class="grid-content bg-purple">
			  	<span class="wrapper">
			  		<el-tooltip content="添加新的组织单位！" placement="right">
					    <el-button size="small"  @click="openDialog('add')" icon="plus" type="primary">添加</el-button>
					    <!-- <el-button  @click="">录入客户</el-button>
					    <el-button  @click="">修改客户</el-button> -->
					    <!-- <el-button>计划</el-button>
					    <el-button>推介</el-button> -->
				    </el-tooltip>
				</span>
			  </div>
			  </el-col>
			  <el-col :span="12">
				  <div class="grid-content bg-purple-light pull-right">
				    <!-- page -->
				    <include file="Common:_pagination" />
				    <!-- / page -->
				  </div>
			  </el-col>
			</el-row>
			<!-- / toolbar -->

		</div>

		<div v-show="show" style="display: none">
			<!-- 高级查询 -->
			<include file="_search" />
			<!-- / 高级查询 -->

			<!-- 添加 -->
			<include file="_add" />
			<!-- / 添加 -->

			<!-- 编辑 -->
			<include file="_edit" />
			<!-- / 编辑 -->


			<!-- bigimg -->
			<el-dialog  title="图片放大" :modal="false" size="small" v-model="bigimg" style="z-index:1000;">
			  <div style="margin:0;padding:0;text-align:center;z-index:1000;"><img :src="imageUrl" style="margin-left:-14px;width:850px;height:550px;"></div>
			</el-dialog>
            <!-- bigimg -->
		</div>


	</div>
</block>
<block name="scripts">
<script>
	window.defaultOption.setDatas({
  	    //传输照片上传地址
  	    pathInfo:{folder:'department'},
		//放大图片
        bigimg:false,
        //放大图片地址
        imageUrl:'',
        topO:[],

        //负责主管
        users:[],

        fileList:[
           {name: '', url: ''}
		],
		rules:{
             name:[
                { required: true, message: '请填写单位名称', trigger: 'blur' },
             ],
             type:[
                { required: true, message: '请选择类型', trigger: 'blur' },
             ],
             p_id:[
                { required: true, message: '请选择上级', trigger: 'blur' },
             ],
             zone_id:[
                { required: true, message: '请选择片区', trigger: 'blur' },
             ],
             // contact:[
             //    { required: true, message: '请填写联系人', trigger: 'blur' },
             // ],
             // tel:[
             //    { required: true, message: '请填写联系电话', trigger: 'blur' },
             // ],
             public:[
                { required: true, message: '请选择是否公示', trigger: 'blur' },
             ],
             address:[
                { required: true, message: '请填写地址', trigger: 'blur' },
             ],
		},
		typeList:{:json_encode($typeList)},
		zoneList:{:json_encode($zoneList)},
		userList:{:json_encode($departmentMaster)},
		computedusers:[]

	}).setForm('add', {
		id:'',
		name:"",
		// public:"",
		type:"",
		p_id:"",
		p_name:'',
		zone_id:"",
		expand1:"",
		expand2:"",
		user_id:"",
		f_num:"",
		address:"",
		remark:"",
		img:"",
		zone:""
	}).setForm('edit', {
		id:"",
		name:"",
		public:"",
		type:"",
		p_id:"",
		p_name:'',
		zone_id:"",
		expand1:"",
		expand2:"",
		user_id:"",
		f_num:"",
		address:"",
		remark:"",
		img:"",
	}).setForm('search', {
		name:"",
		id:"0",
		sortFiled:"id",
		sortWay:"asc" // desc
	}).setMethod('imgUrl', function(url){
			return "__ROOT__/Upload/department/"+url
	}).setMethod('bigImg', function(url){
		this.bigimg = true;
		this.imageUrl = "__ROOT__/Upload/department/"+url;
	}).setMethod('uploadImg', function(response, file, fileList){
		this.addForm.img = response.path;
		return response.path;
	}).setMethod('uploadImg_E',function(response, file, fileList){
    	this.editForm.img = response.path;
    }).setAdvancedSearch().setMethod("handleEdit", function(index, row){
		//将此行数据赋给editForm
		var type='edit';
		//console.log(row);
		row['public']=row['public'] == "是"?"1":"0";
		this.initObject(this[FormName.getFormName(type)] , row); 

		//设置显示的图片
		this.fileList = [{name:row.img, url: this.imgUrl(row.img)}];
		this.editIndex = index;
		this.openDialog(type);

	}).setMethod('organization', function(){
		/*return this.dataList.filter(function (value) {
	      return value.p_id == 0 ;
	    })*/
	    var vmThis = this;
	    this.$http.get("{:U('getTopD')}").then(function(response){
	    	vmThis.topO = response.body;
	    })

	}).setMethod('beforeList',function(dataList){
		var vmThis = this;
		dataList.forEach(function(currentValue, index){
			// currentValue['public']   = currentValue.public == 1 ?'是':'否';
			currentValue['typeText'] = vmThis.typeList[currentValue['type']];
			currentValue['zone']     = vmThis.zoneList[currentValue['zone_id']];
		})
		return dataList;
	}).setMethod('typeChange', function(v){

		var vmThis = this;
		//console.log(vmThis.editForm);
	    this.$http.get("{:U('getTopD')}", {params:{type:v}}).then(function(response){
	    	vmThis.topO = response.body;
	    });
	    if (v == 1) {
	    	this.computedusers = [];
	    } else {
	    	this.computedusers = this.userList;
	    }
	}).setMethod('checkDown', function(v){
		this[FormName.getFormName('search')].id = v;
		this.dataReload();
	}).setMethod('editOpen', function(v){
		// 加载上级组织选项
		
		//this.organization(v);
		var vmThis = this;
		//console.log(vmThis.editForm);
	    this.$http.get("{:U('getTopD')}", {params:{type:v}}).then(function(response){
	    	vmThis.topO = response.body;
	    });
		this.computedusers = this.userList;
		console.log(this.computedusers);
	})
</script>

	
</block>