<el-dialog title="添加团队成员" v-model="addMemberFormDialog" @open="beforeAddMember">
<el-form :model="addMemberForm" ref="addMember" :label-width="dialogLabelWidth">
  <el-row>
    
    <el-col :span="12">
        <el-form-item label="备选"  prop="user_ids">
          <el-select multiple  placeholder="请选择" v-model="addMemberForm.user_ids">
            <el-option v-for="member in memberList" :label="member.realname" :value="member.user_id">
              <span style="float: left">{{ member.realname }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">{{ member.group_name }}</span>
            </el-option>
          </el-input>
        </el-form-item>
    </el-col>
  </el-row>
  
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="closeDialog('addMember')">取 消</el-button>
    <el-button type="primary" v-show="!addMemberFormSubmitStatus" @click="addMemberFormSubmit(page.setGroupMemberUrl, 'addMember')" >确 定</el-button>
    <el-button type="primary" v-show="addMemberFormSubmitStatus" :loading="true" >添加中</el-button>
  </div>
</el-dialog>