<extend name="Common:base" />
<block name="head"></block>
<block name="body">
	<div id="app" class="container">
		<div class="wrapp" v-show="show" style="display: none">
			<!-- seach form -->
			<el-row>
				<el-col :span="24">
					<el-form :inline="true" ref="searchForm" :model="searchForm">
					  <el-form-item prop="name"><el-input  placeholder="请输入团队小组名" v-model="searchForm.name"></el-input>
					  </el-form-item>
					  <el-form-item>
					    <el-button type="primary" @click="loadDatalist" icon="search">查询</el-button> 
					    <el-button  icon="close" @click="searchReset">清空</el-button>
			        	<!-- <el-button  @click="openDialog('advancedSearch')" icon="search">高级查询</el-button>  -->
					  </el-form-item>
					</el-form>
				</el-col>
			</el-row>
			<!-- / search form -->

			<!-- datatables  -->
			<el-row>
				<el-col :span="24">
					<el-table 
					:data="dataList"  
					border  
					v-loading="dataLoad"  
					element-loading-text="拼命加载中">
					    <el-table-column type="selection"  align="center" width="50" >
					    </el-table-column>
					    <el-table-column type="index" :formatter="handleIndex" width="65" align="center" label="序号" >
					    </el-table-column>
					    <el-table-column label="团队ID" width="100" align="center" prop="id">
					    </el-table-column>
					    <el-table-column label="团队小组名称" align="center" prop="name">
					    </el-table-column>
						<el-table-column label="团队小组类型" align="center" prop="type">
					    </el-table-column>
						<el-table-column label="上级组织" align="center" prop="p_name">
					    </el-table-column>

					    <el-table-column  inline-template :context="_self"  align="center" label="形象照片" width="100">
					       <div>
					    	<el-tooltip content="点击放大图片" placement="right">
					    	 <img :src="imgUrl(row.img)" @click="bigImg(row.img)" alt="点击放大图片" width="45px" height="45px">
					    	</el-tooltip>	
					       </div>
					    </el-table-column>

						<el-table-column label="联系人(负责人)" align="center" prop="contact">
					    </el-table-column>
						<el-table-column label="联系电话" align="center" prop="tel">
					    </el-table-column>
						<el-table-column label="是否启用" :context="_self" align="center" prop="status">
					     <template scope="scope">
							<div>
						      	<el-switch
								  v-model="scope.row.switch"
								  on-color="#13ce66"
								  off-color="#ff4949" 
								  @change="switchHandle(scope.$index, scope.row)">
								</el-switch>
							</div>
                         </template>
					    </el-table-column>
					    <el-table-column label="说明备注" align="center" prop="remark">
					    </el-table-column>
					    <el-table-column :context="_self"  fixed="right"  label="操作" align="center" width="140" >
					     <template scope="scope">
					      <span>
					        <el-button @click="handleEdit(scope.$index, scope.row)" type="info" size="small">编辑</el-button>
					        <el-button @click="handleDelete(scope.$index,scope.row)"  type="danger" size="small">删除</el-button>
					      </span>
					     </template>
					    </el-table-column>
				    </el-table>
				</el-col>
			</el-row>
			<!-- / datatables  -->


			<!-- toolbar -->
			<el-row type="type"  justify="space-between" align="middle"  class="row-bg">
			  <el-col :span="12">
				  <div class="grid-content bg-purple">
				  	<span class="wrapper">
	                  <el-tooltip content="添加新的团队小组" placement="right">
	                    <el-button size="small" @click="openDialog('add')" icon="plus" type="primary">添加
	                    </el-button>
	                  </el-tooltip>
					</span>
				  </div>
			  </el-col>
			  <el-col :span="12">
				  <div class="grid-content bg-purple-light pull-right">
				    <!-- page -->
				    	<include file="Common:_pagination" />
				    <!-- / page -->
				  </div>
			  </el-col>
			</el-row>
			<!-- / toolbar -->

		</div>

		<div class="dialogWrapper" v-show="show" style="display: none">
			<!-- 高级查询 -->
			<include file="_search" />
			<!-- / 高级查询 -->

			<!-- 添加 -->
			<include file="_add" />
			<!-- / 添加 -->

			<!-- 编辑 -->
			<include file="_edit" />
			<!-- / 编辑 -->
            
			<!-- 终止小组(暂时去掉) -->
			<include file="_stop" />
			<!-- / stop -->
			<!-- bifimg -->
			<el-dialog  title="图片放大" :modal="false" size="small" v-model="bigimg" style="z-index:1000;">
			  <div style="margin:0;padding:0;text-align:center;z-index:1000;">
			  	<img :src="imageUrl" style="margin-left:-14px;width:850px;height:550px;">
			  </div>
			</el-dialog>
			<!-- bigimg -->
		</div>
		
	</div>
</block>
<block name="scripts">
<script>
  window.defaultOption.setDatas({
  	 //传输照片上传地址
  	 pathInfo:{folder:'group'},
     //放大照片
     bigimg:false,
     //放大图片地址
     imageUrl:'',

     //状态值
     statusForm:{
        id:0,
        status:'1',
     },

     fileList:[
       {name:'',url:''}
     ],
     rules:{
             name:[
                { required: true, message: '请填写单位名称', trigger: 'blur' },
             ],
             type:[
                { required: true, message: '请选择类型', trigger: 'blur' },
             ],
             contact:[
                { required: true, message: '请填写联系人', trigger: 'blur' },
             ],
             tel:[
                { required: true, message: '请填写联系电话', trigger: 'blur' },
             ],
	 }
  }).setForm('add',{
  	id:'',
  	name:"",
  	type:"",
  	p_name:"",
  	contact:'',
  	tel:"",
  	status:"",
  	remark:"",
  	img:'',
  }).setForm('edit',{
  	id:'',
  	name:"",
  	type:"",
  	p_name:"",
  	contact:'',
  	tel:"",
  	status:"",
  	remark:"",
  	img:'',
  }).setForm('search',{
	name:"",
	input:"",
	sortFiled:"id",
	sortWay:"asc" // desc
  }).setMethod('imgUrl',function(url){
  	 return "__ROOT__/Upload/group/"+url
  }).setMethod('bigImg',function(url){

  	this.bigimg=true;

  	this.imageUrl="__ROOT__/Upload/group/"+url;
  }).setMethod('uploadImg',function(response,file,fileList){
  	this.addForm.img=response.path;
  	return response.path;
  }).setMethod('uploadImg_E',function(response,file,fileList){
  	this.editForm.img=response.path;
  }).setMethod('handleEdit',function(index,row){
	//将此行数据赋给editForm
	var type='edit';
	this.initObject(this[FormName.getFormName(type)] , row); 
	//设置显示的图片
	this.fileList = [{name:row.img, url: this.imgUrl(row.img)}];
	this.editIndex = index;
	this.openDialog(type);
  }).setMethod('beforeList',function(dataList){
  	dataList.forEach(function(currentValue,index){
  		currentValue['switch']=currentValue.status==1?true:false;
  	})
  	return dataList;
  }).setMethod('switchHandle',function(index,row){
    row.status=row.switch?'1':'0';
    this.initObject(this.statusForm, row);
    this.statusIndex=index;
    var vmThis =this;
    this.$http.post(page.editFormUrl,this.statusForm).catch(function(response){
    	vmThis.$message({
    		message:'状态更改失败',
    		type:'error'
    	});
    	vmThis.dataList[vmThis.statusIndex].switch = !vmThis.dataList[vmThis.statusIndex].switch;
    });
  });
</script>
</block>