<extend name="Common:base" />
<block name="head">
  <style>
    .el-tabs__header{
      border-top:2px solid #ea4b4b;
      border-bottom: 1px solid #c51f1f;
    }
    .el-dialog .el-tabs__header{
      border-top:none;
    }
    .el-tabs--border-card .el-tabs__item{
      border-left: none;
    }
    .el-tabs--border-card .el-tabs__item.is-active {
      background-color: #fff;
      border-right-color: #d3dce6;
      background: #544b8f;
      color: #fff;
    }
    .el-tabs--border-card .el-tabs__header {
      background-color: #fff;
      margin: 0;
    }
    .container > .wrapp > .a > .el-row {
      margin-bottom: 6px;
    }
    .el-tabs--border-card .el-tabs__content{
      padding:0 9px 5px 9px;
    }
    .el-card, .el-menu--horizontal .el-submenu>.el-menu, .el-tabs--border-card{
      box-shadow: none;
    }
    .el-tabs--border-card{
      border: none;
    }
    .el-table__body tr.current-row>td{
      background: rgba(157, 195, 232, 0.7);
    }
  </style>
</block>
<block name="body">
  

<div id="app" class="container">

<div class="wrapp" id="appx" v-show="show" style="display: none;">
  <!-- <div class="a" style="border:1px solid red;"> -->
  <div class="a" id="app3">
  <el-row>
    <el-alert
      title="此界面默认显示上周部门的统计结果,今日还未结束故只能统计到昨天及以前日期的数据,当查询队员时点击某一行可显示其订单！！！"
      type="info"
      show-icon>
    </el-alert>
  </el-row>
  <el-row>
    <el-col :span="24">
      <el-form :inline="true" ref="searchForm" :model="searchForm">
        <el-form-item prop="start">
          <el-date-picker size="small" v-model="searchForm.start" 
            placeholder="请选择起日期" :picker-options="setPicker"
            @change="startDateChange" :clearable="false">
          </el-date-picker>
        </el-form-item>
        <el-form-item prop="end">
          <el-date-picker size="small" 
            v-model="searchForm.end" 
            placeholder="请选择止日期" :picker-options="setPicker"
            @change="endDateChange" :clearable="false">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button size="small" @click="setField('lastWeek')">上周</el-button>
          <el-button size="small" @click="setField('lastMonth')">上月</el-button>
          <el-button size="small" @click="setField('week')">本周</el-button>
          <el-button size="small" @click="setField('month')">本月</el-button>
        </el-form-item>

        <el-form-item>
          <el-select size="small" style="width:120px;" v-model="searchForm.type" placeholder="查询类型" @change="allTypeChange">
            <el-option v-for="item in searchGroup" :label="item.key" :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item prop="department_id">
          <el-tooltip content="选择某个部门后点击查询或者继续选择下属小组再查询" placement="bottom-start">
            <el-select size="small" style="width:120px;" :clearable="depClearable" filterable v-model="searchForm.department_id" placeholder="请选择部门" @change="depChange">
              <el-option v-for="dep in Alldeps" :value="dep.id" :label="dep.name"></el-option>
            </el-select>
          </el-tooltip>
        </el-form-item>

        <el-form-item prop="group_id">
          <el-tooltip content="必须先选择部门方可选择团组后点击查询或者继续选择下属队员再查询" placement="bottom-start">
            <el-select size="small" style="width:120px;" :disabled="ctrlSelect" clearable filterable  v-model="searchForm.group_id" @change="groupChange" placeholder="请选择小组">
              <el-option v-for="group in groups" :value="group.id" :label="group.name"></el-option>
            </el-select>
          </el-tooltip>
        </el-form-item>

        <el-form-item>
          <el-button type="info" size="small" icon="search"  @click="loadDatalist" >查询</el-button> 
          <el-tooltip content="清空搜索框并刷新表格数据" placement="bottom-start">
            <el-button size="small" @click="resetBack" style="margin-left:10px;">重置</el-button>
          </el-tooltip>
        </el-form-item>
        <el-form-item>
          <el-tooltip content="点击刷新当前页面" placement="right">
            <el-button @click="refresh" size="small" type="danger">刷新</el-button>
          </el-tooltip>
        </el-form-item>
      </el-form>
    </el-col>
  </el-row>
  <!-- max-height="500" -->

  <el-row>
    <el-col :span="24">
      <el-table 
      :data="dataList" 
      border v-loading="dataLoad" 
      element-loading-text="{:L('DATA_LOGIN')}" 
      highlight-current-row empty-text="暂无数据" @row-click="orderInfo"
      @sort-change="sortChange" ref="select">
        <el-table-column label="序号"  align="center" width="65" :formatter="handleIndex">
        </el-table-column>
        <el-table-column header-align="center" prop="name" label="部门/小组/员工" width="200">
        </el-table-column>

        <el-table-column  prop="self_amount" label="自锁成交金额" width="200">
        </el-table-column>

        <el-table-column  prop="spread_amount" label="推广成交金额" width="200">
        </el-table-column>

        
        
        <el-table-column sortable="custom"  align="center" prop="order_num" label="业绩总数(个)">
        </el-table-column>
        <el-table-column sortable="custom"  align="center" prop="sale_amount" label="成交金额总数(元)">
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>

  <!-- toolbar -->
  <el-row type="type"  justify="space-between" align="middle"  class="row-bg">

    <el-col :span="12" :offset="12">
      <div class="grid-content bg-purple-light pull-right">

        <!-- page -->
        <include file="Common:_pagination" />
        <!-- / page -->
        
      </div>
    </el-col>

  </el-row>
  </div>
  

  <div id="app2" class="b" style="margin:5px -10px 5px;" v-show="ctrlOrdershow">
    <el-row>
     <el-col :span="24">
        <el-tabs  type="border-card">
          <el-tab-pane label="员工订单">
            <el-table :data="tableData"  empty-text="请点击员工显示员工订单信息" border style="width: 100%">
              <el-table-column label="序号" align="center" width="65" type="index"></el-table-column>
              <el-table-column prop="date" label="订单日期" align="center"></el-table-column>
              <el-table-column prop="money" label="成交金额" header-align="center"></el-table-column>
              <el-table-column prop="production" label="成交产品" header-align="center"></el-table-column>
              <el-table-column prop="cus_name" label="成交客户" header-align="center"></el-table-column>
              <el-table-column prop="create_name" label="开单人员" header-align="center"></el-table-column>
              <!-- <el-table-column prop="info" label="订单详情" header-align="center"></el-table-column> -->
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="自锁明细">
            <el-table :data="tableData2"  empty-text="请点击员工显示员工订单信息" border style="width: 100%">
              <el-table-column label="序号" align="center" width="65" type="index"></el-table-column>
              <el-table-column prop="date" label="订单日期" align="center"></el-table-column>
              <el-table-column prop="money" label="成交金额" header-align="center"></el-table-column>
              <el-table-column prop="production" label="成交产品" header-align="center"></el-table-column>
              <el-table-column prop="cus_name" label="成交客户" header-align="center"></el-table-column>
              <el-table-column prop="create_name" label="开单人员" header-align="center"></el-table-column>
              <el-table-column prop="info" label="订单详情" header-align="center"></el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="推广明细">
            <el-table :data="tableData3"  empty-text="请点击员工显示员工订单信息" border style="width: 100%">
              <el-table-column label="序号" align="center" width="65" type="index"></el-table-column>

              <el-table-column prop="customer_name" label="客户姓名" align="left"></el-table-column>
              <el-table-column prop="phone" label="联系方式" align="center"></el-table-column>
              <el-table-column prop="product_name" label="产品类型" align="left"></el-table-column>
              <el-table-column prop="paid_in" label="成交金额" header-align="center"></el-table-column>
              <el-table-column prop="buy_time" label="成交时间" align="center"></el-table-column>
              <el-table-column prop="created_at" label="开单时间" align="center"></el-table-column>
              <el-table-column prop="user_name" label="推广员工" header-align="center"></el-table-column>
              <el-table-column prop="mphone" label="推广员工联系方式" header-align="left"></el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
     </el-col>
    </el-row>
  </div>


</div>

<div class="dialogWrapper" v-show="show" style="display: none">
  <!-- 录入高级查询条件 -->
  
  <!-- 客户预查 -->
</div>

</div>
</block>
<block name="scripts">
<script>
function toInt(v){
  return parseInt(v);
}
</script>
<script src="__PUBLIC__/js/calculate.js?ef=a"></script>
<script>

  window.defaultOption.setDatas({
    ctrlOrdershow:false,
    setPicker:{
      disabledDate:function(time) {
        return time.getTime() > Date.now() - 8.64e7;
      }
    },
    groups:[],
    users:[],
    sortMap:{
      descending:'desc',
      ascending:'asc'
    },
    Alldeps:{:json_encode($Alldeps)},
    searchGroup:{:json_encode($searchGroup)},
    ctrlSelect:false,
    depClearable:true,
    oldDepValue:'',
    oldGroupValue:'',
    tableData:[],
    tableData2:[],
    tableData3:[],

  }).setForm('search', {
    type:'',
    start:'',
    end:'',
    department_id:"{$initDep}",
    group_id:''
  }).setMethod('loadDatalist',function(){

    if (this.searchForm.start > this.searchForm.end) {
      this.$message.error("请选择正确的时间段");
      return ;
    }


    this.ctrlOrdershow = this.searchForm.type == 'user' ? true : false;
    var vmThis = this;
    var params = {p:this.currentPage};
    for (var x in this.searchForm ){
      if (this.searchForm[x]!="") {
        params[x] = this.searchForm[x];
      }
    }
    this.$http.get(page.listUrl, {params:params}).then(function(response){

      // 在显示之前 对数据进行处理
      if (this.beforeList) {
        vmThis.$set(vmThis, 'dataList', this.beforeList(response.body.list));
      } else {
        vmThis.$set(vmThis, 'dataList', response.body.list);
      }
      vmThis.$set(vmThis, 'total',    parseInt(response.body.count));
    }, function(response) {
      vmThis.$message({
        message: '获取数据失败：'+ response.body.info,
        type: 'error'
      });
    }).finally(function(){
      vmThis.$set(vmThis, 'dataLoad', false);
    })

  }).setVueHook('mounted', function(){
    this.searchForm.start = showLastWeekFirstDay();
    this.searchForm.end   = showLastWeekLastDay(); 
    this.searchForm.type   = 'department'; 

    if(this.Alldeps.length <=1 ){
      this.depClearable = false;
    }

    if(this.searchForm.department_id != ""){
      this.depChange(this.searchForm.department_id);
    }

    this.loadDatalist();
  }).setMethod('startDateChange', function(v){
      this.searchForm.start = v;
  }).setMethod('endDateChange', function(v){
      this.searchForm.end = v;
  }).setMethod('setField', function(v){
      if (v=='week') {
        this.searchForm.start = showWeekFirstDay();
        this.searchForm.end   = showWeekLastDay();

      } else if(v=='month'){
        this.searchForm.start = showMonthFirstDay();
        this.searchForm.end   = showMonthLastDay();
      } else if(v=='lastMonth'){
        this.searchForm.start = showLastMonthFirstDay();
        this.searchForm.end   = showLastMonthLastDay(); 
      } else if(v=='lastWeek'){
        this.searchForm.start = showLastWeekFirstDay();
        this.searchForm.end   = showLastWeekLastDay(); 
      }

      this.ctrlOrdershow = this.searchForm.type == 'user' ? true : false;

      this.dataLoad = true;
      this.loadDatalist();
  }).setMethod('allTypeChange',function(v){
    this.ctrlSelect = v=="department" ? true : false;
  }).setMethod('depChange',function(v){
    if(v != this.oldDepValue){
      this.searchForm.group_id = "";
    }
    this.searchForm.department_id = v;
    var vmThis = this;
    //小组
    this.$http.get("{:U('getGroups')}", {params:{department_id:v} }).then(function(response){
      var groups = [];
      response.body.forEach(function(currentValue,index){
        groups.push({id: currentValue.id, name: currentValue.name});
      })
      vmThis.$set(vmThis, 'groups', groups);
    });
    this.oldDepValue = v;
  }).setMethod('groupChange',function(v){
    if(v != this.oldGroupValue){
      this.searchForm.user_id = ""; 
    }
    this.searchForm.group_id = v;
    var d = this.searchForm.department_id;
    var vmThis = this;
    //员工
    this.$http.get("{:U('getUsers')}", {params:{group_id:v,department_id:d} }).then(function(response){
      var users = [];
      response.body.forEach(function(currentValue,index){
        users.push({id: currentValue.id, name: currentValue.realname});
      })
      vmThis.$set(vmThis, 'users', users);
    });
    this.oldGroupValue = v;
  }).setMethod('userChange',function(v){
    this.searchForm.user_id = v;
  }).setMethod('resetBack', function(){
    // this.$refs.searchForm.resetFields();
    // this.searchForm.type = "";
    // this.dataLoad = true;
    // this.loadDatalist();
    window.location.href="{:U('index')}";
  }).setMethod('sortChange', function(info){
    if (info) {
      this.searchForm.sort_field = info.prop;
      this.searchForm.sort_order = this.sortMap[info.order];
    } else {
      delete this.searchForm.sort_field;
      delete this.searchForm.sort_order;
    }
    this.dataReload();
  }).setMethod('orderInfo',function(row,event,column){
    if(this.searchForm.type == 'user'){
      var user_id = row.id;
      var department_id = row.department_id;
      var group_id = row.group_id;
      var start = this.searchForm.start;
      var end = this.searchForm.end;
      var data={
        user_id:user_id,
        department_id:department_id,
        start:start,
        end:end
      };
      this.$http.get("{:U('getOrderInfo')}",{params:data}).then(function(response){
        this.tableData = response.body.list1;
        this.tableData2 = response.body.list2;
        this.tableData3 = response.body.list3;
      },function(response){
        console.log("查询失败");
      });
    }
  
  });
</script>
</block>